<div class="container">
  <div class="row hidden-print">
    <div class="col-12">
      <h2>Club Generator for Cyberpunk 2020/Cyberpunk Red</h2>
      <p>
        This unofficial utility to help create clubs on the fly as well as the
        club goers patronizing it. These charts were provide to me by subreddit
        Cyberpunk 2020 member MurdocAddams. Appreciate the input from the
        community on this.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-club-display></cs-club-display>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-clubber-display></cs-clubber-display>
    </div>
  </div>
</div>
