<div class="container">
<div class="row">
  <div class="col-12">
    <h2>Netrunner World/Regional Map Utility</h2>
    <cs-nrdebug [showDebug]="false"></cs-nrdebug>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <cs-nrnavigator></cs-nrnavigator>
  </div>
  <div class="col-sm-8">
    <cs-nr-traceview></cs-nr-traceview>
    <cs-nrinstruct></cs-nrinstruct>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <cs-nr-map-grid></cs-nr-map-grid>
    <!--
    <cs-nrmap></cs-nrmap>
    -->
  </div>
</div>
</div>
