<div class="container">
  <div class="hidden-print">
    <h3>Character Generator for Cyberpunk 2020</h3>
  </div>
  <hr color="#999999" class="w-100 pt-0 pb-0 mt-0 mb-0">
  <div class="row hidden-print">
    <div class="col-6">
      <button #charGenInstructions title="Instructions" class="csd-chargen-btn csd-btn me-2"
      (click)="openModal(instructions)" (keyup.enter)="openModal(instructions)" tabindex="0">
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
      <fa-icon [icon]="faUndo" title="Reset the sheet to a blank character" class="csd-chargen-btn csd-btn ms-2"
        (click)="resetCharacter()" (keyup.enter)="resetCharacter()" tabindex="0"></fa-icon>
    </div>
    <div class="col-6 text-end">
      <fa-icon [icon]="faSave" title="Save the character to a file" class="csd-chargen-btn csd-btn me-2"
        (click)="saveCharacter()" (keyup.enter)="saveCharacter()" tabindex="0"></fa-icon>
      <input type="file" id="loadFile" title="load a character .txt file" name="Load" Style="display: none"
        (change)="loadCharacter($event)" #inputFile (click)="inputFile.value = null" (keyup.enter)="inputFile.value = null"
        tabindex="0" accept="text/plain;text/json" />
      <label for="loadFile" class="csd-btn me-2">
        <fa-icon [icon]="faUpload" title="load a character .txt file"></fa-icon>
      </label>
      <fa-icon [icon]="faFilePdf" class="csd-chargen-btn csd-btn me-2" (click)="createPDF()"
        (keyup.enter)="createPDF()" tabindex="0" title="Export as a PDF file"></fa-icon>
      <button #charGenSettingElem class="csd-chargen-btn csd-btn me-2 btn-light btn-outline-light"
        title="Show form settings" tabindex="0"
        (click)="openModal(charFormSettings)" (keyup.enter)="openModal(charFormSettings)">
        <fa-icon  [icon]="faCog"></fa-icon>
      </button>
    </div>
  </div>
  <hr color="#999999" class="w-100 pt-0 pb-0 mt-0">
  <div class="row" #pdfCP2020Character>
    <div class="col">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <cs-app-character-handle [handle]="character.handle" (changeHandle)="changeHandle($event)">
          </cs-app-character-handle>
          <cs-cp2020-role-section [primaryRole]="character.role" [secondaryRoles]="character.secondaryRoles"
            (changePrimaryRole)="changeRole($event)" (changeSecondaryRoles)="changeSeconaryRole($event)"
            [isIU]="character.isIU"></cs-cp2020-role-section>
          <cs-cp2020-rep-section [rep]="character.skills.rep" (changeRep)="changeRep($event)"></cs-cp2020-rep-section>
          <cs-cp2020-stats [stats]="character.stats" (changeStats)="changeStats($event)" [combatSense]="combatSense"
            [initiativeSkill]="initiative">
          </cs-cp2020-stats>
        </div>
        <div class="col-sm-12 col-lg-6">
          <cs-cp2020-armor-table [armor]="character.armor" (changeArmor)="changeArmor($event)"
            (damageCharacter)="woundCharacter($event)" [showRandom]="true">
          </cs-cp2020-armor-table>
          <cs-cp2020-save-wounds [stats]="character.stats" (changeStats)="changeStats($event)"></cs-cp2020-save-wounds>
        </div>
      </div>
      <div class="row print-fix">
        <div class="col-12">
          <cs-cp2020-skill-list-full [stats]="character.stats" [skills]="character.skills"
            [isCollapsed]="charGenSettings.isCollapsed" [skillSettings]="charGenSettings.skillSettings"
            (changeSKills)="changeSkills($event)"></cs-cp2020-skill-list-full>
        </div>
      </div>
      <div class="row print-fix csd-linebreak">
        <div class="col">
          <cs-cp2020weapontable [weapons]="character.weapons" [stats]="character.stats" [skills]="character.skills"
            [showRandomGenerator]="true" [showSelector]="true" [showCalculator]="true" [showIU]="character.isIU"
            [showAmmo]="true" [isCollapsed]="charGenSettings.isCollapsed" (changeWeapons)="changeWeapons($event)">
          </cs-cp2020weapontable>
        </div>
      </div>
      <div class="row print-fix csd-linebreak mt-2">
        <div class="col">
          <cs-cp2020-armor-section [isCollapsed]="charGenSettings.isCollapsed" [armorBlock]="character.armor"
            (changeArmor)="changeArmor($event)"></cs-cp2020-armor-section>
        </div>
      </div>
      <div class="row print-fix csd-linebreak g-0">
        <div class="col">
          <cs-cp2020-cyberware-table [cyberList]="character.cyberware" (changeList)="changeCyber($event)"
            [showTwoColumns]="true" [isCollapsed]="charGenSettings.isCollapsed">
          </cs-cp2020-cyberware-table>
        </div>
      </div>

      <div class="row print-fix">
        <div class="col">
          <cs-app-character-gear [gear]="character.gear" (changeGear)="changeGear($event)"
            [isCollapsed]="charGenSettings.isCollapsed"></cs-app-character-gear>
        </div>
      </div>
      <div class="row print-fix mt-1">
        <div class="col">
          <cs-cp2020-cyber-deck-section [isCollapsed]="charGenSettings.isCollapsed"
            (updateCyberdeckPrograms)="changeCyberdeckPrograms($event)"
            [cyberdeckManager]="character.cyberdeckPrograms"></cs-cp2020-cyber-deck-section>
        </div>
      </div>
      <div class="row print-fix csd-linebreak">
        <div class="col">
          <cs-cp2020-vehicle-table [vehicles]="character.vehicles" [isCollapsed]="charGenSettings.isCollapsed"
            (update)="changeVehicles($event)"></cs-cp2020-vehicle-table>
        </div>
      </div>

      <div class="row print-fix">
        <div class="col">
          <cs-cp2020-lifestyle [lifeStyle]="character.lifeStyle" [isCollapsed]="charGenSettings.isCollapsed"
            (updateLifeStyle)="changeLifestyle($event)">
          </cs-cp2020-lifestyle>
        </div>
      </div>
      <div class="row print-fix csd-linebreak g-0">
        <div class="col">
          <cs-cp2020-lifepath-section [lifepath]="character.lifepath" [isCollapsed]="charGenSettings.isCollapsed"
            [isAlwaysEventful]="charGenSettings.lifePathEvents" [eventYears]="charGenSettings.lifePathYears"
            [source]="charGenSettings.lifePathSource" (changeLifepath)="changeLifepath($event)">
          </cs-cp2020-lifepath-section>
        </div>
      </div>
      <div class="chargen-label chargen-fill chargen-page-header csd-linebreak">
        <h4 class="d-inline-block csd-btn me-4" (click)="isNotesCollapsed = !isNotesCollapsed"
          (keyup.enter)="isNotesCollapsed = !isNotesCollapsed" tabindex="0">
          NOTES
          <fa-icon [icon]="collapseChevron" class="csd-icon-btn csd-icon-xl ms-2"></fa-icon>
        </h4>
      </div>
      <textarea [collapse]="isNotesCollapsed" [(ngModel)]="character.notes" class="chargen-notes"></textarea>
    </div>
  </div>
</div>

<ng-template #instructions>
  <div class="modal-header">
    <h4>CHARACTER GENERATOR CP2020 INSTRUCTIONS</h4>
    <button type="button" class="btn-close float-end" aria-label="Close"
      (click)="closeModal()" (keyup.enter)="closeModal('instructions')" tabindex="0">
    </button>
  </div>
  <div class="modal-body">
    <cs-app-character-instruction></cs-app-character-instruction>
  </div>
</ng-template>

<ng-template #charFormSettings>
  <div class="modal-header">
    <h4>CHARACTER GENERATOR CP2020 SETTINGS</h4>
    <button type="button" class="btn-close float-end" aria-label="Close"
      (click)="closeModal()" (keyup.enter)="closeModal('settings')" tabindex="0"></button>
  </div>
  <div class="modal-body">
    <cs-app-character-settings [settings]="charGenSettings" [sources]="sources" (updateSettings)="saveSettings($event)"></cs-app-character-settings>
  </div>
</ng-template>
