<div class="container">
  <div class="hidden-print d-none d-md-block">
    <h3>Character Generator for Cyberpunk 2020</h3>
  </div>
  <hr color="#999999" class="w-100 pt-0 pb-0 mt-0 mb-0" />
  <div class="row hidden-print">
    <div class="col-7 align-top">
      <button
        #charGenInstructions
        title="Instructions"
        class="csd-chargen-btn csd-btn me-2"
        (click)="openModal(instructions)"
        (keyup.enter)="openModal(instructions)"
        tabindex="0"
      >
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
      <fa-icon
        [icon]="faUndo"
        title="Reset the sheet to a blank character"
        class="csd-chargen-btn csd-btn ms-2"
        (click)="resetCharacter()"
        (keyup.enter)="resetCharacter()"
        tabindex="0"
      ></fa-icon>
      <div class="d-inline-block d-md-none text-small fw-bold float-end text-center">
      2020 CHARACTER<br>GENERATOR
      </div>
    </div>
    <div class="col-5 text-end">
      <fa-icon
        [icon]="faSave"
        title="Save the character to a file"
        class="csd-chargen-btn csd-btn me-2"
        (click)="saveCharacter()"
        (keyup.enter)="saveCharacter()"
        tabindex="0"
      ></fa-icon>
      <input
        type="file"
        id="loadFile"
        title="load a character .txt file"
        name="Load"
        Style="display: none"
        (change)="loadCharacter($event)"
        #inputFile
        (click)="inputFile.value = null"
        (keyup.enter)="inputFile.value = null"
        tabindex="0"
        accept="text/plain;text/json"
      />
      <label for="loadFile" class="csd-btn me-2">
        <fa-icon [icon]="faUpload" title="load a character .txt file"></fa-icon>
      </label>
      <fa-icon
        [icon]="faFilePdf"
        class="csd-chargen-btn csd-btn me-2"
        (click)="createPDF()"
        (keyup.enter)="createPDF()"
        tabindex="0"
        title="Export as a PDF file"
      ></fa-icon>
<!--      <fa-icon
        [icon]="faFilePdf"
        class="csd-chargen-btn csd-btn me-2"
        (click)="createFastDirtyPDF()"
        (keyup.enter)="createFastDirtyPDF()"
        tabindex="0"
        title="Export as Fast & Dirty PDF"
      ></fa-icon>

      <fa-icon
        [icon]="faIdBadge"
        class="csd-chargen-btn csd-btn me-2"
        (click)="createPDF()"
        (keyup.enter)="createPDF()"
        tabindex="0"
        title="Export as a Fast & Dirty Sheet"
      ></fa-icon>
      -->
      <button
        #charGenSettingElem
        class="csd-chargen-btn csd-btn me-2 btn-light btn-outline-light"
        title="Show form settings"
        tabindex="0"
        (click)="openModal(charFormSettings)"
        (keyup.enter)="openModal(charFormSettings)"
      >
        <fa-icon [icon]="faCog"></fa-icon>
      </button>
    </div>
  </div>
  <hr color="#999999" class="w-100 pt-0 pb-0 mt-0" />
  <div class="d-none d-md-block">
<cs-app-character-generator-full-layout [charGenSettings]="charGenSettings" (updateSettings)="saveSettings($event)"></cs-app-character-generator-full-layout>
</div>
<div class="d-block d-md-none">
  <cs-app-character-generator-mobile-layout [charGenSettings]="charGenSettings" (updateSettings)="saveSettings($event)"></cs-app-character-generator-mobile-layout>
</div>
</div>

<ng-template #instructions>
  <div class="modal-header">
    <h4>CHARACTER GENERATOR CP2020 INSTRUCTIONS</h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="closeModal()"
      (keyup.enter)="closeModal('instructions')"
      tabindex="0"
    ></button>
  </div>
  <div class="modal-body">
    <cs-app-character-instruction></cs-app-character-instruction>
  </div>
</ng-template>

<ng-template #charFormSettings>
  <div class="modal-header">
    <h4>CHARACTER GENERATOR CP2020 SETTINGS</h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="closeModal()"
      (keyup.enter)="closeModal('settings')"
      tabindex="0"
    ></button>
  </div>
  <div class="modal-body">
    <cs-app-character-settings
      [settings]="charGenSettings"
      [sources]="sources"
      (updateSettings)="saveSettings($event)"
    ></cs-app-character-settings>
  </div>
</ng-template>
