<div *ngIf="dataList$ | async as unitList" class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-3 col-md-1">
        <cs-cr-cz-faction-selector [selectedFaction]="filterFaction"
          (selected)="setFaction($event)"></cs-cr-cz-faction-selector>
      </div>
      <div class="col-9 col-md-5">
        <input [(ngModel)]="searchName" type="text" class="no-style w-100" placeholder="Search on card name...">
        <input [(ngModel)]="searchKeywords" type="text" class="no-style w-100" placeholder="Search for keyword...">
        <cs-cr-cz-source-selector [filter]="unitlist | uniqueValues:'release'" (selectedSource)="filterOnRelease($event)"></cs-cr-cz-source-selector>
      </div>

      <div class="col-3 col-md-1 pt-1">
        <button class="btn csd-btn border border-secondary"
          title="{{showSelected ? 'Hide' : 'Show'}} already team members" (click)="showSelected = !showSelected">
          <fa-icon [icon]="showSelected ? faUsers : faUsersSlash" size="xl"></fa-icon>
        </button>
      </div>
      <div class="col-9 col-md-3">
        Cred:
        <div class="btn-group">
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': streetCredFilter?.includes(0)}"
            [class.active]="streetCredFilter?.includes(0)" btnCheckbox tabindex="0" (click)="toggleCredFilter(0)"
            role="button">0<fa-icon [icon]="faStar"></fa-icon></label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': streetCredFilter?.includes(1)}"
            [class.active]="streetCredFilter?.includes(1)" btnCheckbox tabindex="0" (click)="toggleCredFilter(1)"
            role="button">1<fa-icon [icon]="faStar"></fa-icon></label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': streetCredFilter?.includes(2)}"
            [class.active]="streetCredFilter?.includes(2)" btnCheckbox tabindex="0" (click)="toggleCredFilter(2)"
            role="button">2<fa-icon [icon]="faStar"></fa-icon></label>
        </div>
      </div>
      <div class="col-9 col-md-3">
        <div class="btn-group">
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': skillFilter?.includes('reflex')}"
            [class.active]="skillFilter?.includes('reflex')" btnCheckbox tabindex="0" (click)="toggleSkill('reflex')"
            role="button">
            <img alt="Has Reflex skill" class="csd-img-icon" src="img/cz/action_reflex.png"/>
          </label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': skillFilter?.includes('melee')}"
            [class.active]="skillFilter?.includes('melee')" btnCheckbox tabindex="0" (click)="toggleSkill('melee')"
            role="button">
            <img alt="Has Melee skill" class="csd-img-icon" src="img/cz/action_melee.png"/>
          </label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': skillFilter?.includes('ranged')}"
            [class.active]="skillFilter?.includes('ranged')" btnCheckbox tabindex="0" (click)="toggleSkill('ranged')"
            role="button">
            <img alt="Has Ranged skill" class="csd-img-icon" src="img/cz/action_ranged.png"/>
          </label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': skillFilter?.includes('med')}"
            [class.active]="skillFilter?.includes('med')" btnCheckbox tabindex="0" (click)="toggleSkill('med')"
            role="button">
            <img alt="Has Med skill" class="csd-img-icon" src="img/cz/action_med.png"/>
          </label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': skillFilter?.includes('tech')}"
            [class.active]="skillFilter?.includes('tech')" btnCheckbox tabindex="0" (click)="toggleSkill('tech')"
            role="button">
            <img alt="Has Tech skill" class="csd-img-icon" src="img/cz/action_tech.png"/>
          </label>
          <label [ngClass]="{'btn rounded':true,'fw-bold text-large': skillFilter?.includes('influence')}"
            [class.active]="skillFilter?.includes('influence')" btnCheckbox tabindex="0" (click)="toggleSkill('influence')"
            role="button">
            <img alt="Has Influence skill" class="csd-img-icon" src="img/cz/action_influence.png"/>
          </label>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let unit of unitList
    |contains:'name': searchName
    |contains: 'keywords': filterFaction
    |contains:'keywords':searchKeywords
    |contains:'release':releaseFilter
    ">
      <div *ngIf="showUnit(unit)" [ngClass]="{'row py-2 border-bottom border-secondary': true}">
        <div class="col-12">
          <ng-container [ngTemplateOutlet]="unitRow"
            [ngTemplateOutletContext]="{name: unit.name, keywords: unit.keywords,  ranks: unit.ranks, cost: unit.eb}"></ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #unitRow let-name="name" let-keywords="keywords" let-ranks="ranks" let-cost="cost">
  <ng-container *ngFor="let unit of ranks;index as i">
    <div *ngIf="streetCredFilter.includes(unit?.cred)"
      [ngClass]="{ 'row mt-2': true, 'bg-warning': hasUnit(name, unit?.cred),'d-none': (!showSelected && hasUnit(name, unit?.cred)) }"
      [title]="disabledMessage(keywords, name)">
      <div *ngIf="disabledMessage(keywords, name)" class="col-12 text-small ps-5">
        {{disabledMessage(keywords, name)}}
      </div>
      <div class="col-2 col-md-1 text-center px-0">
        <button title="Add character to squad." class="border border-secondary text-center rounded csd-btn p-2"
          (click)="add(name, unit.cred)" [disabled]="(hasLeader && isLeader(keywords)) || (hasSpecialist(name))">
          <fa-icon [icon]="faPlus" size="xl"></fa-icon>
        </button>
        <div>{{countOfUnit(name, unit.cred) + ' ' }}</div>
      </div>
      <div
        [ngClass]="{'col-8 col-md-5 text-capitalize rounded': true, 'text-secondary': (hasLeader && isLeader(keywords)) || (hasSpecialist(name))}">
        <div class="row">
          <div class="col-3 col-md-1 px-0">
            <img alt="Unit card for {{name}}" class="csd-img-icon w-100" [tooltip]="FullImage" container="body"
              containerClass="w-100" src="img/cz/units/{{name?.replaceAll(' ', '_')}}_{{unit.cred}}.jpg">
            <ng-template #FullImage>
              <img class="w-100" alt="Unit card for {{name}}"
                src="img/cz/units/{{name?.replaceAll(' ', '_')}}_{{unit.cred}}.jpg">
            </ng-template>
          </div>
          <div class="col-8 col-md-11 px-0">
            <h5 class="d-inline-block">{{name}}</h5>
            <div class="ms-2 text-capitalize text-small fst-italic d-inline-block">
              {{keywords?.join(", ")}}
            </div>
          </div>
          <div class="col-1 px-0">
            <fa-icon *ngIf="unit.cred > 1" [icon]="faStar" class="text-small mt-3"></fa-icon>
            <fa-icon *ngIf="unit.cred > 0" [icon]="faStar" class="mt-0 align-top"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-2 col-md-1 text-small">
        {{cost}}eb
      </div>
      <div class="col-1 d-md-none"></div>
      <div class="col-11 col-md-5">
        <div class="row">
          <div class="col-6">
            <span *ngIf="unit.reflex > 0" title="Reflex/Move Action">
              <img class="action-icon" src="img/cz/action_reflex.png" alt="Reflex/Move Action">
              {{unit.reflex}}
            </span>
            <span *ngIf="unit.melee > 0" title="Melee Action">
              <img class="action-icon" src="img/cz/action_melee.png" alt="Melee Action">
              {{unit.melee}}
            </span>
            <span *ngIf="unit.ranged > 0" title="Ranged Attack Action">
              <img class="action-icon" src="img/cz/action_ranged.png" alt="Ranged Attack Action">
              {{unit.ranged}}
            </span>
            <span *ngIf="unit.tech > 0" title="Basic Tech Action">
              <img class="action-icon" src="img/cz/action_tech.png" alt="Basic Tech Action">
              {{unit.tech}}
            </span>
            <span *ngIf="unit.med > 0" title="Basic Med Action">
              <img class="action-icon" src="img/cz/action_med.png" alt="Basic Med Action">
              {{unit.med}}
            </span>
            <span *ngIf="unit.influence > 0" title="Basic Influence Action">
              <img class="action-icon" src="img/cz/action_influence.png" alt="Basic Influence Action">
              {{unit.influence}}
            </span>
          </div>
          <div class="col-6">

            <span *ngFor="let action of unit.actions">
              <img style="width: 20px;" src="img/cz/{{action.trim()}}_active.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
