<div class="chargen-section">
  <table>
    <tr>
      <td>
        <div class="chargen-save">
          <div class="chargen-save-title">SAVE</div>
          <div [ngClass]="{'chargen-save-text':true, 'chargen-damaged': (stats.Damage > 4)}">
            STUN: {{stats.Save}}
            <fa-icon [icon]="faDice" class="csd-dice" title="Roll for stun save."
            [popover]="stunSave"
            popoverTitle="STUN SAVE" [outsideClick]="true" containerClass="csd-rounded csd-popover"
            ></fa-icon>
          </div>
          <ng-template #stunSave>
            Enter Stun Save modifier: <input [(ngModel)]="stunSaveMod" type="number"
            style="text-align: right; display: inline-block;width: 40px;height:18px;">
            <fa-icon [icon]="faDice" class="csd-dice" (click)="rollStunSave()" title="Roll for stun save."></fa-icon>
            <br>
            {{stunSaveResults}}
          </ng-template>
          <div [ngClass]="{'chargen-save-text':true, 'chargen-damaged': (stats.Damage > 12)}">DEATH: {{stats.DeathSave}}
            <fa-icon [icon]="faDice" class="csd-dice" title="Roll for death save"
            [popover]="deathSave"
            popoverTitle="DEATH SAVE" [outsideClick]="true" containerClass="csd-rounded csd-popover"></fa-icon>
          </div>
          <ng-template #deathSave>
            Enter Death Save modifier: <input [(ngModel)]="deathSaveMod" type="number"
            style="text-align: right; display: inline-block;width: 40px;height:18px;">
            <fa-icon [icon]="faDice" class="csd-dice" (click)="rollDeathSave()" title="Roll for death save."></fa-icon>
            <br>
            {{deathSaveResults}}
          </ng-template>
        </div>
      </td>
      <td>
        <div class="chargen-save">
          <div class="chargen-save-title">BTM</div>
          <div>{{stats.BTM}}</div>
        </div>
      </td>
      <td>
        <div class="chargen-wound-table">
          <table>
            <tr>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'LIGHT'" [stunSaveMod]="0" [damage]="stats.Damage" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'SERIOUS'" [stunSaveMod]="-1" [damage]="stats.Damage - 4" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'CRITICAL'" [stunSaveMod]="-2" [damage]="stats.Damage - 8" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 0'" [stunSaveMod]="-3" [damage]="stats.Damage - 12" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 1'" [stunSaveMod]="-4" [damage]="stats.Damage - 16" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
            </tr>
            <tr>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 2'" [stunSaveMod]="-5" [damage]="stats.Damage - 20" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 3'" [stunSaveMod]="-6" [damage]="stats.Damage - 24" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 4'" [stunSaveMod]="-7" [damage]="stats.Damage - 28" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 5'" [stunSaveMod]="-8" [damage]="stats.Damage - 32" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
              <td class="chargen-wound-cell">
                <cs-cmbt-trck-wound-level [title]="'MORTAL 6'" [stunSaveMod]="-9" [damage]="stats.Damage - 36" (changeDamage)="onChangeDamage($event)" ></cs-cmbt-trck-wound-level>
              </td>
            </tr>
          </table>
        </div>

      </td>
    </tr>
  </table>
  <div class="row">
  <div class="chargen-save-text col-auto">STUNNED? <input [(ngModel)]="stats.isStunned" type="checkbox" (change)="changeStun()"/></div>
  <div *ngIf="stats.deathState &gt; 0" class="chargen-save-text col-auto death-state">DeathState: <input [(ngModel)]="stats.deathState" type="number" class="opp-death-state" (change)="changeDeathState()"/></div>
</div>
</div>
