<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 h1">
        <input
          class="csd-cpr-handle w-100 w-md-50 csd-plain-input"
          type="text"
          [(ngModel)]="currSheet.character.handle"
          placeholder="Enter character name"
          (change)="update()"
          (keyup)="update()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-2 col-lg-1 py-0">
        <cs-cp-red-character-stats></cs-cp-red-character-stats>
      </div>
      <div class="col-10 col-md-5 col-lg-3 text-center py-0">
        <cs-image-holder
          [maxWidth]="300"
          [maxHeight]="200"
          [image]="sheet.character?.image"
          (update)="updateImage($event)"
        ></cs-image-holder>
      </div>
    </div>
  </div>
</div>
