<div class="container">
  <div class="w-100 text-center">
    <div class="csd-title w-75 text-center csd-rounded mx-auto">
      <img src="/img/cs150x125.png" alt="The Cybersmily" />
      <h1>Welcome to Cybersmily's Datafort!</h1>
      <h5>
        A Fan Site for Cyberpunk 2020 and Cyberpunk Red by R.Talsorian Games
      </h5>
    </div>
  </div>
  <br />
  <br />
  <div>
    This site was created back in the late 90's as an unofficial fan site
    dedicated to the R. Talsorian's tabletop RPG Cyberpunk 2020 and Cyberpunk
    Red. Here you will find articles, web page apps, and other unofficial
    resources for CyberPunk 2020/Red.
  </div>
  <br />
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h2 class="text-center text-weight-bold">Recent Updates</h2>
    </div>
    <div class="col-1"></div>
  </div>
  <div *ngFor="let newItem of newItems" class="row">
    <div class="col-1 d-none d-md-inline-block"></div>
    <div class="col-2 col-md-1">
      <div class="h6">{{ newItem.date }}</div>
    </div>
    <div class="col-10 col-md-9">
      <div class="mb-2 small">
        <p
          class="my-0"
          *ngFor="let entry of newItem.entries"
          [innerHTML]="entry"
        ></p>
      </div>
    </div>
    <div class="col-1 d-none d-md-inline-block"></div>
  </div>
  <div *ngIf="showMoreItems">
    <div *ngFor="let newItem of moreItems" class="row">
      <div class="col-1"></div>
      <div class="col-1">
        <div class="h6">{{ newItem.date }}</div>
      </div>
      <div class="col-9">
        <p
          class="ms-3 my-0"
          *ngFor="let entry of newItem.entries"
          [innerHTML]="entry"
        ></p>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div
        class="w-100 text-center font-weight-bold csd-btn text-danger"
        (click)="showMoreItems = !showMoreItems"
      >
        <div *ngIf="showMoreItems">
          <fa-icon class="csd-icon-btn" [icon]="faChevronUp"></fa-icon>
        </div>
        <h6>{{ showMoreItems ? "Show less" : "Show More" }}</h6>
        <div *ngIf="!showMoreItems">
          <fa-icon class="csd-icon-btn" [icon]="faChevronDown"></fa-icon>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
