<div class="row g-0 border border-dark mt-1">
  <div class="col-12">
    <div
      class="chargen-skill-stat csd-btn"
      (click)="isCollapsed = !isCollapsed"
    >
      {{ title }}
      <fa-icon [icon]="collapseArrow" class="csd-icon-btn ms-2"></fa-icon>
    </div>
  </div>
</div>
<div class="row g-0 border border-dark mb-1" [collapse]="isCollapsed">
  <div class="col">
    <div class="row g-0">
      <div
        class="col-12 column-count px-2 border-lg border-dark"
      >
        <cs-cp2020-skill
          *ngFor="let skill of currSkills"
          [skill]="skill"
          (changeSkill)="onChangeSkill($event)"
          [stat]="stat"
          [sa]="spclAbility"
          (delete)="deleteCurrentSkill($event)"
        ></cs-cp2020-skill>
      </div>
    </div>
    <div *ngIf="showAddSkill" class="row">
      <div class="col text-center">
        <button
          class="w-100 csd-btn csd-icon-btn"
          title="Add a new skill"
          (click)="showModal(newSkillTemplate)"
        >
          <fa-icon [icon]="faPlus" class="csd-icon-sm"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #newSkillTemplate>
  <div class="modal-header">
    <h4 class="modal-title float-start">New {{ title }} Skill</h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <cs-cp2020-skill-new
      [stat]="statName"
      (updateSkill)="addNewSkill($event)"
    ></cs-cp2020-skill-new>
  </div>
</ng-template>
