<div class="row font-weight-bold">
  <div class="col">Name</div>
  <div class="col-1 text-center">SP</div>
  <div class="col-1 text-center">EV</div>
  <div class="col-1">Cost</div>
  <div class="col-3">Source</div>
</div>
<hr>
<div *ngFor="let armor of armorList; let i = index" class="row small csd-armor-row" (click)="select(i)" >
  <div class="col">{{armor.name}} ({{armor.isHard ? 'hard' : 'soft'}} {{getLocations(armor)}})</div>
  <div class="col-1 text-center">{{armor.baseSP}}</div>
  <div class="col-1 text-center">{{armor.ev}}</div>
  <div class="col-1">{{armor.cost | number}}eb</div>
  <div class="col-3">{{armor.source?.book | sourcebook}} pg.{{armor.source?.page}}</div>
</div>
<br>
<br>
