<div class="cp2020-section border border-dark">
  <div class="cp2020-label row g-0">
    <div class="col-12 col-md-5">
      <h4 class="d-inline-block csd-btn me-4" (click)="isCollapsed = !isCollapsed"
        (keyup.enter)="isCollapsed = !isCollapsed" tabindex="0">
        CYBERNETICS
        <fa-icon [icon]="collapseChevron" class="csd-icon-btn csd-icon-xl ms-2"></fa-icon>
      </h4>
    </div>
    <div class="col-1">
      <button *ngIf="!isCollapsed" [disabled]="!canRollMore" class="csd-dice csd-btn" [title]="
          canRollMore
            ? 'Generate random cyberware'
            : 'No available or have everthing from the random list'
        " (click)="generateCyberware()">
        <fa-icon [icon]="faDice"></fa-icon>
      </button>
    </div>

    <div [ngClass]="{ 'col-11 col-md-4': true, 'd-none': isCollapsed }" [tooltip]="
        'Add a location to help organize the character\'s gear. Locations can be things like On Person, Apartment, Car, Dufffle Bag, etc...'
      ">
      <button *ngIf="!isAddableLocation" class="csd-icon-btn csd-btn ms-1 me-2" (click)="addLocation()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <input [(ngModel)]="newLocation" type="text" placeholder="add location section..." class="w-85" />
    </div>
  </div>
  <div [collapse]="isCollapsed">
    <ng-container [ngTemplateOutlet]="columnHeaders"></ng-container>
    <div dndDropzone (dndDrop)="onDrop($event, '')">
      <ng-container [ngTemplateOutlet]="cyberTable"
        [ngTemplateOutletContext]="{ cyberList: getCyberList('') }"></ng-container>
      <div class="row csd-cyber-row g-0">
        <div class="col">
          <button #newCyberElem class="csd-btn text-center csd-icon-btn w-100"
            (click)="openModal(cyberSelect, 'new', true)">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngFor="let loc of locations" dndDropzone (dndDrop)="onDrop($event, loc)">
      <div class="chargen-label row g-0">
        <div class="col-10 border border-dark text-uppercase ps-4" (click)="toggleLocation(loc)">
          {{ loc }}
          <button title="toggle list" class="csd-icon-btn csd-btn ms-2">
            <fa-icon [icon]="
                expandLocation.includes(loc) ? faChevronDown : faChevronRight
              "></fa-icon>
          </button>
        </div>
        <div class="col-2 border border-dark">
          <button title="remove location" class="csd-icon-btn csd-btn float-end me-2" (click)="removeLocation(loc)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
      <div [collapse]="!isLocationExpanded(loc)">
        <ng-container [ngTemplateOutlet]="columnHeaders"></ng-container>
        <ng-container [ngTemplateOutlet]="cyberTable"
          [ngTemplateOutletContext]="{ cyberList: getCyberList(loc) }"></ng-container>
        <div class="row csd-cyber-row g-0">
          <div class="col">
            <button #newCyberElem class="csd-btn text-center csd-icon-btn w-100"
              (click)="openModal(cyberSelect, 'new', true, loc)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row csd-cyber-row g-0">
      <div class="col-9 col-md-10">Total HL and Euro Costs</div>
      <div class="col-1 text-small text-center">
        {{ currCyberList.totalHL | number }}
      </div>
      <div class="col-2 col-md-1 text-small text-end pe-1">
        {{ currCyberList.totalCost | number }}eb
      </div>
    </div>
  </div>
</div>

<ng-template #columnHeaders>
  <div class="row g-0">
    <div class="col">
      <div class="row g-0">
        <div class="col-9 col-md-10 small ps-1 border border-dark">TYPE</div>
        <div class="col-1 text-center small border border-dark">HL</div>
        <div class="col-2 col-md-1 ps-1 small border border-dark">COST</div>
      </div>
    </div>
    <div *ngIf="showTwoColumns" class="col d-none d-lg-inline-block">
      <div class="row g-0">
        <div class="col-9 col-md-10 small ps-1 border border-dark">TYPE</div>
        <div class="col-1 text-center small border border-dark">HL</div>
        <div class="col-2 col-md-1 ps-1 text-center small border border-dark">COST</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cyberTable let-cyberList="cyberList">
  <div class="row g-0">
    <div [ngClass]="{ 'col-12 col-lg-6': !isShopping, 'col-7': isShopping }">
      <ng-container [ngTemplateOutlet]="cyberColumn" [ngTemplateOutletContext]="{
          cyberList: getColumn(cyberList, showTwoColumns)
        }">
      </ng-container>
    </div>

    <div [ngClass]="{ 'col-12 col-lg-6': !isShopping, 'col-7': isShopping }" *ngIf="showTwoColumns">
      <ng-container [ngTemplateOutlet]="cyberColumn" [ngTemplateOutletContext]="{
          cyberList: getColumnTwo(cyberList)
        }">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #cyberColumn let-cyberList="cyberList">
  <div *ngFor="let cyber of cyberList" [dndDraggable]="{
      cyber: cyber,
      type: 'cyber',
      effectAllowed: 'all',
      disable: false,
      handle: true
    }">
    <div class="csd-cyber-row row g-0">
      <div class="col-8 col-md-9 cyber-name no-right-border" title="{{ cyber.notes }}&#013;options:&#013; {{
          cyber.getOptionNotesAsString('&#013; ')
        }}">
        <button #cyberNameElem class="csd-btn text-start w-100 cs-cyberware-name text-truncate"
          (click)="editCyberware(cyber, cyberEdit, isSecondColumn)" tabindex="0">
          {{ cyber.name }}
          <span *ngIf="cyber?.options?.length > 0" class="text-small">[{{ cyber.getOptionListAsString() }}]</span>
        </button>
      </div>
      <div class="col-1 no-left-border">
        <button class="float-end csd-btn small me-1 csd-icon-btn" (click)="delete(cyber.id)" title="Delete Cyberware"
          tabindex="0">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      <div class="col-1 text-center small">{{ cyber.totalHL }}</div>
      <div class="col-2 col-md-1 text-end small pe-1">
        {{ cyber.totalCost | number }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cyberEdit>
  <div class="modal-header">
    <h4 class="modal-title float-start">Edit Cyberware</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <cs-cp2020-cyberware-editor [cyberware]="selectedCyberware" [index]="selectedIndex"
      (changeCybeware)="update($event)" (deleteCyberware)="deleteFromModal($event)"></cs-cp2020-cyberware-editor>
  </div>
</ng-template>

<ng-template #cyberSelect>
  <div class="cyber-selector-modal modal-dialog-scrollable">
    <div class="modal-header">
      <h4 class="modal-title float-start">Add Cyberware</h4>
      <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <cs-cp2020-cyberware-selector (addCyberware)="add($event)"></cs-cp2020-cyberware-selector>
    </div>
  </div>
</ng-template>

<ng-template #cyberDetails let-item="item">
  <div class="row cyber-popover">
    <div class="col">{{ item.notes }}</div>
  </div>
  <div class="row">
    <div class="col">HL: {{ item.hl }} ({{ item.hc }})</div>
    <div class="col">Surgery: {{ item.surgery }}</div>
  </div>
  <div *ngIf="item.source" class="row">
    <div class="col">
      <i>{{ item.source.book }} pg. {{ item.source.page }}</i>
    </div>
  </div>
  <ng-container *ngIf="item.options && item.options.length > 0">
    <div class="row mt-3">
      <div class="col">Options:</div>
    </div>
    <div class="row" *ngFor="let opt of item.options">
      <div class="col ms-1">
        {{ opt.abbrev ? opt.abbrev + " (" + opt.name + ")" : opt.name }} -
        {{ opt.notes }} (HC: {{ opt.hc }})
      </div>
    </div>
  </ng-container>
</ng-template>
