<div class="cp2020-section border border-dark">
  <div class="cp2020-label row no-gutters">
    <div class="col">
      <h4 class="d-inline-block csd-btn mr-4" (click)="isCollapsed = !isCollapsed">
        CYBERNETICS
        <fa-icon [icon]="collapseChevron" class="csd-icon-btn csd-icon-xl ml-2"></fa-icon>
      </h4>
      <fa-icon [icon]="faDice" class="csd-dice csd-btn" title="Generate random cyberware" (click)="generateCyberware()">
      </fa-icon>
    </div>
  </div>
  <div [collapse]="isCollapsed">
    <div class="row no-gutters">
      <div class="col">
        <div class="row no-gutters">
          <div class="col small pl-1 border border-dark">TYPE</div>
          <div class="col-1 text-center small border border-dark">HL</div>
          <div class="col-1 pl-1 small border border-dark">COST</div>
        </div>
      </div>
      <div *ngIf="showTwoColumns" class="col d-none d-lg-inline-block">
        <div class="row no-gutters">
          <div class="col small pl-1 border border-dark">TYPE</div>
          <div class="col-1 text-center small border border-dark">HL</div>
          <div class="col-1 pl-1 text-center small border border-dark">COST</div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-lg-6">
        <ng-container [ngTemplateOutlet]="cyberColumn"
          [ngTemplateOutletContext]="{cyberList:getColumn(showTwoColumns)}">
        </ng-container>
      </div>
      <div class="col" *ngIf="showTwoColumns">
        <ng-container [ngTemplateOutlet]="cyberColumn"
          [ngTemplateOutletContext]="{cyberList:getColumnTwo(), isSecondColumn: true}">
        </ng-container>
      </div>
    </div>

    <div class="row csd-cyber-row no-gutters">
      <div class="col text-center csd-btn" (click)="openModal(cyberSelect)">
        <fa-icon class="csd-icon-btn" [icon]="faPlus"></fa-icon>
      </div>
    </div>
    <div class="row csd-cyber-row no-gutters">
      <div class="col">Total HL and Euro Costs</div>
      <div class="col-1 small text-center">{{cyberList.totalHL | number}}</div>
      <div class="col-1 small text-right pr-1">{{cyberList.totalCost | number}}</div>
    </div>
  </div>
</div>

<ng-template #cyberColumn let-cyberList="cyberList" let-isSecondColumn="isSecondColumn">
  <div *ngFor="let cyber of cyberList;let i = index" class="csd-cyber-row row no-gutters">
    <div class="col cyber-name" title="{{cyber.notes}}">
      <span class="csd-btn pl-1" (click)="editCyberware(i, cyberEdit, isSecondColumn)">
        {{cyber.toString()}}
        <fa-icon [icon]="faPen" class="csd-btn small ml-1 csd-icon-btn"></fa-icon>
      </span>
      <fa-icon [icon]="faTrash" class="float-right csd-btn small ml-2 csd-icon-btn" (click)="delete(i, isSecondColumn)"
        title="Delete Cyberware"></fa-icon>
    </div>
    <div class="col-1 text-center small">{{cyber.totalHL}}</div>
    <div class="col-1 text-right small pr-1">{{cyber.totalCost | number}}</div>
  </div>

</ng-template>

<ng-template #cyberEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Cyberware</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <cs-cp2020-cyberware-editor [cyberware]="selectedCyberware" [index]="selectedIndex"
      (changeCybeware)="update($event)" (deleteCyberware)="deleteFromModal($event)"></cs-cp2020-cyberware-editor>
  </div>
</ng-template>

<ng-template #cyberSelect>
  <div class="cyber-selector-modal">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Cyberware</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">
      <cs-cp2020-cyberware-selector (addCyberware)="add($event)"></cs-cp2020-cyberware-selector>
    </div>
  </div>
</ng-template>
<ng-template #cyberDetails let-item="item">
  <div class="row cyber-popover">
    <div class="col">{{item.notes}}</div>
  </div>
  <div class="row">
    <div class="col">HL: {{item.hl}} ({{item.hc}})</div>
    <div class="col">Surgery: {{item.surgery}}</div>
  </div>
  <div *ngIf="item.source" class="row">
    <div class="col"><i>{{item.source.book}} pg. {{item.source.page}}</i></div>
  </div>
  <ng-container *ngIf="item.options && item.options.length > 0">
    <div class="row mt-3">
      <div class="col">Options:</div>
    </div>
    <div class="row" *ngFor="let opt of item.options">
      <div class="col ml-1">{{(opt.abbrev)?opt.abbrev + ' (' + opt.name + ')': opt.name}} - {{opt.notes}} (HC:
        {{opt.hc}})</div>
    </div>
  </ng-container>
</ng-template>
