<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h5 class="cp2020-label d-inline-block">Identities</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <ng-container *ngFor="let id of firstColumn; let i = index" [ngTemplateOutlet]="cpIdentities" [ngTemplateOutletContext]="{id:id, index: i, col: 1}">
        </ng-container>
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngFor="let id of secondColumn; let i = index" [ngTemplateOutlet]="cpIdentities" [ngTemplateOutletContext]="{id:id, index: i, col: 2}">
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn" (click)="add()" title="Add new identity"></fa-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #cpIdentities let-id="id" let-index="index" let-col="col">
  <div class="row" *ngIf="id">
    <div class="col-8">
      <input [(ngModel)]="id.name" type="text" style="width:95%;" (change)="update(id, index, col)" placeholder="identity...">
      <fa-icon *ngIf="index !== 0 || col !== 1" [icon]="faTrash" title="Delete identity" class="csd-icon-btn csd-btn" (click)="delete(index, col)"></fa-icon>
    </div>
    <div class="col-4">
      <input [(ngModel)]="id.sin" type="text" (change)="update(id, index, col)" class="w-100" placeholder="sin...">
    </div>
    <div class="col-12">
      <textarea [(ngModel)]="id.desc" type="text" class="w-100" (change)="update(id, index, col)" placeholder="description..."></textarea>
    </div>
  </div>
</ng-template>
