.opp-skill {
  font-size: 12px;
}

.opp-wpn {
  padding-right: 0px;
  margin-right: 0px;
}

.delete-wpn {
  display: none;
}

.opp-wpn:hover .delete-wpn {
  display: inline-block;
}

.opp-wpn-jammed {
  color: red;
}
