<div class="row">
  <div class="col-12">
    <h5>Addictions ({{ addictions.length }})</h5>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">Name</div>
  <div class="col-8">Effect</div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <button class="csd-icon-btn me-2">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <input type="text" class="w-90" />
  </div>
  <div class="col-8">
    <textarea class="w-100"></textarea>
  </div>
</div>
