<div [ngClass]="{
      'row border border-dark cbttrk-init bg-white': true,
      'cbttrk-selected': selected
    }">
  <div class="col-12">
    <div class="row">
      <div class="col-1 g-0 pt-2">
        <input type="radio" [checked]="active" (change)="setInitiative(index)"
          title="Check if oppenent has current initiative." />
      </div>
      <div class="col-3 g-0" [title]="showInitiativeTooltip(opponent)">
        <span *ngIf="opponent?.stats.deathState &gt; 9 || opponent?.stats.Damage &gt; 39; else checkStun">
          <fa-icon [icon]="faSkullCrossbones" title="DEAD" class="mt-2 csd-icon-btn" size="2xl"></fa-icon>
        </span>
        <ng-template #checkStun>
          <ng-container *ngIf="opponent?.stats.isStunned || opponent?.stats.deathState > 0; then stunCondition else initSection"></ng-container>
          <ng-template #stunCondition>
            <fa-icon *ngIf="opponent?.stats.isStunned || opponent?.stats.deathState > 0" [icon]="faEyeSlash"
              title="Stunned" class="mt-2 csd-icon-btn" size="2xl"></fa-icon>
          </ng-template>
          <ng-template #initSection>
            <input [(ngModel)]="opponent.initRoll" type="number" (change)="changeInitiative()"
              class="csd-hide-spinner text-center ms-1" />
            <fa-icon [icon]="faDice" class="csd-btn csd-dice ms-2 " title="Roll initiative for this opponent"
              (click)="rollInitiative(opponent?.id)" size="xl"></fa-icon>
          </ng-template>
        </ng-template>

      </div>
      <div [ngClass]="{
        'col-7 cbttrk-opp-name csd-btn text-truncate': true,
        'fs-bold ': selected
      }" (click)="selectOpponent(index)" title="Click to show opponent...">
        <span>{{ opponent?.name }}</span>
      </div>
      <div *ngIf="showTools" class="col-1">
        <fa-icon [icon]="faCopy" class="float-end csd-btn opp-delete csd-icon-btn" (click)="copyOpponent()"
          title="Copy opponent"></fa-icon>
        <fa-icon [icon]="faTrash" class="float-end csd-btn opp-delete csd-icon-btn" (click)="removeOpponent()"
          title="Delete opponent"></fa-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8 opp-conditions">
        <span *ngIf="getWoundLevel(opponent) !== ''">
          <fa-icon *ngFor="let icon of getWoundIcon(opponent)" [icon]="icon" [title]="getWoundLevel(opponent)"
            class="me-1" size="lg"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>
