
<div class="row">
  <div class="col-6">Total Funds: {{totalValue | number}}eb ({{this.currCredchips.length}})</div>
  <div class="col-3 text-end">Amount Due: </div>
  <div class="col-2 text-end">{{currAmountDue| number}}eb</div>
</div>
<div class="row">
  <div class="col-9 text-end">Paying:</div>
  <div class="col-2 text-end">{{totalPayment| number}}eb</div>
</div>
<div class="row">
  <div class="col-9 text-end">Balance: </div>
  <div class="col-2 text-end">{{( currAmountDue - totalPayment)| number}}eb</div>
</div>
<hr>
<div class="row">
  <div class="col">Name</div>
  <div class="col">Amount</div>
  <div class="col text-center"></div>
  <div class="col">
      Pay
  </div>
</div>
<div *ngFor="let cred of currCredchips;let i = index" class="row">
  <div class="col">
    <span>{{cred.name}}</span>
  </div>
  <div class="col">
    <span >{{cred.amount|number}}eb</span>
  </div>
  <div class="col text-center">
  </div>
  <div class="col">
      <input type="number" min="0" [max]="cred.amount" placeholder="amount..." class="text-end" title="Amount to pay from this chip" style="width: 100%;min-width:80px;"  [(ngModel)]="payments[i]">
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Cash</span>
  </div>
  <div class="col">
    <span >{{currCash|number}}eb</span>
  </div>
  <div class="col text-center">
  </div>
  <div class="col">
      <input type="number" min="0" [max]="currCash" placeholder="amount..." class="text-end" title="Amount to pay from this chip" style="width: 100%;min-width:80px;"  [(ngModel)]="cashPayment">
  </div>
</div>

<div class="row">
  <div class="col text-center" >
    <button class="btn btn-dark csd-btn float-end" (click)="pay()">PAY</button>
  </div>
</div>
<br>
