<div class="container p-4">
  <div class="row">
    <div class="col-12">
      <cs-cp-red-stat-editor [stat]="stats.int"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.ref"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.dex"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.tech"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.cool"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.will"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.luck"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.move"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.body"></cs-cp-red-stat-editor>
      <cs-cp-red-stat-editor [stat]="stats.emp"></cs-cp-red-stat-editor>
    </div>
  </div>
</div>
