<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Movie - 10</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Chip Rental - 4</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Braindance - 20</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Live Concert - 50,  "super_star": 3, "star": 2, "concert": 1.5, "lecture": 0.6 </div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Sport Event - 50</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Fast Food Meal - 5</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Well Drink - 3 "fair": 1, "good": 2, "excellent": 3 </div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Restaurant Meal - 20 "fair": 1, "good": 2, "excellent": 3 </div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Data Term Use - 5  "minute"</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Mag Lev Chit - 0.25 "station"</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Taxi - 3 "mile"</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">AV - Taxi - 10 "mile"</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Air/Oxygen - 5 "minute"</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Parking - Ground -  7 "hour"</div>
</div>
<div class="row">
  <div class="col-1"><input style="width:60px" type="number"></div>
  <div class="col">Parking - Aero -  125 "day"</div>
</div>


