<div class="row">
  <div class="col">
    Total Cost: {{totalCost | number}}eb ({{cash + credit - totalCost}}eb)
  </div>
  <div class="col">
    <button class="btn btn-secondary btn-dark csd-btn float-right ml-2" [disabled]="!totalCost" (click)="pay()">Pay</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-lg-6">
    <ng-container [ngTemplateOutlet]="expenseColumn" [ngTemplateOutletContext]="{expenses:firstColumn}">
    </ng-container>
  </div>
  <div class="col-12 col-lg-6">
    <ng-container [ngTemplateOutlet]="expenseColumn" [ngTemplateOutletContext]="{expenses:secondColumn}">
    </ng-container>
  </div>
</div>

<ng-template #expenseColumn let-expenses="expenses">
  <div class="row" *ngFor="let expense of expenses">
    <div class="col-2">
      <input style="width:60px" type="number" min="0" [(ngModel)]="expense.count" (change)="calculateCost()">
    </div>
    <div class="col">{{expense.name}} ({{expense.cost}}eb/{{expense.unit}})</div>
  </div>
</ng-template>
