<div class="col">
  <div class="row">
    <div class="col mt-1">
      <input type="text" [(ngModel)]="selectedNode.name" style="width: 90%;" (change)="update()">
    </div>
    <div class="col-1 mt-0 pt-0">
      <fa-icon [icon]="faSave" class="csd-icon-xl csd-icon-btn btn csd-btn float-end mt-0 pt-0" (click)="saveNode()"></fa-icon>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Type: <select [(ngModel)]="selectedNode.type" (change)="changeType($event)">
        <option value="controller">Control Node</option>
        <option value="file">File</option>
        <option value="password">Password</option>
        <option value="program">Program</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="selectedNode.type !== 'program'">
    <div class="col">
      DV: <select [(ngModel)]="selectedNode.dv" (change)="update()">
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Total Cost: {{selectedNode.cost}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Description:
      <br>
      <textarea [(ngModel)]="selectedNode.desc" style="width:100%;min-height: 80px;" (change)="update()">
          </textarea>
    </div>
  </div>
  <div *ngIf="selectedNode.type === 'program'" class="row">
    <div class="col">
      <div class="row">
        <div class="col">Programs:</div>
      </div>
      <div *ngFor="let prog of selectedNode.programs; let i = index" class="row">
        <div class="col-1"></div>
        <div class="col-8">
          {{prog.name}}
          <fa-icon [icon]="faTrash" class="csd-icon-btn ms-3 csd-btn" title="Remove program" (click)="removeProgram(i)"></fa-icon>

        </div>
        <div class="col">{{prog.cost}}eb<span *ngIf="selectedNode.programs.length > 1"> x {{selectedNode.programs.length}}</span> </div>
      </div>
      <div *ngIf="selectedNode.programs && addPrograms(selectedNode.programs.length)" class="row">
        <div class="col">
          <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn csd-icon-xl btn me-2" title="add program to node"
            (click)="addSelectedProgram()"></fa-icon>
          <select [(ngModel)]="selectedProgram">
            <option *ngFor="let prog of programList" [ngValue]="prog">{{prog.name}} ({{prog.cost}}eb)</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedNode.type === 'controller'" class="row">
    <div class="col">
      <div class="row">
        <div class="col">Demon:</div>
      </div>
      <div class="row" *ngIf="selectedNode.demon">
        <div class="col-1"></div>
        <div class="col-8">
          {{selectedNode.demon.name}}
          <fa-icon [icon]="faTrash" class="csd-icon-btn ms-3 csd-btn" title="Remove Demon" (click)="removeDemon()"></fa-icon>

        </div>
        <div class="col">{{selectedNode.demon.cost}}eb</div>
      </div>
      <div *ngIf="!selectedNode.demon" class="row">
        <div class="col">
          <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn csd-icon-xl btn me-2" title="add demon to node"
            (click)="addSelectedDemon()"></fa-icon>
          <select [(ngModel)]="selectedDemon">
            <option *ngFor="let prog of demonList" [ngValue]="prog">{{prog.name}} ({{prog.cost}}eb)</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    Color: <span class="cs-color-swatch" [style.background-color]="color" [popover]="colorPicker" [outsideClick]="true"
      (onShown)="setSelectedColor(node.color)" (onHidden)="changeIconColor()"></span>
  </div>
  <div class="col">
    Background: <span class="cs-color-swatch" [style.background-color]="bgColor" [popover]="colorPicker"
      [outsideClick]="true" (onShown)="setSelectedColor(selectedNode.bgColor)" (onHidden)="changeBgColor()"></span>
  </div>
</div>

  <ng-template #colorPicker>
    <color-chrome [color]="selectedColor" (onChange)="changeColor($event)"></color-chrome>
  </ng-template>
