<div class="d-inline-block float-start m-1">
  <div class="d-inline-block position-relative">
    <!--
    <img class="cz-gear-card d-inline-block rounded align-top"
      src="img/cz/gear/{{gear.name?.replaceAll(' ', '_')}}.jpg">
      -->
    <img class="cz-gear-card d-inline-block rounded align-top" src="img/cz/gear/blank_card.jpg">
    <img
      [ngClass]="{'csd-img-icon rounded position-absolute bottom-0 mb-2':true, 'bg-danger border border-secondary': gear.faction !== 'universal' && gear?.faction != unitFaction}"
      style="right: 12px" src="img/cz/icon_{{gear.faction.replace(' ','_')}}.png">

    <!--
    <div class="d-inline-block position-absolute bottom-0 ms-2 mb-1 text-white"
      style="left:0;background-color: #2e2f31;">
      {{gear.rarity}} rarity</div>
    <div class="d-inline-block position-absolute top-0 mt-3 text-white py-0 px-1 text-small"
      style="right:9px;background-color: #7531a2;line-height: 18px;">{{gear.ebCost}} EB</div>
    <div class="d-inline-block position-absolute top-0 mt-3 text-white py-0 px-1 text-small fw-bold"
      style="right:47px;background-color: #282b30;line-height: 16px;opacity: 0.8;">{{gear.streetcred}}</div>
      -->

    <div [ngClass]="{'d-inline-block position-absolute ms-3 mt-2 text-capitalize text-white':true, ' text-small': gear.name.length <= 25, ' text-xsmall': gear.name.length > 25,}"
    style="left:0;width: 120px;line-height: 15px;top:6px">{{gear.name}}</div>
    <div class="d-inline-block position-absolute top-0 ms-3 mt-5 text-capitalize text-white text-small"
    style="left:0;width: 120px;line-height: 16px;">
    {{gear.keywords.join(", ")}}</div>
    <div class="d-inline-block position-absolute bottom-0 ms-2 mb-1 text-white"
      style="left:0;">
      {{gear.rarity}} rarity</div>
    <div class="d-inline-block position-absolute top-0 mt-3 text-white py-0 px-1 text-small"
      style="right:8px;line-height: 18px;">{{gear.ebCost}} EB</div>
    <div class="d-inline-block position-absolute top-0 mt-3 text-white py-0 px-1 text-small fw-bold"
      style="right:53px;line-height: 16px;">{{gear.streetcred}}</div>
    <img *ngIf="gear.action"  class="position-absolute top-50 csd-img-icon" style="left: 13px;" src="img/cz/{{gear.action}}.png"  >

    <div class="d-inline-block position-absolute top-50 text-white py-0 px-1 text-small text-start"
      [ngStyle]="{'left':(gear.action ? 40 : 28) + 'px', 'line-height': '16px', 'width': '130px'}">{{gear.attributes.join(', ')}}</div>

    <div *ngIf="gear?.streetcred > totalStreetcred || (gear.faction !== 'universal' && gear?.faction != unitFaction)"
      class="text-small text-center w-100 text-danger position-absolute bottom-0 bg-warning border border-danger opacity-75 rounded">
      {{ gear?.streetcred > totalStreetcred ? "** EXCEEDS TEAM STREETCRED **" : ""
      }}
      {{ gear.faction !== 'universal' && gear?.faction != unitFaction ? "** NOT SAME FACTION **" : ""}}
    </div>
  </div>
  <button *ngIf="gearIndex > -1" class="csd-btn border border-secondary p-1 align-top rounded" (click)="removeGear()">
    <fa-icon [icon]="faTrash" size="xl"></fa-icon>
  </button>
  <button *ngIf="gearIndex < 0" class="csd-btn border border-secondary p-1 align-top rounded" (click)="addGear()">
    <fa-icon [icon]="faPlus" size="xl"></fa-icon>
  </button>
</div>
