<div class="chargen-section">
  <div class="cp2020-label row g-0">
    <div class="col-4">
      <h4 class="d-inline-block csd-btn" (click)="isCollapsed = !isCollapsed">
        SKILLS
        <fa-icon [icon]="collapseChevron" class="csd-icon-btn csd-icon-xl ms-2"></fa-icon>
      </h4>

    </div>
    <div  *ngIf="!isCollapsed" class="col-4 small fw-normal">
      <span [ngClass]="{'text-danger': currentSkills.RoleTotal &gt; currentSettings.roleSkillPoints}">[ROLE: {{currentSkills.RoleTotal}} of {{currentSettings.roleSkillPoints}}]</span>
      <span [ngClass]="{'text-danger': currentSkills.OtherTotal &gt; currentSettings.secondarySkillPoints, 'ms-2': true}" >[SECONDARY: {{currentSkills.OtherTotal}} of {{currentSettings.secondarySkillPoints }}]</span>
    </div>
    <div *ngIf="!isCollapsed" class="col-4">
      <span class="float-end">
        General IP: <input [(ngModel)]="currentSkills.ip" type="number" class="chargen-general-ip-input"
          (change)="onChangeSkill()" />
      </span>
    </div>
  </div>
  <div [collapse]="isCollapsed">
    <div class="row">
      <div class="col-12">
        <span class="chargen-skills-instructions">
          (#) is the combined stat + skill. [#] is the skill level. Checkbox is if chipped. Role skills are highlighted
          with *, @ is choose one as role, ! is for secondary skill.</span>
      </div>
    </div>

    <cs-cp2020-skill-stat-section [title]="'SPECIAL ABILITIES'" [skills]="currentSkills.specialAbilites"
      [sa]="true" (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)"
      (deleteSkill)="onDeleteSkill($event)"></cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'ATTR'" [stat]="stats.ATTR" [skills]="currentSkills.ATTR" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'BODY'" [stat]="stats.BODY" [skills]="currentSkills.BODY" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'COOL/WILL'" [stat]="stats.COOL" [skills]="currentSkills.COOL" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'EMPATHY'" [stat]="stats.EMP" [skills]="currentSkills.EMP" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'INT'" [stat]="stats.INT" [skills]="currentSkills.INT" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'REF'" [stat]="stats.REF" [skills]="currentSkills.REF" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'TECH'" [stat]="stats.TECH" [skills]="currentSkills.TECH" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
    <cs-cp2020-skill-stat-section [title]="'OTHER'" [stat]="undefined" [skills]="currentSkills.Other" [sa]="false"
      (changeSkill)="onChangeSkill($event)" (addSkill)="onNewSkill($event)" (deleteSkill)="onDeleteSkill($event)">
    </cs-cp2020-skill-stat-section>
  </div>
</div>
