<div class="container">
  <div class="row">
    <div class="col-6 text-capitalize">{{ skill.name }}:</div>
    <div class="col-6">{{ skill.level }}</div>
  </div>
  <div class="row">
    <div class="col-6 text-uppercase">{{ stat.name }}:</div>
    <div class="col-6">{{ stat.modified }}</div>
  </div>
  <div class="row">
    <div class="col-6 text-uppercase">Modifier:</div>
    <div class="col-6">{{ stat.modified }}</div>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">{{ stat.modified }}</div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>
