<div class="row">
  <div class="col-12 col-lg-4">
    <cs-cp2020-datafort-editor [cp2020DatafortRefData]="datafortRefData"></cs-cp2020-datafort-editor>
  </div>
  <div class="col-12 col-lg-8">
    <div class="row">
      <div class="col">
        <fa-icon [icon]="faRedo" class="float-left csd-btn csd-icon-btn csd-icon-xl mr-2"
          title="Reset the datafort with a new one." (click)="reset()"></fa-icon>

        <fa-icon [icon]="faFilePdf" class="float-right csd-btn csd-icon-btn csd-icon-xl mr-2"
        title="Save as a PDF." (click)="printPDF()"></fa-icon>

        <fa-icon [icon]="faImage" class="float-right csd-btn csd-icon-btn csd-icon-xl mr-2"
        title="Save as a SVG file." (click)="printSVG()"></fa-icon>

        <input type="file" id="loadFile" title="load a datafort .json file" name="Load" Style="display: none"
        (change)="uploadJSON($event)" #inputFile (click)="inputFile.value = null" accept="text/plain;text/json" />
        <label for="loadFile" class="csd-btn float-right csd-icon-btn csd-icon-xl mr-2">
          <fa-icon [icon]="faUpload" title="load a datafort .json file"></fa-icon>
        </label>
        <fa-icon [icon]="faSave" class="float-right csd-btn csd-icon-btn csd-icon-xl mr-2"
          title="Reset the datafort with a new one." (click)="saveJSON()"></fa-icon>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <cs-cp2020-datafort-toolbar></cs-cp2020-datafort-toolbar>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <cs-cp2020-datafort-map></cs-cp2020-datafort-map>
      </div>
    </div>
  </div>
</div>
