<div class="row">
  <div class="col-12">
    <span (click)="isCollapsed = !isCollapsed">
      <h6 class="d-inline-block">ARMOR</h6>
      <button
        [ngClass]="{ 'csd-icon-btn ms-2': true, 'd-md-none': !isCollapsed }"
      >
        <fa-icon
          [icon]="isCollapsed ? faChevronRight : faChevronDown"
        ></fa-icon>
      </button>
    </span>
  </div>
</div>
<div class="px-2" [collapse]="isCollapsed">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-2 col-lg-1 text-center text-xsmall">SP</div>
    <div class="col-2 text-center text-xsmall">Pen.</div>
  </div>
  <cs-cp-red-armor-row [armorSection]="armor.head"></cs-cp-red-armor-row>
  <cs-cp-red-armor-row [armorSection]="armor.body"></cs-cp-red-armor-row>
  <cs-cp-red-armor-row [armorSection]="armor.shield"></cs-cp-red-armor-row>
</div>
