  <div class="row">
    <div class="col-12">
      <div class="cpred-top-bar"></div>
      <div class="cpred-background-red">
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Background:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value cpred-lp-double" [(ngModel)]="lifepath.background"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Motivations:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="lifepath.motivation"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Goals:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="lifepath.goals"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Friends ({{lifepath.friends.length}}):
          </div>
          <div class="col-9">
            <textarea *ngFor="let friend of lifepath.friends" class="cpred-lp-value">{{friend}}</textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Enemies ({{lifepath.enemies.length}}):
          </div>
          <div class="col-9">
            <textarea *ngFor="let enemy of lifepath.enemies" class="cpred-lp-value">{{enemy}}</textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Romance:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="lifepath.romance"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Personality:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="lifepath.personality"></textarea>
          </div>
        </div>
        <br>
      </div>

      <div class="cpred-bottom-bar"></div>
    </div>
  </div>
