<div class="chargen-section row">
  <div *ngIf="showCharacterPoints" class="col">
    <span class="chargen-label">CHARACTER POINTS</span>
    <input [(ngModel)]="stats.BasePoints" (change)="onStatChange()" type="number" min="0" max="90"
      class="chargen-input chargen-charpoint-input " />
    <span *ngIf="stats.CurrentPoints !== 0"
      [ngClass]="{'chargen-stats-over':isOver, 'chargen-stats-current':true, 'ms-2': true}">{{stats.CurrentPoints}}</span>
    <span class="hidden-print">
      <input type="checkbox" class="ms-1" [(ngModel)]="useRolls" (change)="clearRolls()">Use Dice:
      <span *ngIf="useRolls">
      <fa-icon [icon]="faDice" class="chargen-point-dice ms-1 me-1" (click)="rollCharacterPoints()"
        title="Roll for character points. Rolls 9d10, rerolling 1s."></fa-icon>rolls: [{{rolls}}]</span>
    </span>
  </div>
</div>
<div class="chargen-section row">
  <div class="col">
    <div class="chargen-label chargen-stats">STATS
      <fa-icon class="csd-dice ms-2" [icon]="faDice" (click)="rollStats()"></fa-icon>
    </div>
  </div>
  <div *ngIf="showRollInitiative" class="col">
    <span class=" chargen-label">
      Initiative
        <fa-icon *ngIf="showRollInitiative" [icon]="faDice" class="csd-dice ms-1 hidden-print"
          (click)="openModal(initiative, true)" (keyup.enter)="openModal(initiative, true)"
        ></fa-icon>
    </span>
    <div #initRollElem class="stats-initiative"
      (click)="openModal(initiative, false, 'click')" (keyup.enter)="openModal(initiative, false, 'enter')" tabindex="0" >
      {{totalInitiative}}
    </div>
  </div>
</div>
<div class="chargen-stat-section row">
  <div class="col">
    <cs-cp2020-stat [stat]="stats.INT" [statName]="'INT'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.REF" [statName]="'REF'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.TECH" [statName]="'TECH'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.COOL" [statName]="'COOL'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.ATTR" [statName]="'ATTR'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
  </div>
</div>
<div class="chargen-stat-section row">
  <div class="col">
    <cs-cp2020-stat [stat]="stats.LUCK" [statName]="'LUCK'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.MA" [statName]="'MA'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.BODY" [statName]="'BODY'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
    <cs-cp2020-stat [stat]="stats.EMP" [statName]="'EMP'" (changeStat)="onStatChange($event)"></cs-cp2020-stat>
  </div>
</div>
<div class="chargen-stat-section row">
  <div class="col">
    Run [{{stats.Run}}m] &nbsp;Leap [{{stats.Leap}}m]&nbsp;Lift[{{stats.Lift}}kg]&nbsp;Humanity [{{stats.CurrentHumanity}}/{{stats.Humanity}}]
  </div>
</div>

<ng-template #initiative>
  <div class="modal-header">
    <h4 class="modal-title float-start">Initiative</h4>
    <button type="button" class="btn-close float-end" aria-label="Close"
      (click)="closeModal('initElem', 'click')" ></button>
  </div>
  <div class="modal-body">
    <cs-cp2020-initiative-editor [REF]="stats.REF" [combatSense]="combatSense" [showInitiativeRoll]="showInitiativeRoll"
      [initiativeModifiers]="stats.initiativeModifiers" [initiativeRoll]="initiativeRoll"
      (updateInitiativeModifers)="updateInitiativeModifiers($event)"></cs-cp2020-initiative-editor>
  </div>
</ng-template>
