.chargen-charpoint-input {
  width: 50px;
  text-align: center;
}

.chargen-stats {
  width: 120px;
}

.chargen-stat-section {
  font-weight: bold;
  font-size: 16px;
}

.chargen-stat-section input {
  font-weight: normal;
  font-size: 14px;
}


.chargen-stats-over, .chargen-stat-dmged {
  color: red;
}

.chargen-stat-dmged {
  font-weight: bold;
}

.chargen-point-dice {
  font-size: 20px;
  margin-left: 5px;
  color: red;
  cursor: pointer;
}

.stats-initiative {
  display: inline-block;
  margin-top: -1;
  margin-left: 5px;
  height: 26px;
  min-height: 26px;
  width: 40px;
  min-width: 40px;;
  border: solid 1px black;
  text-align: center;
  outline-style: none;
}

.stats-initiative:hover, .stats-initiative:focus {
  background-color: #999;
  font-weight: bold;
}
