<div class="chargen-section">
  <table class="mb-2">
    <tr>
      <td class="chargen-label chargen-armor-label">Location</td>
      <td class="chargen-armor-space"></td>
      <td class="chargen-armor-cell">Head<br>1</td>
      <td class="chargen-armor-cell">Torso<br>2-4</td>
      <td class="chargen-armor-cell">R.Arm<br>5</td>
      <td class="chargen-armor-cell">L.Arm<br>6</td>
      <td class="chargen-armor-cell">R.Leg<br>7-8</td>
      <td class="chargen-armor-cell">L.Leg<br>9-0</td>
      <td class="chargen-armor-cell">EV</td>
    </tr>
    <tr>
      <td class="chargen-label chargen-armor-label">Armor SP
        <fa-icon class="csd-btn csd-icon-btn hidden-print float-right" [icon]="faShieldAlt" (click)="openModal(armorModal)"></fa-icon>
      </td>
      <td class="chargen-armor-space"></td>
      <td class="chargen-armor-cell" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'head'">{{armor.headSP}}</td>
      <td class="chargen-armor-cell" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'torso'">{{armor.torsoSP}}</td>
      <td class="chargen-armor-cell" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'rarm'">{{armor.rArmSP}}</td>
      <td class="chargen-armor-cell" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'larm'">{{armor.lArmSP}}</td>
      <td class="chargen-armor-cell" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'rleg'">{{armor.rLegSP}}</td>
      <td class="chargen-armor-cell" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'lleg'">{{armor.lLegSP}}</td>
      <td class="chargen-armor-cell">+{{armor.ev}}</td>
    </tr>
  </table>
</div>

<ng-template #armorDamage>
  <div class="row armor-dmg">
    <div class="col-1"></div>
    <div class="col">SP Damage: <input [(ngModel)]="spDamage" type="number" value="1">
      &nbsp;&nbsp;
      <button class="btn btn-sm btn-secondary csd-rounded" (click)="damage()">Apply</button></div>
    <div class="col-1"></div>
  </div>
</ng-template>

<ng-template #armorModal>
    <div class="modal-header">
      <h4 id="armor-modal-name" class="modal-title pull-left">Armor Manager</h4>
      <fa-icon [icon]="faDice" [ngClass]="{'csd-btn': true, 'csd-dice':true, 'd-none':!showRandom}" (click)="generate()"></fa-icon>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">
      <div class="row">
        <div class="col-4">Name</div>
        <div class="col-1 text-center">Head</div>
        <div class="col-1 text-center">Torso</div>
        <div class="col-1 text-center">R Arm</div>
        <div class="col-1 text-center">L Arm</div>
        <div class="col-1 text-center">R Leg</div>
        <div class="col-1 text-center">L Leg</div>
        <div class="col-1 text-center">EV</div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-1 text-center">{{armor.headSP}}</div>
        <div class="col-1 text-center">{{armor.torsoSP}}</div>
        <div class="col-1 text-center">{{armor.rArmSP}}</div>
        <div class="col-1 text-center">{{armor.lArmSP}}</div>
        <div class="col-1 text-center">{{armor.rLegSP}}</div>
        <div class="col-1 text-center">{{armor.lLegSP}}</div>
        <div class="col-1 text-center">{{armor.ev}}</div>
        <div class="col-1"></div>
      </div>
      <div *ngFor="let a of armor.layers;let i = index" class="row">
        <div class="col-4">
          <input [(ngModel)]="a.isActive" type="checkbox"
            title="Activate the layer. May not activate if 3 layer rule or if doubling up on hard armor for the layer."
            (click)="changeActive(i)">
          {{a.name}} ({{a.isHard? 'Hard':'Soft'}})
        </div>
        <div class="col-1"><input [(ngModel)]="a.head" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1"><input [(ngModel)]="a.torso" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1"><input [(ngModel)]="a.rarm" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1"><input [(ngModel)]="a.larm" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1"><input [(ngModel)]="a.rleg" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1"><input [(ngModel)]="a.lleg" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1"><input [(ngModel)]="a.ev" type="number" min="0" (change)="onChangeArmor()" class="text-right"></div>
        <div class="col-1">
          <fa-icon [icon]="faTrash" class="csd-btn" title="Delete item" (click)="removeLayer(i)"></fa-icon>
        </div>
      </div>
      <br>
      <br>
      <div class="row csd-rounded">
        <div class="col-12">
          <div class="row">
            <div class="col-1"><fa-icon [ngClass]="{'csd-btn':true,'btn': true,'btn-secondary':true,'btn-sm':true,'csd-rounded':true,'csd-disabled':addDisable}" [icon]="faPlus" (click)="addLayer()" title="Add new layer"></fa-icon></div>
            <div class="col-4">Name<br><input [(ngModel)]="newLayer.name" type="text"></div>
            <div class="col-1">Head<br><input [(ngModel)]="newLayer.head" type="number" min="0"></div>
            <div class="col-1">Torso<br><input [(ngModel)]="newLayer.torso" type="number" min="0"></div>
            <div class="col-1">RArm<br><input [(ngModel)]="newLayer.rarm" type="number" min="0"></div>
            <div class="col-1">LArm<br><input [(ngModel)]="newLayer.larm" type="number" min="0"></div>
            <div class="col-1">RLeg<br><input [(ngModel)]="newLayer.rleg" type="number" min="0"></div>
            <div class="col-1">LLeg<br><input [(ngModel)]="newLayer.lleg" type="number" min="0"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-5"></div>
            <div class="col-2">EV <input [(ngModel)]="newLayer.ev" type="number" min="0"></div>
            <div class="col-2">Is Hard Armor <input [(ngModel)]="newLayer.isHard" type="checkbox"></div>
            <div class="col-2">Is Skinweave <input [(ngModel)]="newLayer.isSkinWeave" type="checkbox"></div>
          </div>
        </div>
      </div>
  </div>
</ng-template>
