.chargen-armor-cell input {
  width: 55px;
  height:45px;
  text-align: center;
}


.chargen-sdp-dmg {
  background-color: yellow;
}

.chargen-sdp-dest {
  background-color: red;
}

.chargen-armor-label {
  border-right: 2px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 100px;
  height: 45px;
  font-style: italic;
  margin-bottom: 2px;
  margin-right: 4px;
  vertical-align: middle;
  font-size: 12px;
}
.chargen-armor-label .csd-icon-btn {
  font-size: small;
}

.chargen-armor-cell {
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  height: 45px;
  width: 60px;
}

.modal-body {
  font-size: 1.0em;
}

.modal-body INPUT[type=number]{
  width: 40px;
}

.modal-dialog {
  background-color: white;
}

.armor-dmg input{
  width: 40px;
  text-align: center;
}

.armor-dmg, .armor-dmg button {
  font-size: 10px;
}
