<div *ngIf="node" class="row ml-1">
  <div class="col-1">{{node.id}}</div>
  <div class="col">
    <div class="row net-node-info" *ngIf="!isEdit">
      <div class="col">
        <div class="row">
          <div class="col node-name" (click)="showDetails()">
            <fa-icon [icon]="getIcon(node.type)" style="width: 15px; height: 15px;" class="mr-1"></fa-icon>
            {{node.name}}
          </div>
          <div class="col-1">
            <fa-icon [icon]="faPen" style="width: 15px; height: 15px;" class="float-right hidden-print csd-btn"
              (click)="isEdit = true"></fa-icon>
          </div>
        </div>
        <div class="row show-print net-node-details" *ngIf="node.type !== 'program'">
          <div class="col">
            DV: {{node.dv}}
          </div>
          <div class="col">
            Cost: {{node.cost|number}}eb
          </div>
        </div>
        <div class="row show-print net-node-details">
          <div class="col">
            Icon Color: <span [ngStyle]="{'background-color':node.color,'display': 'inline-block','min-height': '20px', 'min-width': '30px','border': 'black 1px solid'}"></span>
          </div>
        </div>
        <div class="row show-print net-node-details">
          <div class="col">
            Background Color: <span [ngStyle]="{'background-color':node.bgColor,'display': 'inline-block','min-height': '20px', 'min-width': '30px','border': 'black 1px solid'}"></span>
          </div>
        </div>
        <div class="row show-print net-node-details">
          <div class="col">
            Description:
            <br>
            {{node.desc}}
          </div>
        </div>
      </div>
    </div>
    <div class="row csd-rounded" *ngIf="isEdit">
      <div class="col">
        <div class="row">
          <div class="col">
            <input type="text" [(ngModel)]="node.name" style="width: 90%;" (change)="update()">
            <fa-icon [icon]="faTimes" class="float-right" (click)="isEdit = false"></fa-icon>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Type: <select [(ngModel)]="node.type" (change)="changeType($event)">
              <option value="controller">Control Node</option>
              <option value="file">File</option>
              <option value="password">Password</option>
              <option value="program">Program</option>
            </select>
          </div>
        </div>
        <div class="row" *ngIf="node.type !== 'program'">
          <div class="col">
            DV: <input type="number" [(ngModel)]="node.dv" style="width:70px;" (change)="update()">
          </div>
        </div>
        <div class="row">
          <div class="col">
            Cost: <input type="number" [(ngModel)]="node.cost" (change)="update()">
          </div>
        </div>
        <div class="row" >
          <div class="col">
            Icon Color: <color-slider [color]="node.color" (onChange)="changeIconColor($event)"></color-slider>
          </div>
        </div>
        <div class="row" >
          <div class="col">
            Background Color: <color-slider [color]="node.bgColor" (onChange)="changeBgColor($event)"></color-slider>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Description:
            <br>
            <textarea [(ngModel)]="node.desc" style="width:100%;min-height: 80px;" (change)="update()">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
