<div class="container">
  <div class="row hidden-print">
    <div class="col-12">
      <h2>ACPA Generator Cyberpunk 2020</h2>
      <p>
        This unofficial utility to help create create Assisted Combat Power Armor from
        <a href="https://talsorianstore.com/collections/cyberpunk/products/maximum-metal" alt="Maxium Metal Physical book">Maximum Metal sourceboook</a>
        <a href="https://www.drivethrurpg.com/product/58781/Maximum-Metal?manufacturers_id=13" alt="Maxium Metal Physical book">PDF</a>.
        Make sure to have a copy as descriptions, details, and some of the rules haven't been replicated in this utility.
      </p>
    </div>
  </div>

  <div class="row hidden-print">
    <div class="col-12">
      <fa-icon [icon]="faFilePdf" class="float-end csd-btn csd-icon-btn csd-icon-xl me-2" (click)="savePDFFile()"
      title="Export as a PDF file"></fa-icon>
    <fa-icon [icon]="faSave" title="Save ACPA to a file for later upload" class="csd-btn csd-icon-btn csd-icon-xl float-end me-2"
      (click)="saveJSONFile()"></fa-icon>
      <input type="file" id="loadFile" title="load a ACPA .json file" name="Load" Style="display: none"
          (change)="loadJSONFile($event)" #inputFile (click)="inputFile.value = null" accept="text/plain;text/json" />
        <label for="loadFile" class="csd-btn csd-icon-btn csd-icon-xl float-end me-2">
          <fa-icon [icon]="faUpload" title="load a ACPA .json file"></fa-icon>
        </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-cp2020-acpa-form></cs-cp2020-acpa-form>
    </div>
  </div>
</div>
