<div *ngIf="!isEditing; else editItem" class="row text-xsmall cp2020-gear-row">
  <div class="col-2">{{ currItem.category }}</div>
  <div class="col-3">{{ currItem.name }}</div>
  <div class="col-1">{{ currItem.cost }}</div>
  <div class="col-1">{{ currItem.wt }}</div>
  <div class="col-2">{{ currItem.notes }}</div>
  <div class="col-2">
    {{ currItem.source.book | sourcebook }} pg.{{ currItem.source.page }}
  </div>
  <div class="col-1 p-0">
    <button
      *ngIf="isEditable"
      class="csd-btn csd-icon-btn me-1"
      (click)="isEditing = true"
    >
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button
      *ngIf="isEditable"
      class="csd-btn csd-icon-btn me-1"
      (click)="deleteItem()"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
<ng-template #editItem>
  <div class="row text-xsmall">
    <div class="col-2 p-0">
      <select [(ngModel)]="currItem.category" class="w-100">
        <option *ngFor="let category of categories$ | async" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
    <div class="col-3 p-0">
      <input type="text" [(ngModel)]="currItem.name" class="w-100" />
    </div>
    <div class="col-1 p-0">
      <input type="text" [(ngModel)]="currItem.cost" class="w-100" />
    </div>
    <div class="col-1 p-0">
      <input
        type="number"
        [(ngModel)]="currItem.wt"
        class="w-100 no-spinners"
      />
    </div>
    <div class="col-2 p-0">
      <input type="text" [(ngModel)]="currItem.notes" class="w-100" />
    </div>
    <div class="col-1 p-0">
      <input type="text" [(ngModel)]="currItem.source.book" class="w-100" />
    </div>
    <div class="col-1 p-0">
      <input
        type="number"
        min="0"
        [(ngModel)]="currItem.source.page"
        class="w-100 no-spinners"
      />
    </div>

    <div class="col-1 p-0">
      <button class="csd-btn csd-icon-btn me-1" (click)="updateItem()">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
      <button class="csd-btn csd-icon-btn me-1" (click)="isEditing = false">
        <fa-icon [icon]="faWindowClose"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>
