<div class="row py-0 mt-0">
  <div class="col-12 py-0 ps-3 position-relative">
    <div class="csd-input-label ps-4">name</div>
    <div class="position-absolute text-xsmall fst-italic ps-2 csd-source">
      <input
        [(ngModel)]="currSkill.source"
        type="text"
        class="csd-plain-input text-end"
      />
    </div>
    <input
      [(ngModel)]="currSkill.name"
      type="text"
      class="csd-plain-input w-80 text-capitalize mt-1 pt-1"
    />
  </div>
</div>
<div class="row">
  <div class="col-4 position-relative small">
    <div class="csd-input-label ps-4">type</div>
    <div class="btn-group px-1 mt-2 pt-1" dropdown>
      <button
        id="button-type"
        dropdownToggle
        type="button"
        class="csd-sort-selector px-1 w-100 text-uppercase"
        aria-controls="dropdown-type"
        title="Skill type"
      >
        {{ currSkill?.type }}
      </button>
      <ul
        id="dropdown-type"
        *dropdownMenu
        class="dropdown-menu px-2"
        role="menu"
        aria-labelledby="button-type"
      >
        <li
          *ngFor="let skillType of skillTypes$ | async"
          role="menuitem"
          class="text-uppercase"
          (click)="currSkill.type = skillType"
        >
          {{ skillType }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2 position-relative small">
    <div class="csd-input-label ps-4">stat</div>
    <div class="btn-group px-1 align-top mt-2 pt-1" dropdown>
      <button
        id="button-stat"
        dropdownToggle
        type="button"
        class="csd-sort-selector px-1 w-100 text-uppercase"
        aria-controls="dropdown-stat"
        title="Skill stat"
      >
        {{ currSkill?.stat }}
      </button>
      <ul
        id="dropdown-stat"
        *dropdownMenu
        class="dropdown-menu px-2"
        role="menu"
        aria-labelledby="button-stat"
      >
        <li
          *ngFor="let stat of skillStats$ | async"
          role="menuitem"
          class="text-uppercase"
          (click)="currSkill.stat = stat"
        >
          {{ stat }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2 position-relative text-center px-0">
    <div class="csd-input-label ps-2">ip mod</div>
    <input
      [(ngModel)]="currSkill.ipMod"
      type="number"
      class="csd-plain-input w-100 text-center mt-2 pt-1 ms-2 no-spinners"
    />
  </div>
  <div class="col-2 position-relative text-center px-0">
    <div class="csd-input-label">IP Req.</div>
    <div class="mt-2 pt-1" title="IP needed for next level">
      {{ ipRequired }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 position-relative text-center">
    <div class="csd-input-label ps-3">chipped?</div>
    <button
      class="csd-btn csd-icon-btn csd-btn-lg mt-3 ms-3"
      title="Chipped skill"
      (click)="toggleChipped($event)"
    >
      <fa-icon
        [icon]="currSkill.isChipped ? faCheckCircle : faDotCircle"
      ></fa-icon>
    </button>
  </div>
  <div class="col-2 position-relative text-center">
    <div class="csd-input-label ps-2">base</div>
    <input
      [(ngModel)]="currSkill.base"
      type="number"
      class="csd-plain-input w-100 mt-3 ms-2 text-center no-spinners"
    />
  </div>
  <div class="col-2 position-relative text-center py-0">
    <div class="csd-input-label">mod.</div>
    <div class="mt-3">{{ skillModifierTotal }}</div>
  </div>

  <div class="col-2 position-relative text-center py-0">
    <div class="csd-input-label">level</div>
    <div class="mt-3">{{ currSkill.level }}</div>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-12 position-relative">
    <div class="csd-input-label ps-4">description</div>
    <textarea class="w-100" [(ngModel)]="skill.description"></textarea>
  </div>
</div>
