<div>
  <div class="bg-secondary text-light text-uppercase row font-weight-bold">
    <div
      *ngFor="let col of columnsParameters"
      [ngClass]="col.headerClass"
      class="p-0 p-md-1 p-lg-2"
    >
      {{ col.header }}
      <button *ngIf="col.sort" class="csd-btn ms-1" (click)="toggleSort(col)">
        <fa-icon [icon]="isSorted(col) ? faSortUp : faSortDown"></fa-icon>
      </button>
    </div>
  </div>
  <div class="text-xsmall row">
    <div
      *ngFor="let col of columnsParameters"
      [ngClass]="col.class"
      class="p-0 p-md-1 p-lg-2"
    >
      <select
        *ngIf="col?.filters === 'filter' && col.filterValues?.length > 0"
        (change)="refreshFilter()"
        [(ngModel)]="searchFilter[col.property].value"
        class="w-100"
      >
        <option [value]="''">All</option>
        <option *ngFor="let entry of col.filterValues" [value]="entry.key">
          {{ entry.value }}
        </option>
      </select>
      <input
        *ngIf="col?.filters === 'contains'"
        [type]="col.inputType"
        [(ngModel)]="searchFilter[col.property].value"
        (keyup)="refreshFilter()"
        class="w-100"
      />
      <input
        *ngIf="col?.filters === 'sourcebook'"
        type="text"
        [(ngModel)]="sourceFilter"
        (keyup)="refreshFilter()"
        class="w-100"
      />
    </div>
  </div>
  <div
    *ngFor="
      let entry of dataList
        | filterby : searchFilter
        | sourcebookFilter : sourceFilter
        | orderby : sortOrder
    "
    [ngClass]="{
      'border-bottom border-dark row': true,
      'row-selectable': selectable
    }"
    (click)="rowClick(entry)"
  >
    <ng-container *ngFor="let col of columnsParameters">
      <div
        *ngIf="!col.isSourcebook; else sourcebook"
        [ngClass]="col.class"
        class="p-1 p-lg-2 letter-spacing-1"
      >
        <div *ngIf="col.inputType !== 'array'; else entryList">
          {{
            col.inputType === "number"
              ? (getValue(entry, col.property) | number)
              : col.inputType === "checkbox"
              ? getBoolean(entry, col.property)
              : getValue(entry, col.property)
          }}
        </div>
        <ng-template #entryList>
          <ul>
            <li *ngFor="let item of entry[col.property]">
              {{ convertItem(item) }}
            </li>
          </ul>
        </ng-template>
      </div>
      <ng-template #sourcebook>
        <div [ngClass]="col.class" class="p-1 p-lg-2 letter-spacing-1">
          {{ entry[col.property]?.book | sourcebook }} pg.{{
            entry[col.property]?.page
          }}
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
