<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Gang Generator for Cyberpunk 2020/Cyberpunk Red</h2>
      <div>
        This unofficial utility that leverages Ocelot's random gang generation
        system. This has additional entries, values, and tweaks to quickly
        generate a gang for Cyberpunk 2020 or Cyberpunk Red.
      </div>
      <div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-gang-generator-display></cs-gang-generator-display>
    </div>
  </div>
  <br />
</div>
