<div>
  <div class="row">
    <div class="col">
      <h5>Random Generator</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Uunselecting all the below will make all weapons available.
    </div>
  </div>
  <ng-container
    *ngFor="let section of sections"
    [ngTemplateOutlet]="propertySections"
    [ngTemplateOutletContext]="{
      section: section
    }"
  ></ng-container>
</div>

<ng-template #propertySections let-section="section">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">{{ section.name }}:</div>
    <div class="col">
      <ng-container
        *ngFor="let opt of section.options"
        [ngTemplateOutlet]="filterParam"
        [ngTemplateOutletContext]="{
          prop: opt.prop,
          name: opt.name,
          value: opt.value
        }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #filterParam let-prop="prop" let-name="name" let-value="value">
  <div class="row">
    <div class="col">
      <input
        type="checkbox"
        [checked]="paramChecked(wpnParam[prop], value)"
        (change)="addParam($event, prop, value)"
        tabindex="0"
      />
      - {{ name }}
    </div>
  </div>
</ng-template>
