<div class="inline-block">
  <ng-container *ngFor="let icon of icons;let i = index">
  <div *ngIf="isEnabled(icon.type)" [ngClass]="{'inline-block rounded text-center align-middle csd-node-btn m-0 float-start p-1 pb-3': true, 'datafort-node-selected': datafortBuilderService.isToolSelected(icon.type)}">
    <div class="csd-datafort-node-btn p-0 csd-btn" [title]="icon.title" (click)="selectTool(icon.type)">
      <span class="datafort-node-counter rounded">{{getCount(icon.type)}}</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" [innerHTML]="icon.icon | sanitizeHtml"></svg>
    </div>
  </div>
</ng-container>
</div>
