<div class="py-1">
  @if(!isEdit) {
  <div class="row" tab-index="0" (click)="isEdit = !isEdit" title="Add new contact">
    <div class="col-12 text-center">
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl" [icon]="faPlus" size="xl"></fa-icon>
    </div>
  </div>
  } @else {
  <div class="row">
    <div class="col-6">
      <p-floatlabel class="w-70 d-inline-block" variant="on">
        <input pInputText type="text" class="w-100" pSize="small" title="Enter area/field of contact."
          [(ngModel)]="newArea.area" />
        <label for="on_label">Area/Field</label>
      </p-floatlabel>
    </div>
    <div class="col-3">
      <span class="csd-required">
      <p-floatlabel class="d-inline-block" variant="on">
        <input pInputText type="number" min="0" max="6" class="w-100" pSize="small" title="Must be a value between 1 and 6."
          [(ngModel)]="newArea.rolls" />
        <label for="on_label">Rolls</label>
      </p-floatlabel>
      </span>
    </div>
    <div [ngClass]="{ 'col-1': true, 'hot-stuff-over': !isUnderPoints }">
      {{ newArea.points }}pts
    </div>
    <div class="col-2 text-end">
      <button (click)="addArea()" [ngClass]="{
            'csd-btn me-2 csd-icon-xl': true,
            'csd-icon-btn': canAdd,
            'csd-disabled': !canAdd
          }" title="Add{{
            canAdd ? '' : ' - must enter an area/field and roll 1 or above'
          }}" [disabled]="newArea.area === '' && newArea.rolls &lt; 1">
        <fa-icon [icon]="faSave" size="xl"></fa-icon>
      </button>
      <button (click)="isEdit = !isEdit" class="csd-btn csd-icon-btn csd-icon-xl" title="Cancel">
        <fa-icon [icon]="faTimes" size="xl"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-11 hot-stuff-details mt-2">
      <p-floatlabel variant="on">
        <textarea pTextarea class="w-100" [(ngModel)]="newArea.details"
          placeholder="Enter details about contact..."></textarea>
        <label for="on_label">Details</label>
      </p-floatlabel>
    </div>
  </div>
  }
</div>
