<div class="py-1">
  <div
    class="row"
    *ngIf="!isEdit; else addNewItem"
    tab-index="0"
    (click)="isEdit = !isEdit"
    title="Add new contact"
  >
    <div class="col-12 text-center">
      <fa-icon
        class="csd-btn csd-icon-btn csd-icon-xl"
        [icon]="faPlus"
      ></fa-icon>
    </div>
  </div>
  <ng-template #addNewItem>
    <div class="row">
      <div class="col-6">
        <input
          [(ngModel)]="newArea.area"
          class="w-85"
          type="text"
          placeholder="* Enter area/field..."
          title="Required. Cannot be an area/field that already exists."
        />
      </div>
      <div class="col-3">
        <span class="csd-required">
          <input
            class="text-center"
            [(ngModel)]="newArea.rolls"
            type="number"
            min="0"
            [max]="maxRolls"
            title="Must be a value between 1 and 6."
          />
          rolls
        </span>
      </div>
      <div [ngClass]="{ 'col-1': true, 'hot-stuff-over': !isUnderPoints }">
        {{ newArea.points }}pts
      </div>
      <div class="col-2 text-end">
        <button
          (click)="addArea()"
          [ngClass]="{
            'csd-btn me-2 csd-icon-xl': true,
            'csd-icon-btn': canAdd,
            'csd-disabled': !canAdd
          }"
          title="Add{{
            canAdd ? '' : ' - must enter an area/field and roll 1 or above'
          }}"
          [disabled]="newArea.area === '' && newArea.rolls &lt; 1"
        >
          <fa-icon [icon]="faSave"></fa-icon>
        </button>
        <button
          (click)="isEdit = !isEdit"
          class="csd-btn csd-icon-btn csd-icon-xl"
          title="Cancel"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 hot-stuff-details">
        <textarea
          class="w-100"
          [(ngModel)]="newArea.details"
          title="Details about the area to gain extra rolls"
          placeholder="Enter details about the area/field..."
        ></textarea>
      </div>
    </div>
  </ng-template>
</div>
