<span class="opp-stat">
  <span [ngClass]="{'opp-wounded': isWounded}">{{statName}}</span>: {{stat.Adjusted}}[
  <input [(ngModel)]="stat.Base" type="number" min="0" class="csd-hide-spinner text-center cbttrk-input"
    title="Base stat of the opponent."
  /> +
  <input [(ngModel)]="stat.Modifier" type="number" class="csd-hide-spinner text-center cbttrk-input" (change)="onChangeModifier()"
  title="Modifier to the stat. Note: Cyberware hasn't been added. You need to manually add those modifiers."
  />]
  <fa-icon [icon]="faDice" class="csd-dice"
  [popoverTitle]="statName + ' ' + stat.Adjusted + ' - Roll or Save'"
  [popover]="dieRolls" [outsideClick]="true" containerClass="csd-rounded csd-popover"
  ></fa-icon>
</span>
<ng-template #dieRolls>
  <div>Stat Roll (stat + 1d10) <fa-icon [icon]="faDice" class="csd-dice" (click)="rollStat()"></fa-icon><br>{{statResults}}
  </div>
  <div>Stat Save (1d10 &lt;= stat) <fa-icon [icon]="faDice" class="csd-dice" (click)="rollSave()"></fa-icon><br>{{saveResults}}</div>
</ng-template>
