.csd-datafort-node-btn {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  position: relative;
  font-size: 25px;
  margin-top: -7px;
  padding-top: 0px;
}

.datafort-node-selected {
  background-color: turquoise;
}

.datafort-node-counter {
  position: absolute;
  padding: 1px 1px;
  top: 0;
  right: 0;
  font-size: 11px;
  background-color: white;
}
