<div class="row">
  <div class="col-2">Name:</div>
  <div class="col-9 wpn-name">
    <input [(ngModel)]="newWeapon.name" type="text" />
  </div>
  <div class="col-1 wpn-save">
    <fa-icon [icon]="faSave" [ngClass]="{
        'float-end btn btn-lg csd-btn csd-icon-btn': true,
        disabled: newWeapon.name === ''
      }" title="Save weapon" (click)="update()"></fa-icon>
  </div>
</div>
<div class="row">
  <div class="col-6 col-lg-3">Type:
    <select [(ngModel)]="newWeapon.type" class="float-end">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let wpnType of weaponTypes" [ngValue]="wpnType.code">{{ wpnType.code}}
      </option>
    </select>
  </div>
  <div class="col-6 col-lg-3">WA:
    <input [(ngModel)]="newWeapon.wa" type="number" class="text-uppercase text-center wpn-narrow float-end" />
  </div>
  <div class="col-6 col-lg-3">Concealment:
    <select [(ngModel)]="newWeapon.conc" class="float-end">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let conc of concealments" [ngValue]="conc.code">{{
        conc.code
        }}</option>
    </select>
  </div>
  <div class="col-6 col-lg-3">Availability:
    <select [(ngModel)]="newWeapon.avail" class="float-end">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let avail of availabilities" [ngValue]="avail.code">{{
        avail.code
        }}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-6 col-lg-3">Damage:
    <input [(ngModel)]="newWeapon.damage" type="text" class="text-uppercase wpn-dmg float-end" placeholder="ex. 2d6+3" />
  </div>
  <div class="col-6 col-lg-3">Ammo:
    <input [(ngModel)]="newWeapon.ammo" type="text" class="text-uppercase wpn-dmg float-end" placeholder="ex. 9mm" />
  </div>
  <div class="col-6 col-lg-3">Cased:
    <input [(ngModel)]="newWeapon.cased" type="checkbox" class="text-uppercase wpn-col" />
  </div>
  <div class="col-6 col-lg-3">#Shots:
    <input [(ngModel)]="newWeapon.shots" type="number" class="text-uppercase wpn-col float-end" />
  </div>
</div>
<div class="row">
  <div class="col-6 col-lg-3">ROF:
    <input [(ngModel)]="newWeapon.rof" type="number" class="text-uppercase wpn-col float-end" />
  </div>
  <div class="col-6 col-lg-3">Reliability:
    <select [(ngModel)]="newWeapon.rel" class="float-end">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let rel of reliabilites" [ngValue]="rel.code">{{
        rel.code
        }}</option>
    </select>
  </div>

  <div class="col-6 col-lg-3">Range(m):
    <input [(ngModel)]="newWeapon.range" type="number" class="text-uppercase wpn-col float-end" />
  </div>
  <div class="col-6 col-lg-3">Cost(eb):
    <input [(ngModel)]="newWeapon.cost" type="number" class="text-uppercase wpn-col float-end" />
  </div>
  <div></div>
</div>
<cs-cp2020weapon-options [weapon]="newWeapon" (updateOptions)="updateOptions($event)"></cs-cp2020weapon-options>
<cs-cp2020magazines [weapon]="newWeapon" (updateMagazines)="updateMagazines($event)"></cs-cp2020magazines>
<div class="row csd-rounded">
  <div class="col-2 col-lg-1">Notes:</div>
  <div class="col-10 col-lg-11">
    <textarea [(ngModel)]="newWeapon.notes" type="text" class="wpn-notes"></textarea>
  </div>
</div>

