.wpn-narrow {
  width: 40px;
}

.wpn-col {
  width: 55px;
  text-align: right;
}

.wpn-notes, .wpn-dmg {
  width: 100%;
}

.disabled {
  color: #999;
  cursor: not-allowed;
}

.wpn-name input {
  width: 100%
}

.wpn-save, .wpn-save fa-icon {
  margin-top: 0px;
  padding-top: 0px;
}

.wpn-dmg {
  width: 50%;
}
