<div class="row">
  <div class="col-2">Name:</div>
  <div class="col-9 wpn-name">
    <input [(ngModel)]="newWeapon.name" type="text" />
  </div>
  <div class="col-1 wpn-save">
    <fa-icon [icon]="faSave" [ngClass]="{
        'float-right btn btn-lg csd-btn csd-icon-btn': true,
        disabled: newWeapon.name === ''
      }" title="Save weapon" (click)="update()"></fa-icon>
  </div>
</div>
<div class="row">
  <div class="col-3 col-lg-1">Type:</div>
  <div class="col-3 col-lg-2">
    <select [(ngModel)]="newWeapon.type">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let wpnType of weaponTypes" [ngValue]="wpnType.code">{{ wpnType.code}}
      </option>
    </select>
  </div>
  <div class="col-3 col-lg-1">WA:</div>
  <div class="col-3 col-lg-2">
    <input [(ngModel)]="newWeapon.wa" type="number" class="text-uppercase text-center wpn-narrow" />
  </div>
  <div class="col-3 col-lg-2">Concealment:</div>
  <div class="col-3 col-lg-1">
    <select [(ngModel)]="newWeapon.conc">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let conc of concealments" [ngValue]="conc.code">{{
        conc.code
        }}</option>
    </select>
  </div>
  <div class="col-3 col-lg-2">Availability:</div>
  <div class="col-3 col-lg-1">
    <select [(ngModel)]="newWeapon.avail">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let avail of availabilities" [ngValue]="avail.code">{{
        avail.code
        }}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-3 col-lg-1">Damage:</div>
  <div class="col-3 col-lg-2">
    <input [(ngModel)]="newWeapon.damage" type="text" class="text-uppercase wpn-dmg" placeholder="ex. 2d6+3" />
  </div>
  <div class="col-3 col-lg-1">Ammo:</div>
  <div class="col-3 col-lg-2">
    <input [(ngModel)]="newWeapon.ammo" type="text" class="text-uppercase wpn-dmg" placeholder="ex. 9mm" />
  </div>
  <div class="col-3 col-lg-1">#Shots:</div>
  <div class="col-3 col-lg-2">
    <input [(ngModel)]="newWeapon.shots" type="number" class="text-uppercase wpn-col" />
  </div>
  <div class="col-3 col-lg-2">ROF:</div>
  <div class="col-3 col-lg-1">
    <input [(ngModel)]="newWeapon.rof" type="number" class="text-uppercase wpn-col" />
  </div>
</div>
<div class="row">
  <div class="col-3 col-lg-2">Reliability:</div>
  <div class="col-3 col-lg-1">
    <select [(ngModel)]="newWeapon.rel">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let rel of reliabilites" [ngValue]="rel.code">{{
        rel.code
        }}</option>
    </select>
  </div>

  <div class="col-3 col-lg-1">Range:</div>
  <div class="col-3 col-lg-2">
    <input [(ngModel)]="newWeapon.range" type="number" class="text-uppercase wpn-col" />m
  </div>
  <div class="col-3 col-lg-1">Cost:</div>
  <div class="col-3 col-lg-2">
    <input [(ngModel)]="newWeapon.cost" type="number" class="text-uppercase wpn-col" />eb
  </div>
  <div></div>
</div>
<cs-cp2020weapon-options [weapon]="newWeapon" (updateOptions)="updateOptions($event)"></cs-cp2020weapon-options>
<cs-cp2020magazines [magazines]="newWeapon.magazines" [shots]="newWeapon.shots" [ammo]="newWeapon.ammo" *ngIf="newWeapon.magazines"></cs-cp2020magazines>
<div class="row">
  <div class="col-2 col-lg-1">Notes:</div>
  <div class="col-10 col-lg-11">
    <textarea [(ngModel)]="newWeapon.notes" type="text" class="wpn-notes"></textarea>
  </div>
</div>

