<div class="row">
  <div *ngFor="let faction of factionList" class="col-2 col-md-1">
    <button [ngClass]="{'p-1 csd-btn rounded text-center':true, 'chosen-button': faction === selectedFaction}" [title]="faction.replace('_',' ').toUpperCase()" (click)="selectFaction(faction)">
      <div *ngIf="!faction || faction == ''; else elseFaction" class="d-inline-block w-100 text-center text-small">
        All
      </div>
      <ng-template #elseFaction>
        <img [ngClass]="{'csd-img-icon d-inline-block': true, 'csd-btn-pressed': faction === selectFaction}"
          src="img/cz/icon_{{faction.replace(' ','_')}}.png">
      </ng-template>
    </button>
  </div>
</div>
