<div>
  <div class='row chargen-label'>
    <div class='col-12 g-0'>
      <h4 class="csd-btn d-inline-block" (click)="isCollapsed = !isCollapsed">
        SKILLS
        <fa-icon [icon]="isCollapsed ? faChevronRight : faChevronDown" class="csd-btn csd-icon-btn ms-1"
          title="Toggle section">
        </fa-icon>
      </h4>
      <span class="csd-btn csd-dice ms-2 d-inline-block h4" *ngIf="!isCollapsed" (click)="generateSkillLevels()">
        <fa-icon [icon]="dice"
          title="Randomly set all the skill levels to 1-10.{{(characterSkills.length &lt; 1)?' Need to add some skills first.':''}}">
        </fa-icon>
        </span>
        <span class="csd-btn ms-2 d-inline-block h4" *ngIf="!isCollapsed" (click)="addSKill(newSkillModal)">

        <fa-icon [icon]="faPlus" class="csd-btn csd-icon-btn me-1 ms-1" title="Add a new special ability or skill to the list"></fa-icon>
      </span>
    </div>
  </div>
  <div [collapse]="isCollapsed" class="row border border-dark">
    <div class="col-12">
      <div class="row opp-sa mt-1 border-bottom">
        <div class="col-12 col-md-3">
          <h6 >SPECIAL ABILITY: </h6>
        </div>
        <div class="col-12 col-md-9">
          <cs-cp2020-skill *ngFor="let spclAbility of characterSpAbilites" [skill]="spclAbility" [stat]="characterStats[spclAbility.stat]" [showIP]="false" [showStat]="false" (changeSkill)="changeSpecialAbility($event)" (delete)="deleteSA($event)" ></cs-cp2020-skill>
          </div>
      </div>
      <div class="row d-md-none">
        <h6>SKILLS:</h6>
      </div>
      <div class="row mt-1">
        <div class="col-12 column-count">
          <cs-cp2020-skill *ngFor="let skill of columnOneSkills" [skill]="skill" [stat]="characterStats[skill.stat]" [showIP]="false" [showStat]="true" (changeSkill)="changeSkill($event)" (delete)="deleteSkill($event)" ></cs-cp2020-skill>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 g-0 csd-btn">
          <fa-icon [icon]="faPlus" class="csd-btn csd-icon-btn me-1 ms-1"></fa-icon>
          Add new Skill
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #newSkillModal>

  <div class="modal-header">
    <h4>ADD SKILL</h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="closeModal()"
      (keyup.enter)="closeModal()"
      tabindex="0"
    ></button>
  </div>
  <div class="modal-body">
    <cs-cp2020-skill-new (updateSkill)="addNewSkill($event)"></cs-cp2020-skill-new>
  </div>
</ng-template>
