<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>BETA VIEW</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      isIU: <input type="checkbox" [(ngModel)]="isIU">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-cp2020-armor-table [armor]="armorBlock" (changeArmor)="update($event)"></cs-cp2020-armor-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-cp2020-armor-section [armor]="armorBlock" (changeArmor)="update($event)"></cs-cp2020-armor-section>
    </div>
  </div>
</div>
