<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>BETA VIEW</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      isIU: <input type="checkbox" [(ngModel)]="isIU">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-cp2020-role-section [primaryRole]="selectRole" [isIU]="isIU"></cs-cp2020-role-section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-cp2020-role-editor [role]="selectRole" [isIU]="isIU" (updateRole)="update($event)"></cs-cp2020-role-editor>
    </div>
  </div>
</div>
