  <div class="row hidden-print">
    <div class="col">
      <p>
      NET Architecture Generator for Cyberpunk Red will randomly generate an architect to be used in your games.
      Some of the options that are generated are very generic. This is to keep with R Talsorian's Homebrew policy.
      Details about create a Net Architect for Cyberpunk RED can be found in the Cyberpunk Red Core Rulebook on pg 209.
    </p>
    <p>NOTE: Levels are the depth of the architect and isn't that same as the number of floors.</p>
    <h5>GENERATE AN ARCHITECT</h5>
    <p>
      To use this app, click the dice (<fa-icon [icon]="faDice" class="csd-dice btn-lg" ></fa-icon>) button to generate a random Net architect.
      By default the difficulty and number of floors will be randomly generated.
      To specify a difficulty or number of floors, uncheck the box next to the selection and enter the desired value.
      A diagram of the architect will be shown on the left and the key to the diagram will be on the right.
      Scroll over the title of the node to show the details of it.
    </p>
    <p>
      The generation uses the same charts from the Red Core Book. Branching is only binary, so a floor will not split off to more than 2 times.
    </p>
    <p>
      This app will also calculate the cost of the architect.
      This calculations include the cost per floor and the cost set in each floor.
      If a cost isn't set for the floor then it will not be in this total.
      The cost for each floor is set manually.
    </p>
    <h5>EDIT A FLOOR</h5>
    <p>
      To edit a floor, click on the pen (<fa-icon [icon]="faPen" class="btn-lg"></fa-icon>) in the bottom section where the floors details are listed.
      This opens the edit form to update and change the details of the floor.
    </p>
    <h5>ADD A FLOOR</h5>
    <p>
      Adding new floors is done by click on the small plus circle located to the right or underneath the floor.
      The new floors will be a file by default.
      The architect will allow up to 18 floors.
    </p>
    <h5>DELETE A FLOOR</h5>
    <p>
      Deleting floors is done by click on the small minus circle in the upper right corner of the floor.
      This will delete that floor and all of the floors above(below?) it.
    </p>
    <h5>ICONS</h5><p>
      The icons represent the node types within the architect.
    </p>
    <ul>
      <li><fa-icon [icon]="faLock" class="btn-lg"></fa-icon> = Password</li>
      <li><fa-icon [icon]="faFile" class="btn-lg"></fa-icon> = File</li>
      <li><fa-icon [icon]="faCogs" class="btn-lg"></fa-icon> = Control Node</li>
      <li><fa-icon [icon]="faSkullCrossbones" class="btn-lg"></fa-icon> = Program</li>
    </ul>
    <h5>MENU BAR</h5>
    <p>
      <fa-icon [icon]="faCog" class="btn-lg"></fa-icon> - NODE SETTINGS Button : This will only you to set the default colors for the type of floor. These settings will be save to your local cache so they may not stay if you clear your local  cache.
    </p>
    <p>
      <fa-icon [icon]="faSave" class="btn-lg"></fa-icon> - SAVE Button : This will save a json file that can be uploaded later for editing.
    </p>
    <p>
      <fa-icon [icon]="faUpload" class="btn-lg"></fa-icon> - UPLOAD Button : This will upload the saved json file. If you try a different json file it will not load.
    </p>
    <p>
      <fa-icon [icon]="faImage" class="btn-lg"></fa-icon> - SAVE AS SVG Button : This will save the diagram has a SVG image file. This will not be able to be uploaded.
    </p>
    <p>
      <fa-icon [icon]="faFileImage" class="btn-lg"></fa-icon> - SAVE AS PNG Button : This will save the diagram has a PNG image file. This will not be able to be uploaded.
    </p>
    <p>
      Note on PDF: I am afraid I haven't figure out a way to embed the SVG image into a PDF using the utility libraries for this site. I am working on a way to do this.
      Until then you should be able to use Chrome or Edge to print as PDF. I have tested it on both browsers and seems to be a good work around for now. Sorry Firefox users :(
    </p>
    </div>
  </div>
