<div class="container">
  <div class="row hidden-print">
    <div class="col-12">
      <h2>Life Path Generator Cyberpunk Red</h2>
      <p>
      This unofficial utility is for generating a character's Lifepath. This will allow you to use either the Jumpstart Kit or Core Red book for the system.
      It will also generate the roles lifepath as well if you use the Core book system.
      </p>
    </div>
  </div>
  <div class="row hidden-print">
    <div class="col-6">
      <span>System: </span>
      <select [(ngModel)]="selectedSystem">
        <option value="corebook">Core Rulebook</option>
        <option value="jumpstart">Jumpstart Kit</option>
      </select>
      <select class="ml-2" *ngIf="selectedSystem == 'corebook'" [(ngModel)]="selectedRole">
        <option value="Exec">Exec</option>
        <option value="Fixer">Fixer</option>
        <option value="Lawman">Lawman</option>
        <option value="Media">Media</option>
        <option value="Medtech">Medtech</option>
        <option value="Netrunner">Netrunner</option>
        <option value="Nomad">Nomad</option>
        <option value="Rockerboy">Rockerboy</option>
        <option value="Solo">Solo</option>
        <option value="Tech">Tech</option>
      </select>
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl ml-2" [icon]="faDice" title="Generate Lifepath" (click)="generate()"></fa-icon>
    </div>
    <div class="col-6">
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl float-right mr-2" [icon]="faSave" title="Save to file" (click)="saveFile()"></fa-icon>
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl float-right mr-2" [icon]="faFilePdf" title="Save as PDF" (click)="saveAsPDF()"></fa-icon>
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl float-right mr-2" [icon]="faCog" title="Change settings" (click)="showModal(lifepathSettings)"></fa-icon>
    </div>
  </div>
  <cs-cp-red-lifepath-core *ngIf="coreLifePath && selectedSystem == 'corebook'"></cs-cp-red-lifepath-core>
  <cs-cp-red-lifepath-jumpstart *ngIf="jumpstartLifepath && selectedSystem == 'jumpstart'" [lifepath]="jumpstartLifepath"></cs-cp-red-lifepath-jumpstart>
  <br>
  <br>
</div>
<ng-template #lifepathSettings>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Lifepath Random Settings</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">
          Number of Friends:
          <select class="float-right" [(ngModel)]="lifepathService.settings.numOfFriends" >
            <option value="1d10-7">1d10 - 7</option>
            <option value="1d10-6">1d10 - 6</option>
            <option value="1d6-3">1d6 - 3</option>
            <option value="1d6-2">1d6 - 2</option>
            <option value="1d4-1">1d4 - 1</option>
            <option value="1d4">1d4</option>
            <option value="1d3">1d3</option>
            <option value="1d3+1">1d3 + 1</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Number of Enemies:
          <select class="float-right" [(ngModel)]="lifepathService.settings.numOfEnemies" >
            <option value="1d10-7">1d10 - 7</option>
            <option value="1d10-6">1d10 - 6</option>
            <option value="1d6-3">1d6 - 3</option>
            <option value="1d6-2">1d6 - 2</option>
            <option value="1d4-1">1d4 - 1</option>
            <option value="1d4">1d4</option>
            <option value="1d3">1d3</option>
            <option value="1d3+1">1d3 + 1</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Number of Romances:
          <select class="float-right" [(ngModel)]="lifepathService.settings.numOfRomances" >
            <option value="1d10-7">1d10 - 7</option>
            <option value="1d10-6">1d10 - 6</option>
            <option value="1d6-3">1d6 - 3</option>
            <option value="1d6-2">1d6 - 2</option>
            <option value="1d4-1">1d4 - 1</option>
            <option value="1d4">1d4</option>
            <option value="1d3">1d3</option>
            <option value="1d3+1">1d3 + 1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</ng-template>
