<div class="row">
  <div class="col csd-rounded">
    <div class="row">
      <div class="col text-center"><i>Drag and drop Items to the Cart</i></div>
    </div>
    <div class="row small me-1 ms-1">
      <div class="col-4">
        <select [(ngModel)]="searchFilter.type" style="width: 90%" title="filter on cyberware type..."
          (change)="filterCyberList()">
          <option [ngValue]="''">All</option>
          <option [ngValue]="'BIOWARE'">Bioware</option>
          <option [ngValue]="'BODY PLATING'">Body Plating</option>
          <option [ngValue]="'CHIPWARE'">Chipware</option>
          <option [ngValue]="'CYBERAUDIO'">Cyberaudio</option>
          <option [ngValue]="'CYBERFOOT'">Cyberfoot</option>
          <option [ngValue]="'CYBERHAND'">Cyberhand</option>
          <option [ngValue]="'CYBERLIMB'">Cyberlimb</option>
          <option [ngValue]="'CYBERNETIC SYSTEM'">Cybernetic System</option>
          <option [ngValue]="'CYBEROPTIC'">Cyberoptic</option>
          <option [ngValue]="'CYBERVOCAL'">Cybervocal</option>
          <option [ngValue]="'CYBERWEAPON'">Cyberweapon</option>
          <option [ngValue]="'EXOTIC BODYSCULPT'">Exotic Bodysculpt</option>
          <option [ngValue]="'FASHIONWARE'">Fashionware</option>
          <option [ngValue]="'FULL CONVERSION'">Full Conversion</option>
          <option [ngValue]="'IMPLANT'">Implant</option>
          <option [ngValue]="'LINEAR FRAMES'">Linear Frames</option>
          <option [ngValue]="'NEURALWARE'">Neuralware</option>
        </select>
      </div>
      <div class="col">
        <input #cyberSearchElem [(ngModel)]="searchFilter.name" type="text" class="cyber-data-name w-100" placeholder="Search on name..." (input)="filterCyberList()" />
      </div>
    </div>
    <br>
    <div class="row me-1 ms-1">
      <div class="col cyber-data-table text-center">
        <bs-sortable [(ngModel)]="filteredDataCyber" itemClass="sortable-item" itemActiveClass="sortable-item-active"
          placeholderItem="Drag here" placeholderClass="placeholderStyle font-italic"
          wrapperClass="" [itemTemplate]="cyberListItem">
        </bs-sortable>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col csd-rounded">
    <div class="row">
      <div class="col text-center">
        <button class="float-end csd-btn csd-icon-btn" (click)="save()" title="Save all cyberware in the cart to the character.">
          <fa-icon [icon]="faSave"></fa-icon>
        </button>
        <h4>Cart</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center small"><i>To remove, drag item back to left</i></div>
    </div>
    <div class="row small">
      <div class="col-4 col-lg-5">Name</div>
      <div class="col-4 col-lg-4 text-center">HC</div>
      <div class="col-4 col-lg-3 text-end">Cost</div>
    </div>
    <div class="row">
      <div class="col">
        <bs-sortable [(ngModel)]="cart" itemClass="sortable-item" itemActiveClass="sortable-item-active"
          placeholderItem="&nbsp;&nbsp;&nbsp;...Drag here" placeholderClass="placeholderStyle font-italic"
          wrapperClass="" [itemTemplate]="addedCyberListItem">
        </bs-sortable>
      </div>
    </div>
    <hr>
    <div class="row small">
      <div class="col-5">Totals:</div>
      <div class="col-4 text-center">{{totalHumanityLose}}</div>
      <div class="col-3 text-end">{{totalCost | number}}eb</div>
    </div>
  </div>
</div>


<ng-template #cyberListItem let-item="item">
  <div class="row small" [popover]="cyberwareDetails" [popoverTitle]="item.value.name" placement="auto"
    [popoverContext]="{ item: item.value}" triggers="mouseenter:mouseleave focusin:focusout" [outsideClick]="true">
    <div class="col-4">
      {{item.value.type}}
    </div>
    <div class="col-8 csd-btn" tabindex="0" (keyup.enter)="add(item.value)">{{item.value.name}}</div>
  </div>
</ng-template>

<ng-template #addedCyberListItem let-item="item" let-i="index">
  <div class="row small">
    <div class="col-10 col-lg-5">
      <span class="csd-btn w-100" tabindex="0" [popover]="addedCyberwareDetails" [popoverTitle]="item.value.name"
       [popoverContext]="{cyber: cart[i]}" triggers="mouseenter:mouseleave  focusin:focusout"
        placement="bottom">
        {{item.value.name}}
      </span>
    </div>
    <div class="col-1">
      <button class="csd-btn csd-icon-btn float-end" (click)="delete(index)" title="Remove item from cart">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <div class="col-3 d-lg-none"></div>
    <div class="col-6 col-lg-4 text-center" title="HC: {{item.value.hc}}">
      <ng-container *ngIf="item.value.hc.toLowerCase().indexOf('d') > 0; else staticHumanityLose">
        <input type="number" [(ngModel)]="item.value.hl" class="cyber-hl text-end" step="0.5">
        <button (click)="rollHumanityLose(i, item.value.hc)" class="ms-2 small csd-btn csd-dice" title="Roll for humanity lose">
          <fa-icon [icon]="faDice"></fa-icon>
        </button>
      </ng-container>
      <ng-template #staticHumanityLose>
        {{item.value.hl}}
      </ng-template>
    </div>
    <div class="col-3 col-lg-2 text-end">{{item.value.cost | number}}eb
    </div>
  </div>
</ng-template>


<ng-template #cyberwareDetails let-item="item">
    <div class="row">
      <div class="col small">{{item.type}}</div>
      <div class="col small">{{item.subtype}}</div>
      <div class="col small">{{item.cost}}eb</div>
    </div>
    <div class="row">
      <div class="col small">HC: {{item.hc}}</div>
      <div class="col small">Surgery: {{item.surgery}}</div>
    </div>
    <div class="row">
      <div class="col small">Source: {{item.source.book}} {{item.source.page}}pg.</div>
    </div>
    <div class="row">
      <div class="col small">Notes: {{item.notes}}</div>
    </div>
    <div class="row">
      <div class="col">{{item.desc}}</div>
    </div>
</ng-template>

<ng-template #addedCyberwareDetails let-cyber="cyber">
  <div class="cyber-details">
    {{cyber.notes}}
    <br><br>
    Surgery: {{cyber.surgery}}
    <br><br>
    <i>{{cyber.source.book}} pg.{{cyber.source.page}}</i>
  </div>
</ng-template>
