<div class="row mt-0">
  <div class="col">
    <div class="row g-0">
      <div class="col">
        <h5 class="cp2020-label d-inline-block">Services</h5>
        </div>
      <div class="col text-end">
        <span class="d-inline-block">Total: {{totalMonthlyCost|number}}eb/month</span>
        <button #payServiceElem class="csd-btn csd-icon-btn ms-2 csd-icon-xl me-2" title="Pay" (click)="payServices()">
          <fa-icon [icon]="faEuroSign"></fa-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let service of currServices;let i = index" class="row ps-1 pe-1">
      <div class="col-8">
        <select #serviceNameElem [(ngModel)]="service.name" (change)="changeName($event.target.value,i)">
          <option *ngFor="let s of servicesData" [ngValue]="s.name">{{s.name}}</option>
        </select>
        <button *ngIf="service.options && service.options.length > 0" class="csd-btn csd-icon-btn ms-1" (click)="showModal(showOptions, i)" title="Options">
          <fa-icon [icon]="faList"></fa-icon>
        </button>
        <button class="csd-btn csd-icon-btn ms-2" (click)="delete(i)" title="Delete service">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      <div class="col">
      </div>
      <div class="col text-end">
        {{calculateMonthlyCost(service) | number}}eb
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col text-center">
        <button #addServiceElem class="csd-icon-btn csd-btn W-100" title="Add a service" (click)="add()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #showOptions>
  <div class="modal-header">
    <h4 id="armor-modal-name" class="modal-title float-start">Options</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">

    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let opt of selectedService.options; let i = index" class="row">
      <div class="col">
        <input type="checkbox" class="me-3" [checked]="getOptionValue(i)" (change)="checkOption(i)">
        {{opt.name}}
      </div>
      <div class="col text-end">
        {{opt.cost | number}}eb
      </div>
    </div>
  </div>
</ng-template>
