<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h5 class="cp2020-label d-inline-block">Utilities</h5>
        <span class="float-right d-inline-block">Total: </span>
      </div>
    </div>
    <div class="row">
      <div class="col">Utilities -  100eb/month</div>
    </div>
    <div class="row">
      <div class="col">Cell Phone -  100eb/month</div>
    </div>
    <div class="row">
      <div class="col">Cell Phone - voicemail -  20eb/month</div>
    </div>
    <div class="row">
      <div class="col">Cell Phone - conference call -  5eb/month</div>
    </div>
    <div class="row">
      <div class="col">Landline -  30eb/month</div>
    </div>
    <div class="row">
      <div class="col">Credchip Account -  20eb/month</div>
    </div>
    <div class="row">
      <div class="col">Health Plan -  1000eb/month</div>
    </div>
    <div class="row">
      <div class="col">Trauma Team -  500eb/month</div>
    </div>
    <div class="row">
      <div class="col">Cable TV -  40eb/month</div>
    </div>
    <div class="row">
      <div class="col">Cab Hailer -  10eb/month</div>
    </div>
    <div class="row">
      <div class="col">Personal Body Alarm -  400eb/month</div>
    </div>
    <div class="row">
      <div class="col">Party Time -  3000eb/month</div>
    </div>
    <div class="row">
      <div class="col">Clean Sweep -  7000eb/year</div>
    </div>
    <div class="row">
      <div class="col">All Food Membership -  25eb/month</div>
    </div>
    <div class="row">
      <div class="col">International Companion Network -  10000eb/month</div>
    </div>
    <div class="row">
      <div class="col">Child Care - Child Creche -  50eb/day</div>
    </div>
    <div class="row">
      <div class="col">Child Care - Safe Child -  350eb/day</div>
    </div><div class="row">
      <div class="col text-center">
        <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn"></fa-icon>
      </div>
    </div>
  </div>
</div>
<ng-template #cpFood let-food="utility">
  <div class="row">
    <div class="col-1">
      {{utility.count}}
    </div>
    <div class="col">
      {{utility.name}}
    </div>
    <div class="col">
      {{utility.unit}}
    </div>
    <div class="col-2">
      {{utility.cost}}eb
    </div>
    <div class="col-1">
      <fa-icon [icon]="faTrash" class="csd-icon-btn csd-btn"></fa-icon>
    </div>
  </div>
</ng-template>
