.csd-add-image {
  position: absolute;
  right: auto;
  left: 49%;
  top: 40%;
  display: none;
}
.csd-image {
  min-height: 100px;
  background-color: #EEE;
}
.csd-image:hover {
  background-color: #CCC;
}

.csd-image:hover button {
  display: inline-block;
  z-index: 100;
}

.csd-image:hover img {
  opacity: 0.5;
}
