<div class="border border-dark mt-2">
  <div class="cp2020-label row">
    <div class="col">
      <h4 class="d-inline-block csd-btn me-4" (click)="isCollapsed = !isCollapsed">
        LIFEPATH
        <fa-icon [icon]="collapseChevron" class="csd-icon-btn csd-icon-xl ms-2"></fa-icon>
      </h4>
      <fa-icon *ngIf="!isCollapsed" [icon]="faDice" class="chargen-lifepath-dice hidden-print" (click)="roll()"
        title="Randomly generate lifepath">
      </fa-icon>
      <select *ngIf="!isCollapsed" [(ngModel)]="selectedSource" class=" hidden-print">
        <option value="?" selected="selected"></option>
        <option *ngFor="let opt of sources" value="{{opt.value}}">{{opt.title}}</option>
      </select>
      <span *ngIf="!isCollapsed">
      <input class="chargen-always-event hidden-print" type="checkbox" [(ngModel)]="eventful"
        title="check if you want to have an event for each year of Life Events"> always an event
      </span>
      <span *ngIf="!isCollapsed">
      <input [(ngModel)]="years" class="chargen-years-event text-center hidden-print" type="number" min="0" max="12"
        title="Enter the number of years to roll, 0-12. 0 will be randomly determined." (change)="changeYear()"> years
      </span>
    </div>
  </div>
  <div class="row mt-1" [collapse]="isCollapsed">
    <div class="col">
      <div class="row">
        <div class="col-12 col-lg-5">
          <div class="row">
            <div class="col">
              <span class="chargen-label d-block" style="width: 70px">Style</span>
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Clothes <input [(ngModel)]="newLifPath.appearance.clothes" (change)="onChangeLifePath()" type="text"
                class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Hair <input [(ngModel)]="newLifPath.appearance.hairstyle" (change)="onChangeLifePath()" type="text"
                class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Affectations <input [(ngModel)]="newLifPath.appearance.affectations" (change)="onChangeLifePath()"
                type="text" class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Ethnicity <input [(ngModel)]="newLifPath.ethnicity.name" (change)="onChangeLifePath()" type="text"
                class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Language <input [(ngModel)]="newLifPath.ethnicity.language" (change)="onChangeLifePath()" type="text"
                class="float-end" />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="row">
            <div class="col">
              <span class="chargen-label d-block" style="width: 110px">Motivations</span>
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Traits <input [(ngModel)]="newLifPath.motivations.personality"
      (change)="onChangeLifePath()" type="text" class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">
              Valued Person <input [(ngModel)]="newLifPath.motivations.valuedperson"
      (change)="onChangeLifePath()" type="text" class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">Value Most <input [(ngModel)]="newLifPath.motivations.valuemost"
              (change)="onChangeLifePath()" type="text" class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">Feel About People <input [(ngModel)]="newLifPath.motivations.feelaboutpeople"
              (change)="onChangeLifePath()" type="text" class="float-end" />
            </div>
          </div>
          <div class="row">
            <div class="col ms-2">Valued Possesion <input [(ngModel)]="newLifPath.motivations.valuedpossession"
              (change)="onChangeLifePath()" type="text" class="float-end" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="chargen-label d-block" style="width: 180px">Family Background</div>
          <textarea [(ngModel)]="newLifPath.family.familyBackground" (change)="onChangeLifePath()"
            class="chargen-lifepath-family"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="chargen-label">#Siblings</span>
          <span class="chargen-sibling" *ngIf="brothers > 0">
            <span>{{brothers}}</span>
            <fa-icon [icon]="faMars" style="font-size:20px;" class="ms-2"></fa-icon>
          </span>
          <span class="chargen-sibling" *ngIf="sisters > 0">
            <span>{{sisters}}</span>
            <fa-icon [icon]="faVenus" style="font-size:20px;" class="ms-2"></fa-icon>
          </span>
          <span class="chargen-sibling" *ngIf="sibs > 0">
            <span>{{sibs}}</span>
            <fa-icon [icon]="faGenderless" style="font-size:20px;" class="ms-2"></fa-icon>
          </span>
          </div>
      </div>
      <div class="row border border-dark" *ngFor="let sib of siblings;let i = index">
        <ng-container *ngTemplateOutlet="sibling;context: {sib: sib, i: i}"></ng-container>
      </div>
      <div class="row hidden-print border border-dark">
        <div class="col text-center">
          <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn" (click)="addSibling()"></fa-icon>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="chargen-label">Life Events</span> One event for each year after age 16
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-md-1">
          Year
        </div>
      </div>
      <div *ngFor="let event of newLifPath.events; let i = index" class="row g-0 border border-dark">
        <div class="col-2 col-md-1">
          <input [(ngModel)]="event.age" type="number" min="0" max="150"
            class="csd-number" />
          <fa-icon [icon]="faTrash" class="csd-icon-btn csd-btn" (click)="removeYear(i)"></fa-icon>
        </div>
        <div class="col ps-0 pe-0">
          <textarea [(ngModel)]="event.event" class="chargen-life-event" rows="3" (change)="onChangeLifePath()"
            style="width:100%;"></textarea>
        </div>
      </div>
      <div class="row border border-dark g-0 hidden-print">
        <div class="col text-center">
          <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn" (click)="addYear()"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sibling let-sib="sib" let-i="i">
  <div class="col-6 pt-1">
    <input type="text" [(ngModel)]="sib.name" (change)="onChangeLifePath()" style="width:90%;"
      placeholder="name of sibling">
    <fa-icon [icon]="faTrash" class="csd-icon-btn csd-btn me-1" (click)="removeSibling(i)"></fa-icon>
  </div>
  <div class="col-6 col-md-2 col-lg-1">
    <select [(ngModel)]="sib.gender" (change)="onChangeLifePath()">
      <option value="brother">Brother</option>
      <option value="sister">Sister</option>
      <option value="sib">Sib</option>
    </select>
  </div>
  <div class="col-6 col-md-2 col-lg-1">
    <select [(ngModel)]="sib.age" (change)="onChangeLifePath()">
      <option value="older">Older</option>
      <option value="younger">Younger</option>
      <option value="same">Twin</option>
    </select>
  </div>
  <div class="col">
    <select [(ngModel)]="sib.feeling" (change)="onChangeLifePath()">
      <option value="hero worships you">Hero worships you</option>
      <option value="likes you">Likes you</option>
      <option value="dislikes you">Dislikes you</option>
      <option value="hates you">Hates you</option>
      <option value="neutral">Neutral</option>
    </select>
  </div>
</ng-template>
