<div class="cmbt-trk-armor container">
<div *ngFor="let layer of armorBlock.layers; let i = index"  class="row">
  <div class="col-12 col-lg-4">
    <br>
    <input [(ngModel)]="layer.isActive" type="checkbox"
      title="Activate the layer. May not activate if 3 layer rule or if doubling up on hard armor for the layer."
      (click)="activateLayer(i)"
      >{{layer.name}}({{layer.isHard ? 'Hard Armor':'Soft Armor'}})
  </div>
  <div class="col-1">Head<br><input [(ngModel)]="layer.head" type="number" min="0" (change)="updateArmorBlock()"></div>
  <div class="col-1">Torso<br><input [(ngModel)]="layer.torso" type="number" min="0" (change)="updateArmorBlock()"></div>
  <div class="col-1">RArm<br><input [(ngModel)]="layer.rarm" type="number" min="0" (change)="updateArmorBlock()"></div>
  <div class="col-1">LArm<br><input [(ngModel)]="layer.larm" type="number" min="0" (change)="updateArmorBlock()"></div>
  <div class="col-1">RLeg<br><input [(ngModel)]="layer.rleg" type="number" min="0" (change)="updateArmorBlock()"></div>
  <div class="col-1">LLeg<br><input [(ngModel)]="layer.lleg" type="number" min="0" (change)="updateArmorBlock()"></div>
  <div class="col-2">EV<br><input [(ngModel)]="layer.ev" type="number" min="0" (change)="updateArmorBlock()">&nbsp;
    <fa-icon [icon]="faTrash" class="csd-btn" title="Delete item"
    (click)="removeLayer(i)"
    ></fa-icon>
  </div>
</div>
<br>
<br>
<div class="row csd-rounded">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <fa-icon [ngClass]="{'csd-btn':true,'csd-disabled':false}"
        [icon]="faPlus"  title="Add new layer"
        (click)="addLayer()">
        </fa-icon>&nbsp;
        Name<br><input [(ngModel)]="newArmorLayer.name" type="text">
      </div>
      <div class="col-1">Head <br><input [(ngModel)]="newArmorLayer.head" type="number" min="0" ></div>
      <div class="col-1">Torso<br><input [(ngModel)]="newArmorLayer.torso" type="number" min="0"></div>
      <div class="col-1">RArm <br><input [(ngModel)]="newArmorLayer.rarm" type="number" min="0" ></div>
      <div class="col-1">LArm <br><input [(ngModel)]="newArmorLayer.larm" type="number" min="0" ></div>
      <div class="col-1">RLeg <br><input [(ngModel)]="newArmorLayer.rleg" type="number" min="0" ></div>
      <div class="col-1">LLeg <br><input [(ngModel)]="newArmorLayer.lleg" type="number" min="0" ></div>
    </div>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">EV <input [(ngModel)]="newArmorLayer.ev" type="number" min="0"></div>
      <div class="col-2">Is Hard Armor <input [(ngModel)]="newArmorLayer.isHard"  type="checkbox"></div>
      <div class="col-2">Is Skinweave <input [(ngModel)]="newArmorLayer.isSkinWeave"  type="checkbox"></div>
    </div>
  </div>
</div>
</div>
