INPUT[type=number]{
  width: 40px;
  text-align: right;
}

.cmbt-trk-armor {
  font-size: 10px;
}


.armor-dmg input{
  width: 40px;
  text-align: center;
}

.armor-dmg, .armor-dmg button {
  font-size: 10px;
}
