<div class="container">
  <div class="row">
    <!-- ngView:  -->
    <div class="csd-main col-12">
      <div style="font-size: x-small">Article last update 2013-09</div>
      <h2>Maps</h2>
      <div>
        These are the exported images of NC from the
        <a href="/dlow/cc3">CC3 map</a> I did.
      </div>
      <div>
        Want more info about the maps? Go purchase
        <a
          href="http://rpg.drivethrustuff.com/product/589/Night-City"
          target="_blank"
          >Night City Sourcebook</a
        >
        choomba! It's a steal compared to what I paid for my copy back in the
        day...
      </div>
    </div>
  </div>
  <div *ngIf="imageList$ | async as images" class="row ms-1 me-1">
    <div
      *ngFor="let image of images"
      class="col-6 col-md-4 col-lg-3 col-xl-2 csd-rounded text-center"
    >
      <h6>{{ image.title }}</h6>
      <a href="{{ image.src }}" target="self" download
        ><img src="{{ image.thumbnail }}" alt="{{ image.title }}" class="w-100"
      /></a>
    </div>
  </div>
</div>
