<div class="cp2020-section border border-dark">
  <div class="cp2020-label row g-0">
    <div class="col-12">
      <h4
        class="d-inline-block csd-btn me-4"
        (click)="isCollapsed = !isCollapsed"
        (keyup.enter)="isCollapsed = !isCollapsed"
        tabindex="0"
      >
        CYBERDECKS AND PROGRAMS
        <fa-icon
          [icon]="collapseChevron"
          class="csd-icon-btn csd-icon-xl ms-2"
        ></fa-icon>
      </h4>
      <div
        *ngIf="!isCollapsed && showQNR"
        class="d-inline-block float-end"
        title="This is if you use Cybersmily's Quick Netrunning Rules in the Mod section of this site."
      >
        Quick NR PM: {{ qnrPM > 0 ? "+" + qnrPM : qnrPM }}
      </div>
    </div>
  </div>
  <div class="row border border-dark g-0" [collapse]="isCollapsed">
    <div class="col">
      <div class="row g-0">
        <div class="col-12 col-lg-6 border border-dark ps-1 pe-1">
          <cs-cp2020-cyberdeck-form
            [deck]="currManager.deck"
            (update)="updateDeck($event)"
          ></cs-cp2020-cyberdeck-form>
          <br />
        </div>
        <div class="col col-lg-6 border border-dark ps-1 pe-1">
          <cs-program-list
            [programList]="currManager.programList"
            [maxMu]="currManager.deck.mu"
            (updateList)="uploadList($event)"
          ></cs-program-list>
        </div>
      </div>
    </div>
  </div>
</div>
