<div class="cs-nr-datafort-map-container">
  <svg
    #svgRoot
    [attr.width]="svgWidth"
    [attr.height]="svgHeight"
    [attr.viewBox]="'0 0 ' + svgWidth + ' ' + svgHeight"
    (load)="makeDraggable($event)"
    (mousedown)="startDrag($event)"
    (mousemove)="drag($event)"
    (mouseup)="endDrag($event)"
    (mouseleave)="dragLeave($event)"
  >
    <g *ngFor="let row of grid; let y = index">
      <rect
        *ngFor="let col of row; let x = index"
        class="nr-datafort-node"
        [attr.x]="x * gridSize"
        [attr.y]="y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        fill="white"
        stroke="black"
        [attr.stroke-width]="1"
        (click)="updateNode(x, y)"
        dndDropzone
        [dndDisableDropIf]="disableDrop(x, y)"
        (dndDrop)="onDrop($event, x, y)"
      ></rect>
    </g>
    <!-- DATAWALL NODES -->
    <g
      id="datawalls"
      class="csd-map-node"
      [attr.nodeType]="NrNodeType.DATAWALL"
      [attr.nodeIndex]="i"
      *ngFor="let datawall of currDatafort?.datawallNodes; let i = index"
    >
      <svg
        [attr.x]="datawall.x * gridSize"
        [attr.y]="datawall.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="draggable"
        [innerHTML]="NrNodeIcons.DATAWALL | sanitizeHtml"
      ></svg>
      <rect
        [attr.x]="datawall.x * gridSize"
        [attr.y]="datawall.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        class="csd-cell-overlay rounded csd-pass-through"
        fill-opacity="0"
      ></rect>
      <g
        class="csd-trash-node csd-btn"
        (click)="removeDatawall(datawall.x, datawall.y)"
      >
        <svg [attr.x]="datawall.x * gridSize" [attr.y]="datawall.y * gridSize">
          <circle
            [attr.cx]="gridSize - 7"
            [attr.cy]="7"
            r="7"
            stroke="black"
            stroke-width="1"
            fill="white"
          />
          <line
            [attr.x1]="gridSize - 10"
            [attr.x2]="gridSize - 3"
            [attr.y1]="7"
            [attr.y2]="7"
            stroke="red"
            stroke-width="2"
          />
        </svg>
      </g>
    </g>
    <!-- CODEGATE NODES -->
    <g
      id="codegates"
      *ngFor="let codegate of currDatafort?.codegates; let i = index"
      class="csd-map-node"
      [attr.nodeType]="NrNodeType.CODEGATE"
      [attr.nodeIndex]="i"
    >
      <svg
        [attr.x]="codegate.coord.x * gridSize"
        [attr.y]="codegate.coord.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        viewBox="0 0 512 512"
        class="draggable"
        xmlns="http://www.w3.org/2000/svg"
        [innerHTML]="NrNodeIcons.CODEGATE | sanitizeHtml"
      ></svg>
      <svg
        [attr.x]="codegate.coord.x * gridSize"
        [attr.y]="codegate.coord.y * gridSize"
      >
        <text
          [attr.x]="gridSize / 2"
          [attr.y]="gridSize / 1.7"
          [style]="'font-size: ' + gridSize * 0.3 + 'px;'"
          fill="black"
          dominant-baseline="bottom"
          text-anchor="middle"
          class="csd-pass-through"
        >
          {{ codegate.str }}
        </text>
      </svg>
      <rect
        [attr.x]="codegate.coord.x * gridSize"
        [attr.y]="codegate.coord.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        class="csd-cell-overlay rounded csd-pass-through"
        fill-opacity="0"
      ></rect>
      <g
        class="csd-trash-node csd-btn"
        (click)="removeCodegate(codegate.coord)"
      >
        <svg
          [attr.x]="codegate.coord.x * gridSize"
          [attr.y]="codegate.coord.y * gridSize"
        >
          <circle
            [attr.cx]="gridSize / 2"
            [attr.cy]="gridSize / 1.7"
            [attr.r]="gridSize * 0.4"
            stroke="black"
            stroke-width="0"
            class="csd-pass-through"
            fill="black"
          />
          <text
            [attr.x]="gridSize / 2"
            [attr.y]="gridSize / 1.7"
            [style]="'font-size: ' + gridSize * 0.7 + 'px;'"
            fill="white"
            dominant-baseline="middle"
            class="csd-pass-through"
            text-anchor="middle"
          >
            {{ i + 1 }}
          </text>
          <circle
            [attr.cx]="gridSize - 7"
            [attr.cy]="7"
            r="7"
            stroke="black"
            stroke-width="1"
            fill="white"
          />
          <line
            [attr.x1]="gridSize - 10"
            [attr.x2]="gridSize - 3"
            [attr.y1]="7"
            [attr.y2]="7"
            stroke="red"
            stroke-width="2"
          />
        </svg>
      </g>
    </g>
    <!-- CPU NODES -->
    <g
      id="cpus"
      *ngFor="let cpu of currDatafort?.cpuNodes; let i = index"
      class="csd-map-node"
      [attr.nodeType]="NrNodeType.CPU"
      [attr.nodeIndex]="i"
    >
      <svg
        [attr.x]="cpu.x * gridSize"
        [attr.y]="cpu.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        viewBox="0 0 512 512"
        class="draggable"
        xmlns="http://www.w3.org/2000/svg"
        [innerHTML]="NrNodeIcons.CPU | sanitizeHtml"
      ></svg>
      <rect
        [attr.x]="cpu.x * gridSize"
        [attr.y]="cpu.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        class="csd-cell-overlay rounded csd-pass-through"
        fill-opacity="0"
        (click)="removeCPU(cpu.x, cpu.y)"
      ></rect>
      <g class="csd-trash-node csd-btn" (click)="removeCPU(cpu.x, cpu.y)">
        <svg [attr.x]="cpu.x * gridSize" [attr.y]="cpu.y * gridSize">
          <circle
            [attr.cx]="gridSize - 7"
            [attr.cy]="7"
            r="7"
            stroke="black"
            stroke-width="1"
            fill="white"
          />
          <line
            [attr.x1]="gridSize - 10"
            [attr.x2]="gridSize - 3"
            [attr.y1]="7"
            [attr.y2]="7"
            stroke="red"
            stroke-width="2"
          />
        </svg>
      </g>
    </g>
    <!-- MEMORY NODES -->
    <g
      *ngFor="let mu of currDatafort?.muNodes; let i = index"
      id="mu{{ x }}"
      class="csd-map-node"
      [attr.nodeType]="NrNodeType.MU"
      [attr.nodeIndex]="i"
    >
      <svg [attr.x]="mu.x * gridSize" [attr.y]="mu.y * gridSize">
        <text
          [attr.x]="gridSize / 2"
          [attr.y]="gridSize / 2"
          fill="black"
          dominant-baseline="middle"
          text-anchor="middle"
        >
          {{ i + 1 }}
        </text>
      </svg>
      <svg
        [attr.x]="mu.x * gridSize"
        [attr.y]="mu.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
        class="draggable"
        [innerHTML]="NrNodeIcons.MU | sanitizeHtml"
      ></svg>
      <rect
        [attr.x]="mu.x * gridSize"
        [attr.y]="mu.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        class="csd-cell-overlay rounded csd-pass-through"
        fill-opacity="0"
      ></rect>
      <g class="csd-trash-node csd-btn" (click)="removeMemory(mu.x, mu.y)">
        <svg [attr.x]="mu.x * gridSize" [attr.y]="mu.y * gridSize">
          <circle
            [attr.cx]="gridSize - 7"
            [attr.cy]="7"
            r="7"
            stroke="black"
            stroke-width="1"
            fill="white"
          />
          <line
            [attr.x1]="gridSize - 10"
            [attr.x2]="gridSize - 3"
            [attr.y1]="7"
            [attr.y2]="7"
            stroke="red"
            stroke-width="2"
          />
        </svg>
      </g>
    </g>
    <!-- REMOTE NODES -->
    <g
      *ngFor="let remote of currDatafort?.remotes; let i = index"
      id="remotes{{ x }}"
      class="csd-map-node"
      [attr.nodeType]="remote.type"
      [attr.nodeIndex]="i"
    >
      <svg
        [attr.x]="remote.coord.x * gridSize"
        [attr.y]="remote.coord.y * gridSize"
        [attr.height]="gridSize * 0.75"
        [attr.width]="gridSize"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
        class="draggable"
        [innerHTML]="getRemoteIcon(remote.type) | sanitizeHtml"
      ></svg>
      <svg
        [attr.x]="remote.coord.x * gridSize"
        [attr.y]="remote.coord.y * gridSize"
      >
        <text
          [attr.x]="gridSize / 2"
          [attr.y]="gridSize - 2"
          [style]="'font-size: ' + gridSize * 0.3 + 'px;'"
          fill="black"
          dominant-baseline="bottom"
          text-anchor="middle"
        >
          {{ i + 1 }}
        </text>
      </svg>
      <rect
        [attr.x]="remote.coord.x * gridSize"
        [attr.y]="remote.coord.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        class="csd-cell-overlay rounded csd-pass-through"
        fill-opacity="0"
      ></rect>
      <g class="csd-trash-node csd-btn" (click)="removeRemote(remote.coord)">
        <svg
          [attr.x]="remote.coord.x * gridSize"
          [attr.y]="remote.coord.y * gridSize"
        >
          <circle
            [attr.cx]="gridSize - 7"
            [attr.cy]="7"
            r="7"
            stroke="black"
            stroke-width="1"
            fill="white"
          />
          <line
            [attr.x1]="gridSize - 10"
            [attr.x2]="gridSize - 3"
            [attr.y1]="7"
            [attr.y2]="7"
            stroke="red"
            stroke-width="2"
          />
        </svg>
      </g>
    </g>
    <!-- DEFENSE NODES -->
    <g
      *ngFor="let defense of currDatafort?.defenses; let i = index"
      id="defense{{ x }}"
      class="csd-map-node"
      [attr.nodeType]="NrNodeType.PROGRAM"
      [attr.nodeIndex]="i"
    >
      <svg
        [attr.x]="defense.coord.x * gridSize"
        [attr.y]="defense.coord.y * gridSize"
        [attr.height]="gridSize * 0.75"
        [attr.width]="gridSize"
        viewBox="0 0 512 512"
        xmlns="http://www.w3.org/2000/svg"
        class="draggable"
        [innerHTML]="NrNodeIcons.PROGRAM | sanitizeHtml"
      ></svg>
      <svg
        [attr.x]="defense.coord.x * gridSize"
        [attr.y]="defense.coord.y * gridSize"
      >
        <text
          [attr.x]="gridSize / 2"
          [attr.y]="gridSize - 2"
          [style]="'font-size: ' + gridSize * 0.3 + 'px;'"
          fill="black"
          dominant-baseline="bottom"
          text-anchor="middle"
        >
          {{ i + 1 }}
        </text>
      </svg>
      <rect
        [attr.x]="defense.coord.x * gridSize"
        [attr.y]="defense.coord.y * gridSize"
        [attr.height]="gridSize"
        [attr.width]="gridSize"
        class="csd-cell-overlay rounded csd-pass-through"
        fill-opacity="0"
      ></rect>
      <g class="csd-trash-node csd-btn" (click)="removeDefense(defense.coord)">
        <svg
          [attr.x]="defense.coord.x * gridSize"
          [attr.y]="defense.coord.y * gridSize"
        >
          <circle
            [attr.cx]="gridSize - 7"
            [attr.cy]="7"
            r="7"
            stroke="black"
            stroke-width="1"
            fill="white"
          />
          <line
            [attr.x1]="gridSize - 10"
            [attr.x2]="gridSize - 3"
            [attr.y1]="7"
            [attr.y2]="7"
            stroke="red"
            stroke-width="2"
          />
        </svg>
      </g>
    </g>
  </svg>
</div>
