.nr-datafort-node {
  border: 1px solid black;
  background-color: transparent;
}



.nr-datafort-node:hover {
  fill: lightgray;
}
.csd-trash-node {
  display: none;
}

.csd-map-node:hover .csd-trash-node  {
  display: block;
  z-index: 1000;
}

.cs-nr-datafort-map-container {
  width: 100%;
  min-height: 180px;
  max-height: 1000px;
  border: 3px solid #AAA;
  overflow: auto;
}


.csd-pass-through {
  pointer-events: none;
}

.csd-cell-overlay:hover {
  fill: #a9f5bc;
  fill-opacity: 0.5;
}
