<div class="row">
  <div class="col">
    <fa-icon [icon]="faFilePdf" class="csd-icon-btn csd-icon-xl csd-btn float-end" (click)="printPDF()"
      title="Save as PDF"></fa-icon>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-8 col-xl-7">
    <svg #cmbtZoneMapSVG id="cmbt-zone-map-svg" viewBox="0 0 630 850">
      <g>
        <!-- Map Border-->
        <rect fill="#CCCCCC" stroke="black" stroke-width="1" stroke-opacity="1" stroke-miterlimit="4"
          stroke-dasharray="none" id="rect3033" width="620" height="850" x="0" y="0" />
        <!-- Blocks -->
        <svg *ngFor="let block of reversedBlocks; let i = index" [attr.x]="blocks[i].x" [attr.y]="blocks[i].y"
          height="220" width="220" viewBox="0 -20 220 220">
          <g>
            <!-- Create block layout -->
            <path *ngFor="let cityBlock of block.cityBlocks" [attr.d]="cityBlock.path" fill="#EEEEEE" stroke="black"
              stroke-width="1" />
            <!-- Create the buildings -->
            <svg *ngFor="let building of block.buildings; let j = index">
              <path [attr.d]="getPath(building)" fill="white" stroke="black" stroke-width="1" />
              <text [attr.x]="getTextX(building)" [attr.y]="getTextY(building)" fill="black" fill-opacity="1"
                stroke="none" style="font-size:12px;font-style:normal;font-weight:bold;font-family:Arial Narrow;"
                dominant-baseline="middle" text-anchor="middle">
                {{building.label}}
              </text>
            </svg>
            <!-- Block Label-->
            <text fill="#aaaaaa" fill-opacity="0.5" stroke="#888888" stroke-opacity="0.5" stroke-width="1"
              style="font-size:40px;font-style:normal;font-weight:bold;font-family:Arial Narrow;">
              <tspan [attr.x]="100" [attr.y]="100">
                {{12 - i}}
              </tspan>
            </text>
          </g>
        </svg>
      </g>
    </svg>
  </div>

  <div class="col-12 col-lg-4 col-xl-5">
    <div class="row">
      <div class="col csd-rounded">
        <tabset [justified]="true">
          <tab>
            <ng-template tabHeading>
              <span class="fw-bold">BUILDINGS
              </span>
            </ng-template>
            <div class="row">
              <div class="col-1">
                <fa-icon [icon]="faDice" class="csd-dice csd-icon-btn csd-icon-xl me-2" (click)="rollBuildings()"
                  title="Click to generate map"></fa-icon>
              </div>
              <div class="col mt-2 ms-2">Key for each block's buildings description</div>
            </div>
            <div *ngFor="let building of buildings; let i = index" class="row">
              <div class="col">
                <accordion [closeOthers]="true">
                  <accordion-group heading="BLOCK {{i + 1}}" [panelClass]="'customClass'">
                    <div class="row" *ngFor="let str of building; let j = index">
                      <div class="col cmbt-zone-building-desc">
                        {{labels[j]}}. {{str}}
                      </div>
                    </div>
                  </accordion-group>
                </accordion>
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <span class="fw-bold">OBJECTS</span>
            </ng-template>
            <div class="row">
              <div class="col-1">
                <fa-icon [icon]="faDice" class="csd-icon-btn csd-icon-xl csd-dice" (click)="rollStreetObjects()"
                  title="Click to roll objects"></fa-icon>
              </div>
              <div class="col mt-2 ms-2">Objects on the street. </div>
            </div>
            <div *ngFor="let object of streetObjects; let i = index" class="row">
              <div class="col ms-2">
                {{object}}
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <span class="fw-bold">
                EVENTS
              </span>
            </ng-template>
            <div class="row">
              <div class="col-1">
                <fa-icon [icon]="faDice" class="csd-icon-btn csd-icon-xl csd-dice" (click)="rollStreetEvents()"
                  title="Click to roll events"></fa-icon>
              </div>
              <div class="col ms-2">
                <div class="row">
                  <div class="col">What's currently happening on the street.
                  </div>
                </div>
                <div class="row small">
                  <div class="col">Time:
                    <select [(ngModel)]="streetEventTime" class="ms-1 me-2 d-inline">
                      <option [ngValue]="'daytime'">Daytime</option>
                      <option [ngValue]="'evening'">Evening</option>
                      <option [ngValue]="'aftermidnight'">After Midnight</option>
                    </select>
                    Count:
                    <input [(ngModel)]="streetEventCount" type="number" style="width: 50px;" min="1"
                      class="text-center ms-1">
                  </div>
                </div>

              </div>
            </div>
            <div *ngFor="let event of streetEvents; let i = index" class="row">
              <div class="col ms-2">
                <h4>{{event.title}}</h4>{{event.desc}}
              </div>
            </div>
          </tab>
        </tabset>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
