<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Night Market, Bodegas, and Vendit Generators for Cyberpunk Red</h2>
      <div>This unofficial utility is for generating a list of items that would be available in a Night Market, Bodegas, and Vendits. For full details please reference p338 of <a href="https://talsorianstore.com/collections/cyberpunk/products/cyberpunk-red">Cyberpunk Red Core boook</a></div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <tabset>
          <tab>
            <ng-template tabHeading>
              <h3>Night Market</h3>
            </ng-template>
            <br>
            <cs-night-market-form></cs-night-market-form>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>Bodegas</h3>
            </ng-template>
            <br>
            <cs-bodegas-form></cs-bodegas-form>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>Vendit</h3>
            </ng-template>
            <br>
            <cs-vendit-form></cs-vendit-form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>

