<div class="row">
  <div class="col-12">
    <h4 class="d-inline-block">Clubs</h4>
    <input
      type="number"
      class="csd-number ms-2 text-center"
      [(ngModel)]="count"
    />
    <button class="csd-btn csd-icon-btn csd-icon-lg ms-2" (click)="rollClubs()">
      <fa-icon [icon]="faDice"></fa-icon>
    </button>

    <button class="csd-btn csd-icon-btn csd-icon-lg ms-2" (click)="savePDF()">
      <fa-icon [icon]="faFilePdf"></fa-icon>
    </button>
  </div>
</div>
<br />
<div *ngIf="clubs">
  <div *ngFor="let club of clubs; let i = index" class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h4 class="d-inline-block">{{ club.name }}</h4>
          <button
            class="csd-btn csd-icon-btn csd-icon-lg float-end"
            (click)="delete(i)"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">{{ club.summary }}</div>
      </div>
    </div>
  </div>
</div>
<br />
