<div class="cpr-stat-area">
  <svg height="130" width="450" >
    <polygon points='0,0
                    390,0
                    420,30
                    420,130
                    30,130
                    0,100'
          fill='#f00'/>
    <text x="10" y="65" font-family="Verdana" font-weight="bold" font-size="17px" fill="white">ARMOR</text>
    <g>
      <rect x="90" y="20" height="25" width="190" fill="white"/>
      <text x="95" y="37" font-family="Verdana" font-weight="bold" font-size="14px" fill="black">{{armor.name}}</text>
    </g>
    <g>
      <rect x="90" y="50" height="25" width="190" fill="white"/>
      <text x="95" y="67" font-family="Verdana" font-size="14px" fill="black">Head Armor</text>
      <rect x="285" y="50" height="25" width="70" fill="white"/>
      <text x="295" y="67" font-family="Verdana" font-size="14px" fill="black">{{armor.head}}</text>
    </g>
    <g>
      <rect x="90" y="80" height="25" width="190" fill="white"/>
      <text x="95" y="97" font-family="Verdana" font-size="14px" fill="black">Body Armor</text>
      <rect x="285" y="80" height="25" width="70" fill="white"/>
      <text x="295" y="97" font-family="Verdana" font-size="14px" fill="black">{{armor.body}}</text>
    </g>
  </svg>
</div>

