<div class="chargen-section row">
  <div class="col">
    <div class="d-inline-block align-top">
      <span class="chargen-label">
        ROLE
        <fa-icon [icon]="faPen" class="csd-btn csd-icon-btn csd-icon-sm ms-1" (click)="openModal(primaryRoleEditor)">
        </fa-icon>
      </span>
    </div>
    <div class="d-inline-block pe-2 ms-2">
      <div class="row">
        <div class="col">
          <span class="fw-bold">PRIMARY:</span>
          <fa-icon [icon]="faDice" class="csd-icon-btn csd-btn ms-1 me-1" (click)="rollPrimaryRole()"></fa-icon>
          <span class="ms-1">{{currentPrimary.name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <span class="fw-bold">SECONDARY:</span>
          <span class="ms-1">{{secondaryList}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #primaryRoleEditor>
  <div class="modal-header">
    <h4>ROLES</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()">

    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        Primary
      </div>
    </div>
    <cs-cp2020-role-editor [role]="currentPrimary" [isIU]="isIU" (updateRole)="onPrimaryChange($event)">
    </cs-cp2020-role-editor>
    <div class="row">
      <div class="col">
        Secondary
        <fa-icon [icon]="faPlus" class="csd-btn csd-icon-btn csd-icon-lg" (click)="addSecondary()"></fa-icon>
      </div>
    </div>
    <div  *ngFor="let role of currentSecondary;let i = index" class="row pb-4">
      <div class="col">
        <cs-cp2020-role-editor [role]="role" [isIU]="isIU"
          (updateRole)="onSecondaryChange($event, i)"
          (deleteRole)="deleteRole($event)"
          [showDelete]="true">
        </cs-cp2020-role-editor>
      </div>
    </div>
  </div>
</ng-template>
