.chargen-weapons-table {
  width: 100%;
}

.chargen-weapons-table tr td {
  border:1px solid black;
}

.chargen-weapons-table tr td {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100%;
  font-size: small;
}

.chargen-wpn-hdr {
  font-size: small;
}

.chargen-wpn-narrow {
  width: 30px;
  display: inline-block;
}

.chargen-wpn-col {
  width: 55px;
  display: inline-block;
}

input.chargen-wpn-notes {
  width: 90%;
  float: right;
  display: inline-block;
}

.chargen-wpn-name {
  width: 100%;
}
