<div class="ps-3 pe-3">
  <div class='row chargen-label'>
    <div class='col-12 g-0'>
      <h4>
        GEAR
        <fa-icon [icon]="isCollapsed ? faChevronRight : faChevronDown" class="csd-btn csd-icon-btn" (click)="isCollapsed = !isCollapsed"></fa-icon>
      </h4>
    </div>
  </div>
  <div [collapse]="isCollapsed" id="oppGearSection" class="row">
    <div class="col-12">

      <div class='row'>
        <div *ngFor="let g of gear; let i = index" class='col-4 opp-gear'>
          <fa-icon [icon]="faTrash" class="csd-btn opp-gear-delete" (click)="delete(i)"></fa-icon>
          {{g}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 opp-skill-new">
          <button class="btn btn-secondary btn-sm csd-rounded" (click)="add()" [disabled]="addedGear === ''">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          &nbsp;
          <span>
            <input type="text" [(ngModel)]="addedGear" placeholder="Enter gear..." />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
