<div>
  <div class="row">
    <div class="col-6">
      <input class="cyber-edit-box" type="text" [(ngModel)]="newCyberware.name" placeholder="Enter name of cyberware">
    </div>
    <div class="col-4">
      Total Cost:
      {{newCyberware.totalCost | number}}eb
    </div>
    <div class="col">
      <fa-icon [icon]="faSave" class="ml-1 csd-btn cyber-save csd-icon-btn" (click)="update()"></fa-icon>
      <fa-icon [icon]="faTrash" class="csd-btn cyber-save csd-icon-btn ml-3" (click)="delete()"></fa-icon>
    </div>
  </div>
  <div class="row small">
    <div class="col-1">Code:</div>
    <div class="col-4"><input type="text" [(ngModel)]="newCyberware.abbrev" placeholder="abbreviation or code"></div>
    <div class="col-2">Surgery:</div>
    <div class="col-4">
      <select [(ngModel)]="newCyberware.surgery">
        <option *ngFor="let surg of surgeries" [ngValue]="surg.code"
          title="Cost: {{surg.cost | number}}eb; Time: {{surg.timeInHours}}hrs; Damage: {{surg.damage}}; DIFF: {{surg.diff}}; Requires: {{surg.requried}}">
          {{surg.name}} ({{surg.code}})
        </option>
      </select>
    </div>
  </div>
  <div class="row small">
    <div class="col-1">Type:</div>
    <div class="col-4">
      <select [(ngModel)]="newCyberware.type" (change)="changeType()">
        <option [ngValue]="''"></option>
        <option [ngValue]="'BIOWARE'">Bioware</option>
        <option [ngValue]="'BODY PLATING'">Body Plating</option>
        <option [ngValue]="'CHIPWARE'">Chipware</option>
        <option [ngValue]="'CYBERAUDIO'">Cyberaudio</option>
        <option [ngValue]="'CYBERFOOT'">Cyberfoot</option>
        <option [ngValue]="'CYBERHAND'">Cyberhand</option>
        <option [ngValue]="'CYBERLIMB'">Cyberlimb</option>
        <option [ngValue]="'CYBERNETIC SYSTEM'">Cybernetic System</option>
        <option [ngValue]="'CYBEROPTIC'">Cyberoptic</option>
        <option [ngValue]="'CYBERVOCAL'">Cybervocal</option>
        <option [ngValue]="'CYBERWEAPON'">Cyberweapon</option>
        <option [ngValue]="'EXOTIC BODYSCULPT'">Exotic Bodysculpt</option>
        <option [ngValue]="'FASHIONWARE'">Fashionware</option>
        <option [ngValue]="'FULL CONVERSION'">Full Conversion</option>
        <option [ngValue]="'IMPLANT'">Implant</option>
        <option [ngValue]="'LINEAR FRAMES'">Linear Frames</option>
        <option [ngValue]="'NEURALWARE'">Neuralware</option>
      </select>
    </div>
    <div class="col-2">Humanity Cost:</div>
    <div class="col-4">
      <input type="text" [(ngModel)]="newCyberware.hc" placeholder="ex. 2d6+2 or 1d6/2" (input)="changeHC()">
    </div>
  </div>
  <div class="row small">
    <div class="col-1">Subtype:</div>
    <div class="col-4"><input type="text" [(ngModel)]="newCyberware.subtype" placeholder="optional"></div>
    <div class="col-2">Humanity Loss:</div>
    <div class="col-4 cyber-option-hl">
      <input type="number" [(ngModel)]="newCyberware.hl" step="0.5">
      <fa-icon *ngIf="newCyberware.hc && newCyberware.hc.toLowerCase().indexOf('d') > 0" [icon]="faDice"
        class="csd-dice" title="Roll for humanity loss" (click)="rollHL( newCyberware.hc)"></fa-icon>
    </div>
  </div>
  <div class="row small">
    <div class="col-1">Cost:</div>
    <div class="col-4"><input type="number" [(ngModel)]="newCyberware.cost" class="text-right">eb</div>
    <div class="col-2">Total H.L:</div>
    <div class="col-4">{{newCyberware.totalHL}}</div>
  </div>
  <div class="row small cyber-option-hl">
    <div class="col-1">#Options:</div>
    <div class="col-4"><input type="number" [(ngModel)]="newCyberware.numOptions" class="text-right"></div>
  </div>
  <div class="row">
    <div class="col">
      Notes:
    </div>
  </div>
  <div class="row">
    <div class="col"><textarea [(ngModel)]="newCyberware.notes" class="cyber-edit-box"></textarea></div>
  </div>
  <div class="row" *ngIf="optionList.length > 0;else elseOptions">
    <div class="col">
      <div class="row">
        <div class="col-5">
          <i>Drag drop options to right box</i>
        </div>
        <div class="col">Current Options
          <span
            *ngIf="newCyberware.numOptions && newCyberware.numOptions > 0">({{newCyberware.options.length}}/{{newCyberware.numOptions}})</span>
        </div>
      </div>
      <div class="row csd-rounded">
        <div class="col-5 cyber-option-list">
          <bs-sortable [(ngModel)]="optionList" itemClass="sortable-item" itemActiveClass="sortable-item-active"
            placeholderItem="Drag here" placeholderClass="placeholderStyle" wrapperClass="" [itemTemplate]="optionItem">
          </bs-sortable>
        </div>
        <div class="col-7 cyber-option-list bg-light">
          <bs-sortable [(ngModel)]="newCyberware.options" itemClass="sortable-item"
            itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle"
            wrapperClass="csd-rounded bg-white" [itemTemplate]="currentOptionItem">
          </bs-sortable>
          <div class="csd-rounded text-center csd-btn" (click)="openModal(newOptionItem)">Create New Option</div>
          <i class="small">Drag options to the above area</i>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseOptions>
    <i>For adding options, set the Cyberware Type to a type that has them (Neuralware, Cyberoptics, Cyberlimb, etc.)</i>
  </ng-template>
</div>

<ng-template #optionItem let-item="item" let-index="index">
  <div title="{{item.value.notes}}; {{item.value.source.book}} pg.{{item.value.source.page}}">
    {{item.value.name}}
    <span class="ml-1" *ngIf="item.value.abbrev">({{item.value.abbrev}})</span>
  </div>
  <div class="small">&nbsp;&nbsp;HC: {{item.value.hc}} Surgery: {{item.value.surgery}} Cost:
    {{item.value.cost | number}}eb</div>
</ng-template>

<ng-template #currentOptionItem let-item="item" let-index="index">
  <div class="row">
    <div class="col" title="{{item.value.notes}}; {{item.value.source.book}} pg.{{item.value.source.page}}">
      {{item.value.name}}
      <span class="ml-1" *ngIf="item.value.abbrev">({{item.value.abbrev}})</span>
    </div>
  </div>
  <div class="small row">
    <div class="col-1"></div>
    <div class="col-5 cyber-option-hl">
      HL: <input type="number" [(ngModel)]="item.value.hl" step="0.5">
      &nbsp;
      <fa-icon [icon]="faDice" *ngIf="item.value.hc.toLowerCase().indexOf('d') > 0" class="csd-dice"
        title="{{item.value.hc}}" (click)="rollOptionHL(item.value.hc, index)">
      </fa-icon>
    </div>
    <div class="col text-right">
      Cost: {{item.value.cost | number}}eb
    </div>
  </div>
</ng-template>

<ng-template #newOptionItem>
  <div class="cyber-selector-modal csd-rounded">
    <div class="modal-header">
      <h4 class="modal-title pull-left">New Cyberware Option</h4>
      <button type="button" class="btn-close pull-right" aria-label="Close" (click)="closeModal()">

      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col ">
          <input class="cyber-edit-box" type="text" [(ngModel)]="newOption.name" placeholder="Enter name of cyberware">
        </div>
        <div class="col-1">Cost:</div>
        <div class="col-2"><input type="number" [(ngModel)]="newOption.cost" class="text-right cyber-option-cost">eb
        </div>
        <div class="col-1 text-right">
          <fa-icon [icon]="faSave" class="ml-1 csd-btn cyber-save" (click)="saveNewOption()"></fa-icon>
        </div>
      </div>
      <div class="row small">
        <div class="col-1">Code:</div>
        <div class="col-4"><input type="text" [(ngModel)]="newOption.abbrev" placeholder="abbreviation or code"></div>
        <div class="col-2">Surgery:</div>
        <div class="col-4">
          <select [(ngModel)]="newOption.surgery">
            <option *ngFor="let surg of surgeries" [ngValue]="surg.code"
              title="Cost: {{surg.cost | number}}eb; Time: {{surg.timeInHours}}hrs; Damage: {{surg.damage}}; DIFF: {{surg.diff}}; Requires: {{surg.requried}}">
              {{surg.name}} ({{surg.code}})
            </option>
          </select>
        </div>
      </div>
      <div class="row small">
        <div class="col-2">Humanity Cost:</div>
        <div class="col-4">
          <input type="text" [(ngModel)]="newOption.hc" placeholder="ex. 2d6+2 or 1d6/2" (input)="changeOptionHC()">
        </div>
        <div class="col-2">Humanity Loss:</div>
        <div class="col-4 cyber-option-hl">
          <input type="number" [(ngModel)]="newOption.hl" step="0.5">
          <fa-icon *ngIf="newOption.hc && newOption.hc.toLowerCase().indexOf('d') > 0" [icon]="faDice" class="csd-dice"
            title="Roll for humanity loss" (click)="rollNewOptionHL(newOption.hc)"></fa-icon>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Notes:
        </div>
      </div>
      <div class="row">
        <div class="col"><textarea [(ngModel)]="newOption.notes" class="cyber-edit-box"></textarea></div>
      </div>
    </div>
  </div>
</ng-template>
