.cyber-edit-box {
  width: 100%;
}

.cyber-option-list {
  max-height: 300px;
  overflow: auto;
  display: block;
}

.cyber-option-hl input {
  width: 45px;
}

.cyber-save {
  font-size: 30px;
}

.cyber-option-cost {
  width: 80%;
}
