<div class="row opp-mod-text">
  <div class="col-7">
    {{weapon.name}}(
    <span *ngIf="skills.length &lt; 2">
      {{selectedSkill.name}}
    </span>
    <select [(ngModel)]="selectedSkill" *ngIf="skills.length &gt; 1">
      <option *ngFor="let s of skills" [ngValue]="s">{{s.name}}</option>
    </select>
    )&nbsp;
    <span
      title="[{{selectedSkill.name}}:{{selectedSkill.value}} + REF:{{REF.Adjusted}} + WA:{{weapon.wa}} + MOD:{{modifiers.totalModifiers}}]">
      {{getWeaponMods(weapon)}} +
      <ng-template #popSkill><div [innerHTML]="skillRoll"></div></ng-template>
      <fa-icon [icon]="faDice" class="csd-dice" (click)="rollSkill()"
      [popover]="popSkill" popoverTitle="SKILL RESULTS"  [outsideClick]="true"
      containerClass="csd-rounded csd-popover"></fa-icon>&nbsp;
    </span></div>
  <div class="col-auto">
    vs
    <span *ngIf="weapon.type.toLowerCase() === 'mel'">
      OPP SKILL ROLL
    </span>
    <span *ngIf="weapon.type.toLowerCase() !== 'mel'">
      {{rangeBracket.diff}} DIFF ({{rangeBracket.bracket}})
    </span>
  </div>
</div>
<div *ngIf="!weapon.jammed && !weapon.isEmpty" class="row opp-mod-text">
  <div class="col-1"></div>
  <div class="col-auto">
    {{weapon.type}}&nbsp;
    {{(weapon.wa > 0?'+':'')+weapon.wa}}&nbsp;
    {{weapon.conc}}&nbsp;&nbsp;
    Dmg: {{weapon.damage}}
    <fa-icon [icon]="faDice" class="csd-dice" (click)="rollDamage()"
    [popover]="damageRoll" popoverTitle="DAMAGE RESULTS"  [outsideClick]="true"
    containerClass="csd-rounded csd-popover"
    ></fa-icon>
  </div>
  <div *ngIf="weapon.shots" class="col-auto">
    Shots:
    <input [(ngModel)]="weapon.shotsUsed" class="opp-wpn-shots" type="number" min="0"
      max="{{weapon.shots}}">/{{weapon.shots}}&nbsp;
    ROF: {{weapon.rof}}
  </div>
  <div *ngIf="weapon.rel" class="col-auto">
    Rel: {{weapon.rel}}
    <fa-icon [icon]="faDice" class="csd-dice" (click)="rollReliability()"
    popoverTitle="Reliability Results"
    [popover]="(weapon.jammed)?'Weapon Jammed for ' + jammed + ' turns.' : 'Weapon is ok.'"
    containerClass="csd-rounded csd-popover" [outsideClick]="true"
    ></fa-icon>
  </div>
  <div *ngIf="weapon.range" class="col-auto">
    {{weapon.range}}m
  </div>
</div>
<div *ngIf="weapon.jammed" class="row">
  <div class="col-1"></div>
  <div class="col-11">
    Weapon is jammed!! Weapon is jammed for {{jammed}} turns.
    <fa-icon [icon]="faRedo" class="csd-dice" (click)="unjamWeapon()"
    ></fa-icon>
  </div>
</div>
<div *ngIf="weapon.isEmpty" class="row">
  <div class="col-1"></div>
  <div class="col-11">
    <span class="csd-btn" (click)="reloadAmmo()">
      <fa-icon [icon]="faRedo"></fa-icon> reload
    </span>
    Weapon is out of ammo!!
  </div>
</div>

<br>
