<div
  *ngIf="
    skills$
      | async
      | orderby: sortOn:sortDirection
      | contains: 'name':searchText as skills
  "
>
  <div class="row align-top">
    <div class="col-6 col-md-4" title="Skills grouped by {{ groupBy }}">
      <fa-icon [icon]="faFilter" class="csd-icon-btn"></fa-icon>
      <div class="btn-group px-1 align-top w-50" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="csd-sort-selector px-1 w-100 text-capitalize"
          aria-controls="dropdown-basic"
          title="Skills grouped by {{ groupBy }}"
        >
          {{ groupBy }}
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu px-2"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem" (click)="groupBy = 'name'">Name</li>
          <li role="menuitem" (click)="groupBy = 'type'">Type</li>
          <li role="menuitem" (click)="groupBy = 'stat'">Stat</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="position-relative">
        <fa-icon
          [icon]="faSearch"
          class="position-absolute csd-icon-btn"
        ></fa-icon>
        <input
          type="search"
          class="csd-plain-input ps-4 pe-4 w-100"
          [(ngModel)]="searchText"
          [typeahead]="skills"
          typeaheadOptionField="name"
          placeholder="Enter search term..."
        />
        <fa-icon
          *ngIf="searchText != ''"
          [icon]="faTimes"
          class="csd-clear-search"
          (click)="searchText = ''"
        ></fa-icon>
      </div>
    </div>
    <div class="col-6 col-md-4" title="Skills sorted by {{ sortOn }}">
      <fa-icon [icon]="faSort" class="csd-icon-btn"></fa-icon>
      <div class="btn-group align-top w-50" dropdown>
        <button
          id="button-sort"
          dropdownToggle
          type="button"
          class="csd-sort-selector w-100 px-1 text-capitalize"
          aria-controls="dropdown-sort"
          title="Skills sorted by {{ sortOn }}"
        >
          {{ sortOn }}
        </button>
        <ul
          id="dropdown-sort"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-sort"
        >
          <li role="menuitem" (click)="sortOn = 'name'; sortDirection = false">
            Name
          </li>
          <li role="menuitem" (click)="sortOn = 'type'; sortDirection = false">
            Type
          </li>
          <li role="menuitem" (click)="sortOn = 'stat'; sortDirection = false">
            Stat
          </li>
          <li role="menuitem" (click)="sortOn = 'level'; sortDirection = true">
            Level
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 pe-3">
      <ng-container
        *ngFor="
          let skill of skills.slice(0, roundUp(skills.length, 0.334));
          let i = index
        "
        [ngTemplateOutlet]="skillTemplate"
        [ngTemplateOutletContext]="{ skill: skill, index: i }"
      ></ng-container>
    </div>
    <div class="col-12 col-md-6 col-lg-4 pe-3">
      <ng-container
        *ngFor="
          let skill of skills.slice(
            roundUp(skills.length, 0.334),
            roundUp(skills.length, 0.667)
          );
          let i = index
        "
        [ngTemplateOutlet]="skillTemplate"
        [ngTemplateOutletContext]="{ skill: skill, index: i }"
      ></ng-container>
    </div>
    <div class="col-12 col-md-6 col-lg-4 pe-3">
      <ng-container
        *ngFor="
          let skill of skills.slice(roundUp(skills.length, 0.667));
          let i = index
        "
        [ngTemplateOutlet]="skillTemplate"
        [ngTemplateOutletContext]="{ skill: skill, index: i }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #skillTemplate let-skill="skill" let-index="index">
  <div class="btn-group w-100" dropdown [insideClick]="true">
    <div
      id="button-skill{{ index }}"
      class="row cpr-skill py-0 w-100"
      dropdownToggle
      aria-controls="dropdown-skill{{ index }}"
    >
      <cs-cp-red-skill [skill]="skill"></cs-cp-red-skill>
    </div>
    <div
      id="dropdown-skill{{ index }}"
      *dropdownMenu
      class="dropdown-menu py-0 w-100"
      role="menu"
      aria-labelledby="button-skill{{ index }}"
    >
      <cs-cp-red-skill-editor [skill]="skill"></cs-cp-red-skill-editor>
    </div>
  </div>
</ng-template>
