<div class="chargen-section chargen-border">
  <div class="cp2020-label row no-gutters">
    <div class="col">
      <h4 class="d-inline-block csd-btn mr-4" (click)="isCollapsed = !isCollapsed">
        LIFEPATH
        <fa-icon [icon]="collapseChevron" class="csd-icon-btn csd-icon-xl ml-2"></fa-icon>
      </h4>
      <div class="d-inline-block hidden-print">
        <fa-icon [icon]="faDice" class="chargen-lifepath-dice" (click)="roll()"
          title="Randomly generate lifepath">
        </fa-icon>
        <select [(ngModel)]="selectedSource">
          <option value="?" selected="selected"></option>
          <option *ngFor="let opt of sources" value="{{opt.value}}">{{opt.title}}</option>
        </select>
        <input class="chargen-always-event" type="checkbox"
          title="check if you want to have an event for each year of Life Events"> always an event
          <input [(ngModel)]="years" class="chargen-years-event text-center" type="number" min="0" max="12"
            title="Enter the number of years to roll, 0-12. 0 will be randomly determined." (change)="changeYear()"> years
      </div>
    </div>
  </div>
  <div [collapse]="isCollapsed" class="row no-gutters pt-2">
    <div class="col-12 col-lg-6">
      <!-- STYLE -->
      <div class="row">
        <div class="col">
          <div class="chargen-label d-block" style="width: 70px">Style</div>
          <div class="chargen-lifepath-attr">Clothes <input [(ngModel)]="newLifPath.appearance.clothes"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Hair <input [(ngModel)]="newLifPath.appearance.hairstyle"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Affectations <input [(ngModel)]="newLifPath.appearance.affectations"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Ethnicity <input [(ngModel)]="newLifPath.ethnicity.name"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Language <input [(ngModel)]="newLifPath.ethnicity.language"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
        </div>
      </div>
      <!-- MOTIVATIONS -->
      <div class="row">
        <div class="col">
          <div class="chargen-label d-block" style="width: 110px">Motivations</div>
          <div class="chargen-lifepath-attr">Traits <input [(ngModel)]="newLifPath.motivations.personality"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Valued Person <input [(ngModel)]="newLifPath.motivations.valuedperson"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Value Most <input [(ngModel)]="newLifPath.motivations.valuemost"
              (change)="onChangeLifePath()" type="text" class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Feel About People <input
              [(ngModel)]="newLifPath.motivations.feelaboutpeople" (change)="onChangeLifePath()" type="text"
              class="pull-right" /></div>
          <div class="chargen-lifepath-attr">Valued Possesion <input
              [(ngModel)]="newLifPath.motivations.valuedpossession" (change)="onChangeLifePath()" type="text"
              class="pull-right" /></div>
        </div>
      </div>
      <!-- FAMILY-->
      <div class="row">
        <div class="col">
          <div class="chargen-label d-block" style="width: 180px">Family Background</div>
          <textarea [(ngModel)]="newLifPath.family.familyBackground" (change)="onChangeLifePath()"
            class="chargen-lifepath-family"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="chargen-label">#Siblings</span>
          <span class="chargen-sibling" *ngIf="brothers > 0">
            <span>{{brothers}}</span>
            <fa-icon [icon]="faMars" style="font-size:20px;" class="ml-2"></fa-icon>
          </span>
          <span class="chargen-sibling" *ngIf="sisters > 0">
            <span>{{sisters}}</span>
            <fa-icon [icon]="faVenus" style="font-size:20px;" class="ml-2"></fa-icon>
          </span>
          <span class="chargen-sibling" *ngIf="sibs > 0">
            <span>{{sibs}}</span>
            <fa-icon [icon]="faGenderless" style="font-size:20px;" class="ml-2"></fa-icon>
          </span>
        </div>
      </div>
      <div class="row no-gutters border border-dark" *ngFor="let sib of siblings;let i = index">
        <div class="col-6 pt-1">
          <input type="text" [(ngModel)]="sib.name" (change)="onChangeLifePath()" style="width:100%;"
            placeholder="name of sibling">
        </div>
        <div class="col-6 pt-1">
          <div class="row no-gutters">
            <div class="col-5">
              <select [(ngModel)]="sib.gender" (change)="onChangeLifePath()">
                <option value="brother">Brother</option>
                <option value="sister">Sister</option>
                <option value="sib">Sib</option>
              </select>
            </div>
            <div class="col-5">
              <select [(ngModel)]="sib.age" (change)="onChangeLifePath()">
                <option value="older">Older</option>
                <option value="younger">Younger</option>
                <option value="same">Twin</option>
              </select>
            </div>
            <div class="col-2">
              <fa-icon [icon]="faTrash" class="csd-icon-btn csd-btn float-right" (click)="removeSibling(i)"></fa-icon>
            </div>
          </div>
          <div class="row mb-2 pt-1 no-gutters">
            <div class="col">
              <select [(ngModel)]="sib.feeling" (change)="onChangeLifePath()">
                <option value="hero worships you">Hero worships you</option>
                <option value="likes you">Likes you</option>
                <option value="dislikes you">Dislikes you</option>
                <option value="hates you">Hates you</option>
                <option value="neutral">Neutral</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters hidden-print">
        <div class="col text-center">
          <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn" (click)="addSibling()"></fa-icon>
        </div>
      </div>
      <br>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row no-gutters">
        <div class="col">
          <span class="chargen-label">Life Events</span> One event for each year after age 16
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col">
          <div class="row">
            <div class="col-2 col-md-1">
              Year
            </div>
          </div>
          <div *ngFor="let event of newLifPath.events; let i = index" class="row no-gutters border border-dark">
            <div class="col-2 col-md-1">
              <input [(ngModel)]="event.age" type="number" min="0" max="150" style="width:100%;"
                class="align-top pt-3 pb-3" />
              <br>
              <fa-icon [icon]="faTrash" class="csd-icon-btn csd-btn" (click)="removeYear(i)"></fa-icon>
            </div>
            <div class="col pl-0 pr-0">
              <textarea [(ngModel)]="event.event" class="chargen-life-event" rows="3" maxlength="140"
                style="width:100%;"></textarea>
            </div>
          </div>
          <div class="row border border-dark no-gutters hidden-print">
            <div class="col text-center">
              <fa-icon [icon]="faPlus" class="csd-icon-btn csd-btn" (click)="addYear()"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
