<div class="row">
          <div class="col">
            Default Style:
            <select [(ngModel)]="currSettings.style" (change)="update()">
              <option value="">All</option>
              <option *ngFor="let style of armorAttributes.styles" value="{{style.name}}">{{style.name}} (x{{style.mod}})</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Default Qualtiy:
            <select [(ngModel)]="currSettings.quality" (change)="update()">
              <option value="">All</option>
              <option *ngFor="let quality of armorAttributes.qualities" value="{{quality.name}}">{{quality.name}} (x{{quality.mod}})</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Should be Armor? <select [(ngModel)]="currSettings.armor" (change)="update()">
              <option value=0>Armor Only</option>
              <option value=1>Both</option>
              <option value=2>Clothes Only</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [(ngModel)]="currSettings.isLeather" (change)="update()"> - Is Leather (where possible)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [(ngModel)]="currSettings.hasOptions" (change)="update()"> - Has Options
          </div>
        </div>
        <div class="row">
          <div class="col">
            Maximum Cost: <input type="number" min="0" [(ngModel)]="currSettings.maxCost" (change)="update()">
          </div>
        </div>
