<div class="chargen-section row">
  <div class="col">
    <span class="chargen-label">ROLE</span>
    <select [(ngModel)]="currentRole" class="chargen-role-selection" (change)="onRoleChange()"
      [title]="sourceInfo(roles[currentRole])">
      <option *ngFor="let role of roles;let i = index" [ngValue]="i" [title]="sourceInfo(role)">{{((role.base)?
        role.base + ' - ' : '' ) + role.name}}</option>
    </select>
    <fa-icon [icon]="faDice" class="csd-icon-btn csd-btn ml-1" (click)="rollRole()"></fa-icon>
  </div>
</div>
<div class="chargen-section row">
  <div class="col">
    <span class="chargen-label">REP</span>
    <input type="number" min="0" max="10" [(ngModel)]="rep" class="chargen-rep ml-1" (change)="updateRep()"/>
    <fa-icon [icon]="faDice" class="csd-icon-btn csd-btn ml-1" (click)="openModal(repRollResults)"></fa-icon>
  </div>
</div>

<ng-template #repRollResults>
  <div class="modal-header">
    <h4>REP ROLL</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fa-icon [icon]="faDice" class="csd-icon-btn csd-btn mr-2" (click)="rollRep()"></fa-icon>
    Total: {{rep + repRoll.total}} ({{rep}} [REP] + {{repRoll.show()}})

  </div>
</ng-template>
