<div *ngIf="hasPoints; else noPoints" class="csd-rounded">
  <br>
  <div class="row">
    <div class="col-auto">
      <fa-icon [icon]="faPlus" (click)="createContact()"
        [ngClass]="{'csd-btn': true, 'csd-disabled': !canAdd || overPoints, 'csd-icon-xl csd-icon-btn': canAdd && !overPoints}"
        title="Add{{(canAdd)?'':' - disabled. Must enter unique name and choose all options to add new contact'}}">
      </fa-icon>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-3">
          <span class="csd-required">
            <input [(ngModel)]="newContact.name" type="text"
              title="Enter the unique name/short description. Ex. 'Police Sgt', 'Militech Middle Management', 'Fence near docks'"
              placeholder="Enter contact..." class="big-league-new-contact" /></span>
        </div>
        <div class="col-auto big-league-select">
          <span class="csd-required">
            <select [(ngModel)]="capability" (change)="changeCapability()" title="Choose the capability of the contact">
              <option *ngIf="capability === ''" [ngValue]="''">Capablity - select one...</option>
              <option *ngFor="let cat of capabilities" [ngValue]="cat.name" title="Skill check {{cat.effect}}">
                {{cat.name}}({{cat.cost}}pts)</option>
            </select>
          </span>
        </div>
        <div class="col-auto big-league-select">
          <span class="csd-required">
            <select [(ngModel)]="reputation" (change)="changeReputation()" title="Choose the reputation of the contact">
              <option *ngIf="reputation === ''" [ngValue]="''" selected>Rep - select one...</option>
              <option *ngFor="let cat of categories.reputations" [ngValue]="cat.name" title="{{cat.effect}}">
                {{cat.name}}(x{{cat.multiplier}})</option>
            </select>
          </span>
        </div>
        <div class="col-auto big-league-select">
          <span class="csd-required">
            <select [(ngModel)]="availability" (change)="changeAvailability()"
              title="Choose the availability of the contact">
              <option *ngIf="availability === ''" [ngValue]="''" selected>Availability - select one...</option>
              <option *ngFor="let cat of categories.availabilities" [ngValue]="cat.name" title="Avialablity check {{cat.effect}}">
                {{cat.name}}(x{{cat.multiplier}})</option>
            </select>
          </span>
        </div>
        <div class="col-auto big-league-select">
          <span class="csd-required">
            <select [(ngModel)]="reliability" (change)="changeReliability()"
              title="Choose the reliability of the contact">
              <option *ngIf="reliability === ''" [ngValue]="''" selected>Reliability - select one...</option>
              <option *ngFor="let cat of categories.reliabilities" [ngValue]="cat.name" title="{{cat.effect}}">
                {{cat.name}}(x{{cat.multiplier}})</option>
            </select>
          </span>
        </div>
        <div class="col-auto">
          <div [ngClass]="{'big-league-over':overPoints}">{{newContact.cost}}pts
          </div>
        </div>
      </div>
    <div *ngIf="exists" class="row">
      <div class="col text-danger">!!The contact name already exists. Either delete the old one or rename this one.</div>
    </div>
    <div *ngIf="overPoints" class="row">
      <div class="col text-danger">!!This contact costs too many points. Either increase Streetdeal or change one of the values.</div>
    </div>
      <div class="row">
        <div class="col-10 big-league-details">
          <textarea [(ngModel)]="newContact.details" placeholder="Enter details about contact..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noPoints>
  <div class="row">
    <div class="col-12">
      There are no available points to purchase a contact at this time. Increase Streetdeal to get more points.
    </div>
  </div>
</ng-template>
