<div class="border border-dark py-0">
  <div class="row g-0 pt-0">
    <div class="col-12 mt-0">
      <div class="cp2020-label d-inline-block mt-0">BIG LEAGUE</div>
      <button
        class="csd-btn csd-icon-lg csd-icon-btn ms-2 me-3 hidden-print"
        title="Reset Streetdeal and clear all contacts"
        (click)="reset()"
      >
        <fa-icon [icon]="faRedo"></fa-icon>
      </button>
      Contact Points Used: {{ spentPoints }}/{{totalPoints}}
      <button
        class="csd-btn csd-icon-btn csd-icon-lg ms-2"
        title="Generate list of contacts"
        (click)="generateContacts()"
        [disabled]="!canGenerateContacts"
      >
        <fa-icon [icon]="faDice"></fa-icon>
      </button>
    </div>
  </div>
  <div class="d-none d-md-block px-2">
    <div class="row text-uppercase">
      <div class="col-8 col-md-4 ps-3">Name</div>
      <div class="col-4 col-md-2 small ps-0 text-truncate">Capability</div>
      <div class="col-2 offset-2 offset-md-0 col-md-1 small ps-0">Rep</div>
      <div class="col-3 col-md-2 small ps-0">Avail.</div>
      <div class="col-3 col-md-2 small ps-0">Rel.</div>
      <div class="col-2 col-md-1 small ps-0">Cost</div>
    </div>
  </div>
  @for (contact of currContacts; track $index; let i = $index) {
  <div class="row g-0">
    <div class="col-12">
      <cs-cp2020-big-league-contact
        [contact]="contact"
        [index]="i"
        (delete)="deleteContact($event)"
        (edit)="updateContact($event)"
      ></cs-cp2020-big-league-contact>
    </div>
  </div>
}
@if(availablePoints > 1){
  <div class="row g-0">
    <div class="col-12">
      <cs-cp2020-big-league-contact-new
        (save)="addContact($event)"
        [maxPoints]="availablePoints"
      ></cs-cp2020-big-league-contact-new>
    </div>
  </div>
}
</div>
