<div class="container">
  <div class="row">
    <div class="col-12 d-none d-lg-inline-block">
      <h4>CHARACTER GENERATOR FOR CYBERPUNK RED</h4>
      This is an unofficial character generator for Cyberpunk Red as per R
      Talsorian Homebrew policies.
    </div>
    <div class="col-12 d-lg-none">
      <h6>CHARACTER GENERATOR FOR CYBERPUNK RED</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button
        tabindex="0"
        class="csd-btn csd-icon-btn csd-icon-lg mx-2 float-end"
        title="Save character sheet as JSON to upload later."
        (click)="save()"
      >
        <fa-icon [icon]="faFile"></fa-icon>
      </button>
      <button
        tabindex="0"
        class="csd-btn csd-icon-btn csd-icon-lg mx-2 float-end"
        title="Save character sheet as PDF."
        (click)="saveAsPdf()"
      >
        <fa-icon [icon]="faFilePdf"></fa-icon>
      </button>
      <div
        class="d-inline-block csd-btn csd-icon-btn csd-icon-lg mx-2 float-end"
      >
        <input
          type="file"
          id="loadFile"
          title="load a character .json file"
          name="Load"
          Style="display: none"
          (change)="upload($event)"
          #inputFile
          (click)="inputFile.value = null"
          (keyup.enter)="inputFile.value = null"
          tabindex="0"
          accept="text/plain;text/json;application/json;"
        />
        <label for="loadFile">
          <fa-icon
            [icon]="faUpload"
            title="load a character .json file"
          ></fa-icon>
        </label>
      </div>
      <button
        tabindex="0"
        class="csd-btn csd-icon-btn csd-icon-lg mx-2 float-end"
        title="Reset the character sheet."
        (click)="reset()"
      >
        <fa-icon [icon]="faUndo"></fa-icon>
      </button>
      <button
        tabindex="0"
        class="csd-btn csd-icon-btn csd-icon-lg mx-2 float-end"
      >
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
    </div>
  </div>
  <cs-cp-red-character-form
    [sheet]="currSheet$ | async"
    (updateSheet)="updateSheet($event)"
  ></cs-cp-red-character-form>
</div>
