.cp2020-wpn-hdr div, .cp2020-wpn-add {
  font-size: small;
  border:1px solid black;
}

.cp2020-wpn-hdr {
  font-weight: bold;
}

.cp2020-wpn-add {
  cursor: pointer;
  text-align: center;
}

.cp2020-wpn-add:hover {
  background-color: #AAA;
}

input.wpn-notes {
  width: 90%;
  float: right;
  display: inline-block;
}

.wpn-narrow {
  padding: 0px 0px;
}
