<div class="cp2020-section container">
  <div class="cp2020-label row"><div class="col">WEAPONS</div></div>
    <div class="cp2020-wpn-hdr row">
      <div class="wpn-name col-3"><span class="wpn-name" >Name</span></div>
      <div class="col-1 wpn-narrow text-center">Type</div>
      <div class="col-1 wpn-narrow text-center">WA</div>
      <div class="col-1 wpn-narrow text-center">Conc.</div>
      <div class="col-1 wpn-narrow text-center">Avail.</div>
      <div class="col-2 wpn-col text-center">Dam.</div>
      <div class="col-1 wpn-col text-center">#Shots</div>
      <div class="col-1 wpn-col text-center">ROF</div>
      <div class="col-1 wpn-narrow text-center">Rel</div>
    </div>
    <cs-cp2020weapon *ngFor="let wpn of weapons" [weapon]="wpn" [Ref]="stats.REF.Adjusted" [BodDamageMod]="stats.BodyDmgMod"></cs-cp2020weapon>
  </div>
