<div class="chargen-section ps-3 pe-3">
  <ng-container *ngIf="showIU">
    <div class="mb-2">
    <div class="cp2020-label row">
      <div class="col ps-1">
        <h4 class="d-inline-block csd-btn me-4 ms-0 ps-0" (click)="isIUCollapsed = !isIUCollapsed">IU COMBAT ACTIONS
          <fa-icon [icon]="collapseChevron(isIUCollapsed)" class="csd-icon-btn csd-icon-xl ms-1"></fa-icon>
        </h4>
      </div>
    </div>
    <div class="row border border-dark" [collapse]="isIUCollapsed">
      <div class="col">
        <cs-i-u-combat-actions [skills]="skills.getCombatSkills()" [stats]="stats"></cs-i-u-combat-actions>
      </div>
    </div>
  </div>
  </ng-container>
  <div class="chargen-label row">
    <div class="col ps-1">
      <h4 class="d-inline-block csd-btn me-4" (click)="isWeaponsCollapsed = !isWeaponsCollapsed">
        WEAPONS
        <fa-icon [icon]="collapseChevron(isWeaponsCollapsed)" class="csd-icon-btn csd-icon-xl ms-1"></fa-icon>
      </h4>
      <ng-container *ngIf="!isWeaponsCollapsed">
        <fa-icon [ngClass]="{'csd-dice': true, 'ms-2': true, 'd-none': !showRandomGenerator}" [icon]="faDice"
          (click)="randomGenerateWeapon()" title="Add random weapon"></fa-icon>
        <fa-icon [ngClass]="{'csd-dice': true, 'ms-2': true, 'd-none': !showRandomGenerator}" [icon]="faCog"
          title="Set settings" (click)="openModal(wpnSettings)"></fa-icon>
        <fa-icon [icon]="faCrosshairs" title="Show Combat Calculator"
          [ngClass]="{'csd-btn': true, 'csd-icon-btn': true,  'ms-2': true,'d-none': !showCalculator}"
          (click)="openModal(combatCalcModal)">
        </fa-icon>
      </ng-container>
    </div>
  </div>
  <div [collapse]="isWeaponsCollapsed">
    <div class="row border border-dark">
      <div class="col-3 col-lg-2 ps-1">Name</div>
      <div class="col-1 wpn-narrow text-center">Type</div>
      <div class="col-1 wpn-narrow text-center">WA</div>
      <div class="col-1 wpn-narrow text-center">Conc.</div>
      <div class="col-1 wpn-narrow text-center">Avail.</div>
      <div class="col-2 col-lg-1 wpn-col text-center">Dam.</div>
      <div class="col-1 wpn-narrow text-center">#Shots</div>
      <div class="col-1 wpn-narrow text-center">ROF</div>
      <div class="col-1 wpn-narrow text-center">Rel</div>
      <div class="col-1 d-none d-lg-inline-block wpn-narrow text-center">Rng</div>
      <div class="col-1 d-none d-lg-inline-block wpn-narrow text-center">Cost</div>
    </div>
    <cs-cp2020weapon *ngFor="let wpn of weapons.items;let i = index" [index]="i" [weapon]="wpn"
      [Ref]="stats.REF.Adjusted" [BodDamageMod]="stats.BodyDmgMod" [skill]="skills.getSkillForWeaponType(wpn.type)"
      (deleteWeapon)="deleteWeapon($event)" (updateWeapon)="updateWeapon($event)">
    </cs-cp2020weapon>
    <div class="row">
      <div class="col-12 cp2020-wpn-add" title="Add another weapon" (click)="openModal(newWeaponModal)">
        <fa-icon class="csd-icon-btn" [icon]="faPlus"></fa-icon>
      </div>
    </div>
    <cs-cp2020ammo *ngIf="showAmmo" [ammoList]="weapons.ammo" (updateAmmo)="updateAmmo($event)"></cs-cp2020ammo>
  </div>
</div>

<ng-template #newWeaponModal>
  <div class="modal-body">
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">

    </button>
    <tabset>
      <tab heading="New Weapon" id="tab1">
        <cs-cp2020weapon-editor [weapon]="newWeapon" (updateWeapon)="addWeapon($event)"></cs-cp2020weapon-editor>
      </tab>
      <tab *ngIf="showSelector" heading="Search Weapons" id="tab2">
        <cs-cp2020weapon-selector (addWeapons)="addWeaponList($event)"></cs-cp2020weapon-selector>
      </tab>
    </tabset>
  </div>
</ng-template>


<ng-template #combatCalcModal>
  <div class="modal-header">
    <h4 class="modal-title float-start">Combat Calculator</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">

    </button>
  </div>
  <div class="modal-body">
    <cs-cp2020weapon-calculator [weaponList]="weapons" [skills]="skills" [body]="stats.BODY.Adjusted"
      [ref]="stats.REF.Adjusted" [bodyDamageMod]="stats.BodyDmgMod">
    </cs-cp2020weapon-calculator>
  </div>
</ng-template>

<ng-template #wpnSettings>
  <div class="modal-header">
    <h4 class="modal-title float-start">Settings</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">

    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <h5>Random Generator</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Uunselecting all the below will make all weapons available.
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">Category:</div>
      <div class="col">
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'PISTOLS')"
              (change)="addParam($event, 'category', 'PISTOLS')"> - PISTOLS
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'SMG')"
              (change)="addParam($event, 'category', 'SMG')"> - SMG
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'RIFLES')"
              (change)="addParam($event, 'category', 'RIFLES')"> - RIFLES
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'MELEE')"
              (change)="addParam($event, 'category', 'MELEE')"> - MELEE
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'EXOTICS')"
              (change)="addParam($event, 'category', 'EXOTICS')"> - EXOTICS
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'SHOTGUNS')"
              (change)="addParam($event, 'category', 'SHOTGUNS')"> - SHOTGUNS
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.type, 'HEAVY WEAPONS')"
              (change)="addParam($event, 'category', 'HEAVY WEAPONS')"> - HEAVY WEAPONS
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">SubCategory:</div>
      <div class="col">
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'LIGHT')"
              (change)="addParam($event, 'subcategory', 'LIGHT')"> - LIGHT (pistols, smgs)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'MEDIUM')"
              (change)="addParam($event, 'subcategory', 'MEDIUM')"> - MEDIUM (pistols, smgs)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'HEAVY')"
              (change)="addParam($event, 'subcategory', 'HEAVY')"> - HEAVY (pistols, smgs)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'VERY HEAVY')"
              (change)="addParam($event, 'subcategory', 'VERY HEAVY')"> - VERY HEAVY (pistols)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'SNIPER')"
              (change)="addParam($event, 'subcategory', 'SNIPER')"> - SNIPER (rifles)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'ASSAULT')"
              (change)="addParam($event, 'subcategory', 'ASSAULT')"> - ASSAULT (rifles)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'BOWS')"
              (change)="addParam($event, 'subcategory', 'BOWS')"> - BOWS (exotics)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'CROSSBOWS')"
              (change)="addParam($event, 'subcategory', 'CROSSBOWS')"> - CROSSBOWS (exotics)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'OTHER')"
              (change)="addParam($event, 'subcategory', 'OTHER')"> - OTHER (rifles)
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.subtype, 'Borg Weapon')"
              (change)="addParam($event, 'subcategory', 'Borg Weapon')"> - BORG (rifles, pistols, smgs, melee, Hvy
            weapons)
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">Availablity:</div>
      <div class="col">
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.availability, 'E')"
              (change)="addParam($event, 'avail', 'E')"> - EXCELLENT
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.availability, 'C')"
              (change)="addParam($event, 'avail', 'C')"> - COMMON
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.availability, 'P')"
              (change)="addParam($event, 'avail', 'P')"> - POOR
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="checkbox" [checked]="paramChecked(wpnParam.availability, 'R')"
              (change)="addParam($event, 'avail', 'R')"> - RARE
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">Exclude containing:</div>
      <div class="col"><input type="text">
      </div>
    </div>
  </div>
</ng-template>
