.big-league-new-contact {
  width: 80%;
}

.big-league-select {
  padding-left: 0px;
  font-size: 13px;
}

.big-league-over {
  color: red;
}

.big-league-over:before {
  content:'!!';
  color: red;
}

.big-league-details textarea {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
