<div class="chargen-section chargen-section-skills">
  <table class="chargen-cyber-table">
    <tr>
      <td colspan="3" class="chargen-label">CYBERNETICS</td>
    </tr>
    <tr class="chargen-cyber-header">
      <td class="chargen-cyber-type">Type</td>
      <td class="chargen-cyber-hl">HL</td>
      <td class="chargen-cybercost">Cost</td>
    </tr>
    <tr *ngFor="let cyber of cyberware.items" class="chargen-cyber-row">
      <td><input [(ngModel)]="cyber.name" (change)="onChangeCyberware()" type="text"/></td>
      <td><input [(ngModel)]="cyber.hl" (change)="onChangeCyberware()" class="text-right" min="0" type="number" step="0.1"/></td>
      <td><input [(ngModel)]="cyber.cost" (change)="onChangeCyberware()" class="text-right" min="0" type="number" step="0.01"/></td>
    </tr>
    <tr class="chargen-cyber-row">
      <td>Total HL and Euro Costs</td>
      <td class="text-right">{{cyberware.totalHL}}</td>
      <td class="text-right">{{cyberware.totalCost | number}}</td>
    </tr>
  </table>
</div>
