<div class="row">
  <div class="col">Name</div>
  <div class="col-2">Chassis</div>
  <div class="col-1 text-center">Spd</div>
  <div class="col-1 text-center">DW</div>
  <div class="col-1 text-center">MU</div>
  <div class="col text-center">Book Cost</div>
</div>
<div class="row csd-deck-list-item" *ngFor="let deck of deckListData;let i = index" (click)="selectDeck(i)">
  <div class="col small">{{deck.name}}</div>
  <div class="col-2 small">{{deck.type.name}}</div>
  <div class="col-1 text-center small">{{deck.speed}}</div>
  <div class="col-1 text-center small">{{deck.dataWall}}</div>
  <div class="col-1 text-center small">{{deck.totalMU}}</div>
  <div class="col text-center small">{{deck.bookPrice | number}}eb</div>
</div>
