<div class="row">
  <div class="col-12">
    Name:
    <input class="w-75" type="text" placeholder="Enter name..." [(ngModel)]="currArmor.name">
    <fa-icon [icon]="faDice" title="Randomly generate clothing"
      class="csd-btn csd-icon-btn float-right ml-1"
      (click)="generate()"
      ></fa-icon>
        <fa-icon [icon]="faRedo"
          title="Reset the form"
          class="csd-btn csd-icon-btn ml-1 float-right"
          (click)="refresh()"></fa-icon>
  </div>
</div>
<div class="row">
  <div class="col-6 col-lg-3">
    Cost: {{currArmor.cost | number}}eb
  </div>
  <div class="col-6 col-lg-4 small">
    <span class="text-capitalize">Weight: {{currArmor.clothes.wt | weightName}}</span>
    <span class="ml-2">EV: {{currArmor.ev}}</span>
  </div>
  <div class="col-12 col-lg-5 small">
    Locations: <span class="text-capitalize">{{currArmor.clothes.loc}}</span>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    Clothing Type: <select [(ngModel)]="selectedClothing" (change)="changeClothing()">
      <option *ngFor="let type of armorAttributes.clothes" [ngValue]="type">{{type.name}} {{type.loc? '['+type.loc+']' : ''}}   {{type.cost}}eb</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    Style: <select [(ngModel)]="selectedStyle" (change)="update()">
      <option *ngFor="let style of armorAttributes.styles" [ngValue]="style">{{style.name}} (x{{style.mod}})
      </option>
    </select>
  </div>
  <div class="col-12 col-md-6">
    Quality: <select [(ngModel)]="selectedQuality" (change)="update()">
      <option *ngFor="let quality of armorAttributes.qualities" [ngValue]="quality">{{quality.name}}
        (x{{quality.mod}})</option>
    </select>
  </div>
</div>
<div class="row mb-2">
  <div class="col-1"></div>
  <div class="col-11 small">
    <span *ngIf="currArmor.clothes.name !== ''">
      <input class="ml-4 " type="checkbox" [(ngModel)]="currArmor.isHard" (change)="update()"> Hard Armor
    </span>
    <span *ngIf="selectedClothing?.leather" class="ml-4">
      <input type="checkbox" [(ngModel)]="currArmor.isLeather" (change)="update()"> Leather
    </span>
  </div>
</div>
<ng-container *ngIf="currArmor.clothes.loc != ''">
<div class="row mb-2 small">
  <div class="col-2"></div>
  <div class="col-1">HEAD</div>
  <div class="col-1">TORSO</div>
  <div class="col-1">R.ARM</div>
  <div class="col-1">L.ARM</div>
  <div class="col-1">R.LEG</div>
  <div class="col-1">L.LEG</div>
  <div class="col"></div>
</div>
<div class="row mb-2 small">
  <div class="col-2">SP:
    <select [(ngModel)]="selectedSP">
      <option *ngFor="let sp of spValues" [ngValue]="sp">{{sp.sp}}</option>
    </select>
  </div>
  <div class="col-1">{{currArmor.locations?.head ?? ''}}</div>
  <div class="col-1">{{currArmor.locations?.torso ?? ''}}</div>
  <div class="col-1">{{currArmor.locations?.rarm ?? ''}}</div>
  <div class="col-1">{{currArmor.locations?.larm ?? ''}}</div>
  <div class="col-1">{{currArmor.locations?.rleg ?? ''}}</div>
  <div class="col-1">{{currArmor.locations?.lleg ?? ''}}</div>
  <div class="col"></div>
</div>
</ng-container>
<div class="row">
  <div class="col-2">Options:</div>
  <div class="col-10">
    <div class="row">
      <div class="col-12" *ngFor="let opt of armorAttributes.options" [title]="opt.effect">
        <input type="checkbox" [checked]="getOptionValue(opt.name)" (change)="changeOption($event, opt)"> {{opt.name}} (x{{opt.mod | armorOptionMod:currArmor.clothes.wt }})
      </div>
    </div>
  </div>
</div>
