<div class="row">
  <div class="col-2">
    Name:
  </div>
  <div class="col-7">
    <input #armorNameElem class="w-100" type="text" placeholder="Enter name..." [(ngModel)]="currArmor.name">
  </div>
  <div class="col-3">
    <button title="Reset the form" class="csd-btn csd-icon-btn ms-1" (click)="refresh()">
      <fa-icon [icon]="faRedo"></fa-icon>
    </button>
    <button title="Randomly generate clothing" class="csd-btn csd-icon-btn ms-1"
      (click)="generate()" tabindex="-1">
      <fa-icon [icon]="faDice"></fa-icon>
    </button>
    <button title="Select armor from source material" class="csd-btn csd-icon-btn ms-1"
      (click)="showModal(armorSourceList)">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    Cost: <input type="number" class="csd-number" [(ngModel)]="currArmor.cost">eb
  </div>
  <div class="col text-capitalize">
    Weight: <select [(ngModel)]="currArmor.clothes.wt">
      <option value=""></option>
      <option value="lt">Light</option>
      <option value="med">Medium</option>
      <option value="hvy">Heavy</option>
    </select>
  </div>
  <div class="col-3">
    EV: <input type="number" class="csd-number" [(ngModel)]="currArmor.ev">
  </div>

</div>
<div class="row mb-2">
  <div class="col-12">
    Clothing Type: <select [(ngModel)]="selectedClothing" (change)="changeClothing()">
      <option *ngFor="let type of armorAttributes.clothes" [ngValue]="type">{{type.name}} {{type.loc? '['+type.loc+']' :
        ''}} {{type.cost == 0 ? '' : type.cost + 'eb'}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    Style: <select [(ngModel)]="selectedStyle" (change)="update()">
      <option *ngFor="let style of armorAttributes.styles" [ngValue]="style">{{style.name}} (x{{style.mod}})
      </option>
    </select>
  </div>
  <div class="col-12 col-md-6">
    Quality: <select [(ngModel)]="selectedQuality" (change)="update()">
      <option *ngFor="let quality of armorAttributes.qualities" [ngValue]="quality">{{quality.name}}
        (x{{quality.mod}})</option>
    </select>
  </div>
</div>
<div *ngIf="currArmor.quality?.effect" class="row small">
  <div class="col-1"></div>
  <div class="col">*{{currArmor.quality.effect}} </div>
</div>
<div class="row mb-2 small">
  <div class="col">
    <input type="checkbox" [(ngModel)]="currArmor.isSkinWeave" (change)="changeSkinweave()"> Skinweave
  </div>
  <div class="col">
    <input type="checkbox" [(ngModel)]="currArmor.isHard" (change)="update()"> Hard Armor
  </div>
  <div class="col">
    <span *ngIf="selectedClothing?.leather || currArmor.clothes.name === ''" class="ms-4">
      <input type="checkbox" [(ngModel)]="currArmor.isLeather" (change)="update()"> Leather
    </span>
  </div>
</div>
<div class="row">
  <div class="col">Locations:
    Head <input type="checkbox" (change)="checkLocation('head')" [checked]="getLocation('head')">
    Torso <input type="checkbox" (change)="checkLocation('torso')" [checked]="getLocation('torso')">
    Arms <input type="checkbox" (change)="checkLocation('arms')" [checked]="getLocation('arm')">
    Legs <input type="checkbox" (change)="checkLocation('legs')" [checked]="getLocation('leg')">
  </div>
</div>
<div class="row small" style="margin-bottom: -7px;">
  <div class="col-2"></div>
  <div class="col-1 g-0 h6 border border-dark text-center"><small>HEAD</small></div>
  <div class="col-1 g-0 h6 border border-dark text-center"><small>TORSO</small></div>
  <div class="col-1 g-0 h6 border border-dark text-center"><small>R ARM</small></div>
  <div class="col-1 g-0 h6 border border-dark text-center"><small>L ARM</small></div>
  <div class="col-1 g-0 h6 border border-dark text-center"><small>R LEG</small></div>
  <div class="col-1 g-0 h6 border border-dark text-center"><small>L LEG</small></div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-2 text-end">SP:
    <select [(ngModel)]="selectedSP">
      <option *ngFor="let sp of spValues" [ngValue]="sp">{{sp.sp}}</option>
    </select>
  </div>
  <div class="col-1 g-0 text-center border border-dark ps-0 pe-0">{{currArmor.locations?.head ?? ''}}</div>
  <div class="col-1 g-0 text-center border border-dark ps-0 pe-0">{{currArmor.locations?.torso ?? ''}}</div>
  <div class="col-1 g-0 text-center border border-dark ps-0 pe-0">{{currArmor.locations?.rarm ?? ''}}</div>
  <div class="col-1 g-0 text-center border border-dark ps-0 pe-0">{{currArmor.locations?.larm ?? ''}}</div>
  <div class="col-1 g-0 text-center border border-dark ps-0 pe-0">{{currArmor.locations?.rleg ?? ''}}</div>
  <div class="col-1 g-0 text-center border border-dark ps-0 pe-0">{{currArmor.locations?.lleg ?? ''}}</div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-2">Options:</div>
  <div class="col-10">
    <div class="row">
      <div class="col-12" *ngFor="let opt of armorAttributes.options" [title]="opt.effect">
        <input type="checkbox" [checked]="getOptionValue(opt.name)" (change)="changeOption($event, opt)"> {{opt.name}}
        (x{{opt.mod | armorOptionMod:currArmor.clothes.wt }})
      </div>
    </div>
  </div>
</div>

<ng-template #armorSourceList>
  <div class="modal-header">
    <h4 id="armor-modal-name" class="modal-title float-start">Armor List</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">

    </button>
  </div>
  <div class="modal-body">
    <cs-cp2020-source-armor-list (selectedArmor)="addSourceArmor($event)"></cs-cp2020-source-armor-list>
    <br>
    <br>
  </div>
</ng-template>
