.wpn-details {
  font-size: small;
}

.wpn-cat-srch {
  font-size: small;
  width:100%;
}

.wpn-count {
  width: 100%;
}

.cs-wpn-selector-list {
  max-height: 600px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}
