<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Cyberpunk 2020 Combat Zone Generator</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      This is based on the charts form <a href="https://talsorianstore.com/collections/cyberpunk/products/night-city" alt="Night City Sourcebook from R Talsorian Games" target="_blank">Night City sourcebook</a> pages 171-172. There are additional options I added to the charts to expand on the descriptions.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" >
      <cs-cmbt-zone-map></cs-cmbt-zone-map>
    </div>
  </div>
</div>
