<div class="csd-disclaimer hidden-print py-3 bg-dark mt-2">
  <div class="container bg-dark">
    <h6>DISCLAIMER</h6>
    <div>
      Cybersmily's Datafort content is unofficial content provided under the
      <a
        href="https://rtalsoriangames.com/homebrew-content-policy/?fbclid=IwAR3zr4zzbv6MUO-R5HaTXZjxmFlskEpvvzjW-Tx9--xFpINKPTNib5kvw04"
        target="_blank"
        >Homebrew Content Policy of R. Talsorian Games</a
      >
      and is not approved or endorsed by RTG. This content references materials
      that are the property of R. Talsorian Games and its licensees.
    </div>
    <div>
      Cyberpunk:2020 and Cyberpunk Red are Registered Trademark of R.Talsorian
      Corporation. Original Cyberpunk:2020 material Copyright 1994 through
      {{ currYear }} by R.Talsorian Corporation. Original Cyberpunk Red material
      Copyright 2019 through {{ currYear }} by R.Talsorian Corporation. All
      Rights Reserved. Used without permission. Any use of R.Talsorian
      Corporation's copyrighted material or trademarks on this site should not
      be viewed as a challenge to those copyrights or trademarks. If requested
      by RTG, all or some of the material will be removed from this site as soon
      as I receive that request. Again this is not a challenge to any trademark
      or copyright, just trying to give the games I love some free publicity.
    </div>
    <div>
      Proteus is a Registered Trademark of Wizards of the Coast. Licensed by R.
      Talsorian Corporation. All Rights Reserved. All material concerning
      Proteus is used without permission and should not be viewed as a challenge
      to that trademark or any copyright. If requested by WotC or RTG, all or
      some of the material will be removed from this site as soon as I receive
      that request. Again this is not a challenge to any trademark or copyright,
      just trying to give the games I love some free publicity. All Proteus
      images pictures are copyrighted by Wizard of the Coast; this is not a
      challenge to their copyright and/or trademark. All Rights Reserved. I am
      using them without permission, and would love to have it. If requested by
      WotC, all or some of the pictures will be removed from this site as soon
      as I receive that request.
    </div>
    <div>
      Night's Edge is a Registered Trademark of Dream Pod 9. All Rights
      Reserved. All material concerning Night's Edge is used without permission
      and should not be viewed as a challenge to that trademark or any
      copyrights. If requested by Dream Pod 9, all or some of the material will
      be removed from this site as soon as I receive that request. Again this is
      not a challenge to any trademark or copyright, just trying to give the
      games I love some free publicity.
    </div>
    <div>
      Most images have been made by me (with the help of my brother). Any photos
      (or images that look like photos) will be taken down if the proper person
      (the one whose photo it is) contacts me. I don't have their permission and
      would love to have it if they want to give it out.
    </div>
    <div>
      Any items that aren't copyrighted by the aforementioned companies are
      mine. Some of these ideas might be similar to others. I will bow to their
      claims as long as there is no harassment involved. I'm sorry that my
      telepathic abilities have not yet been mastered and I do not wish to be
      blamed for stealing another's ideas.
    </div>
    <br />
    <h6>NOTE</h6>
    <div>
      Cybersmily Datafort has been around since 1994 through {{ currYear }}.
      Though updates are far between, the site is still in use.
    </div>
    <div>
      You will see a bunch of links in this site to R. Talsorian Games and Drive
      Thru RPG. I do not get paid from either of these companies to do
      advertizing or adding these links. These links are to help you purchase
      the original game material that this site basis its content off of. Spend
      money to buy the game material. Support these companies. Without either,
      Cyberpunk 2020/Red wouldn't exist or continue to exist. Thank you for
      supporting these companies and my site.
    </div>
  </div>
</div>
