<div class="container">
  <div class="row">
    <!-- ngView:  -->
    <div class="csd-main col-12" data-ng-view="">
      <div style="font-size:x-small;">Article last update 2013-09</div>
      <h2>Campaign Cartographer Maps</h2>
      <div>These are some maps I created using the <a href="https://secure.profantasy.com/default.asp" target="_blank">Campaign
          Cartographer</a> application. It is a CAD tool to create some nice maps for gaming.</div>
      <div>Download their <a href="https://secure.profantasy.com/library/dpv.asp" target="_blank">free
          viewer</a> to be to use the maps with the different layers, zoom in to better details, or print out various
        sized maps.</div>
      <div>Want more info about the maps? Go purchase <a href="http://rpg.drivethrustuff.com/product/589/Night-City"
          target="_blank">
          Night City Sourcebook</a> choomba! It's a steal compared to what I paid for my copy
        back in the day...
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div>
        <a href="/assets/CC3/NightCity.FCW" target="self" download="NightCity.FCW">
          <img src="/img/dlow/nightcity_th.jpg" alt="CP 2020 Night City">
          <h4>Night City</h4>
        </a>
      </div>
      <div>CC3 map of Night City, with location key, bus routes, gang territory, etc..</div>
    </div>
    <div class="col-4">
      <div>
        <a href="/assets/CC3/NC-Regional.FCW" target="self" download="NC-Regional.FCW">
          <img src="/img/dlow/nc-regional_th.jpg" alt="Night City Regional">
          <h4>NC Regional</h4>
        </a>
      </div>
      <div>CC3 Regional map of Night City area from the Night City Sourcebook.</div>
    </div>
    <div class="col-4">
      <div>
        <a href="/assets/CC3/California.FCW" target="self" download="California.FCW">
          <img src="/img/dlow/california_th.jpg" alt="CP 2020 California">
          <h4>California 2020</h4>
        </a>
      </div>
      <div>CC3 California of 2020 with highways and borders from the Night City Sourcebook.</div>
    </div>
  </div>
</div>
