<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Master Equipment List</h2>
      <div>
        This is the master list of all Cyberpunk 2020 equipment with their
        sources. Sources were pulled from R. Talsorian Games and the Interface
        magazines. You should consult the source material.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-cp2020-equipment-list [isEditable]="true"></cs-cp2020-equipment-list>
    </div>
  </div>
</div>
