<div>
  <div class="row mb-2">
    <div class="col-12">
      <fa-icon [icon]="faSave" class="float-start csd-btn csd-icon-btn me-3" size="xl" (click)="save()"
        title="Save to a json file. This is needed to reload the data."></fa-icon>
      <input type="file" id="loadFile" title="load a combat tracker json file" name="Load" class="me-2 d-none"
        (change)="load($event)" #inputFile (click)="inputFile.value = null" accept="text/plain;text/json" />
      <label for="loadFile" class="float-start btn-lg csd-btn me-3">
        <fa-icon [icon]="faUpload" title="load a combat tracker json file" size="xl" class="csd-icon-btn"></fa-icon>
      </label>
      <input type="file" id="importFile" title="Import a Cybersmily CP2020 JSON file as an opponent" name="Import"
        class="d-none" (change)="import($event)" #inputFile (click)="inputFile.value = null"
        accept="text/plain;text/json" />
      <label for="importFile" class="float-start btn-lg csd-btn me-3">
        <fa-icon [icon]="faFileImport" title="Import a Cybersmily CP2020 JSON file as an opponent" class="csd-icon-btn"
          size="xl"></fa-icon>
      </label>
      <fa-icon
        [icon]="faFilePdf"
        size="xl"
        class="ccsd-btn csd-icon-btn me-2"
        (click)="createFastDirtyPDF()"
        (keyup.enter)="createFastDirtyPDF()"
        tabindex="0"
        title="Export as Fast & Dirty PDF"
      ></fa-icon>
      <fa-icon [icon]="faHelp" class="float-start btn-lg csd-btn csd-icon-btn me-3"
        (click)="openModal(instructionModal)" size="xl" title="Show instructions."></fa-icon>
      &nbsp;

      <fa-icon [icon]="faRedo" class="float-end btn-lg csd-btn csd-icon-btn" (click)="openModal(resetModal)"
        title="Reset tracker. Removing all the combatants." size="xl"></fa-icon>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="row chargen-label">
            <div class="col-2 ps-1 g-0 pt-3 text-center" (click)="cycle(false)">
              <fa-icon [icon]="faChevronUp" title="Previous opponent" class="csd-btn csd-icon-btn m-0 w-100"
                size="2xl"></fa-icon>
            </div>
            <div class="col-8 text-center">
              <div>INIT.: {{ currentInitiativeOpp?.initRoll }}
                <fa-icon [icon]="faDice" (click)="rollInitiative()" title="Roll all initiatives"
                  class="csd-btn csd-dice h4 align-middle mt-1 mt-lg-auto"></fa-icon>
              </div>
              <div class="w-100">
                <fa-icon [icon]="faMinus" class="csd-icon-btn csd-icon-lg me-2 csd-btn"
                  (click)="cycleTurn(false)"></fa-icon>
                <h6 class="small d-inline-block me-2">TURN: {{ turn }}</h6>
                <fa-icon [icon]="faPlus" class="csd-icon-btn csd-icon-lg ms-2 csd-btn"
                  (click)="cycleTurn(true)"></fa-icon>
              </div>
            </div>
            <div class="col-2 ps-1 g-0 pt-3 text-center">
              <fa-icon [icon]="faChevronDown" title="Next opponent" class="csd-btn csd-icon-btn m-0" size="2xl"
                (click)="cycle(true)"></fa-icon>
            </div>
          </div>
          <div *ngIf="showList" class="px-0 mx-0">
            <cs-cmbt-trck-opponent-row *ngFor="let opp of opponents; index as i" [opponent]="opp" [index]="i"
              [showTools]="true" [selected]="selectedIndex !== i" [active]="initiativeIndex === i"
              (selectIndex)="selectOpponent($event, opponentDetailsModal)" (selectInitiative)="selectInitiative($event)"
              (delete)="removeOpponent($event)" (copy)="copyOpponent($event)">
            </cs-cmbt-trck-opponent-row>
            <div class="row">
              <div class="col-12 border border-dark btn csd-btn" (click)="addOpponent()" title="Add another opponent">
                <fa-icon [icon]="faPlus" class="csd-icon-btn csd-icon-xl"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 d-none d-md-block border border-dark">
          <cs-cmbt-trck-opponent-card [opponent]="selectedOpponent" [index]="selectedIndex">
          </cs-cmbt-trck-opponent-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #opponentDetailsModal>
  <div class="modal-header p-0 pt-2 pe-2 mb-0">
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body p-3 mt-0">
  <cs-cmbt-trck-opponent-card [opponent]="selectedOpponent" [index]="selectedIndex">
  </cs-cmbt-trck-opponent-card>
</div>
</ng-template>

<ng-template #resetModal>
  <div class="modal-header">
    <h4>RESET COMBAT TRACKER</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    Are you sure you want to clear all the data and reset the trackers?<br />
    <br /><br />
    <span class="btn btn-secondary btn-sm csd-rounded" (click)="clear()">Wipe it all out</span>&nbsp;&nbsp;
    <span class="btn btn-secondary btn-sm csd-rounded float-end" (click)="modalRef.hide()">Cancel</span>
  </div>
</ng-template>
<ng-template #instructionModal>
  <div class="modal-header">
    <h4>COMBAT TRACKER INSTRUCTIONS</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <cs-cmbt-trck-instructions></cs-cmbt-trck-instructions>
  </div>
</ng-template>
