<div class="cp2020-section container border border-dark">
  <div class="cp2020-label row">
    <div class="col"><h4>LIFESTYLE & EXPENSES</h4></div>
  </div>
  <div class="row pt-3 pb-2 border border-dark">
    <div class="col-12 col-lg-1"><h4><fa-icon [icon]="faEuroSign"></fa-icon><fa-icon [icon]="faDollarSign"></fa-icon></h4></div>
    <div class="col-6 col-lg-3">Credchips ({{currLifeStyle.credchips.length}}): {{totalCred | number}}eb
      <fa-icon [icon]="faPen" class="csd-btn csd-icon-btn ml-1" title="Edit Credchips" (click)="showModal(credchipModal)"></fa-icon>
    </div>
    <div class="col-6 col-lg-2">Cash: <input class="lifestyle-eb-input" type="number" [(ngModel)]="currLifeStyle.cash"> </div>
    <div class="col-6 col-lg-2">
      Total: {{totalEb|number}}eb
    </div>
    <div class="col-5 col-lg-3">
      Salary: <input class="lifestyle-eb-input" type="number" [(ngModel)]="currLifeStyle.salary">
    </div>
    <div class="col-1">
      <fa-icon [icon]="faCalculator" class="csd-icon-btn csd-btn float-right csd-icon-xl"
        title="Expense Calculator" (click)="showModal(expenseModal)"></fa-icon>
    </div>
    <div *ngIf="amountDue > 0" class="col-12">
      Outstanding Payment: {{amountDue | number}}eb
      <button class="btn btn-dark csd-btn ml-2" (click)="showModal(paymentModal)">PAY</button>
    </div>
  </div>
<!-- HOUSING-->
  <div class="row">
    <div class="col">
      <cs-cp2020-housing-list [housingList]="currLifeStyle.housing" (updateHousing)="updateHousing($event)" (payHousing)="pay($event, paymentModal)"></cs-cp2020-housing-list>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6">
      <cs-cp2020-service-list></cs-cp2020-service-list>
    </div>
    <div class="col col-12 col-md-6">
      <cs-cp2020-food-list [foodList]="currLifeStyle.food" (updateFood)="updateFood($event)"></cs-cp2020-food-list>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <cs-cp2020-identity-list [identityList]="currLifeStyle.identities" (updateList)="updateIdentities($event)"></cs-cp2020-identity-list>
    </div>
  </div>
</div>

<ng-template #expenseModal>
  <div class="modal-header">
    <h4 id="armor-modal-name" class="modal-title pull-left">Expense Calculator</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <cs-cp2020-expense-list [cash]="currLifeStyle.cash" [cred]="totalCred"  (payAmount)="pay($event, paymentModal)"></cs-cp2020-expense-list>
  </div>
</ng-template>

<ng-template #credchipModal>
  <div class="modal-header">
    <h4 id="armor-modal-name" class="modal-title pull-left">Pay Amount Due</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <cs-cp2020-credchip-list [credchips]="currLifeStyle.credchips" (updateCredchips)="updateCredchips($event)"></cs-cp2020-credchip-list>
  </div>
</ng-template>

<ng-template #paymentModal>
  <div class="modal-header">
    <h4 id="armor-modal-name" class="modal-title pull-left">Pay debts</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <cs-cp2020-payment [credchips]="currLifeStyle.credchips" [cash]="currLifeStyle.cash" [amountDue]="amountDue" (updateAmounts)="updateAmounts($event)"></cs-cp2020-payment>
  </div>
</ng-template>
