<div class="cp2020-section container">
  <div class="cp2020-label row">
    <div class="col"><h4>LIFESTYLE & EXPENSES</h4></div>
  </div>
  <div class="row pt-3 pb-2 border border-dark">
    <div class="col-1"><h4>Ebs <fa-icon [icon]="faEuroSign"></fa-icon></h4></div>
    <div class="col">Credit: <input type="number"> </div>
    <div class="col">Cash: <input type="number"> </div>
  </div>
<!-- HOUSING-->
  <div class="row border border-dark">
    <div class="col">
      <div class="row">
        <div class="col">
          <h5>HOUSING<fa-icon [icon]="faPlus"></fa-icon></h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          NAME
        </div>
        <div class="col">
          LOCATION
        </div>
        <div class="col-1">COST</div>
      </div>
      <div class="row">
        <div class="col">
          house (size) <fa-icon [icon]="faPen"></fa-icon><fa-icon [icon]="faTrash"></fa-icon><fa-icon [icon]="faList"></fa-icon>
        </div>
        <div class="col">
          Heywood
        </div>
        <div class="col-1">0000.00</div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-3">Total Cost: </div>
        <div class="col-1">0000.00 </div>
      </div>
    </div>
  </div>
  <!-- UTILITIES-->
  <div class="row border border-dark">
    <div class="col">
      <div class="row">
        <div class="col">
          <h5>UTILITIES<fa-icon [icon]="faPlus"></fa-icon></h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          NAME
        </div>
        <div class="col">
          LOCATION
        </div>
        <div class="col-1">COST</div>
      </div>
      <div class="row">
        <div class="col">
          house (size) <fa-icon [icon]="faPen"></fa-icon><fa-icon [icon]="faTrash"></fa-icon><fa-icon [icon]="faList"></fa-icon>
        </div>
        <div class="col">
          Heywood
        </div>
        <div class="col-1">0000.00</div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-3">Total Cost: </div>
        <div class="col-1">0000.00 </div>
      </div>
    </div>
  </div>
  <div class="row border border-dark">
    <div class="col">
      <div class="row">
        <div class="col">
          <h5>ENTERTAINMENT & SERVICES<fa-icon [icon]="faPlus"></fa-icon></h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          NAME
        </div>
        <div class="col">
          LOCATION
        </div>
        <div class="col-1">COST</div>
      </div>
      <div class="row">
        <div class="col">
          house (size) <fa-icon [icon]="faPen"></fa-icon><fa-icon [icon]="faTrash"></fa-icon><fa-icon [icon]="faList"></fa-icon>
        </div>
        <div class="col">
          Heywood
        </div>
        <div class="col-1">0000.00</div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-3">Total Cost: </div>
        <div class="col-1">0000.00 </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
