<div>
  <div>{{outString}}</div>
  <br>
  <div class="csd-rounded">
    <div>
      <span class="csd-required">Choose Type:</span>
      <select [(ngModel)]="selectedType" (change)="changeType()" class="form-control form-control-sm csd-veh-type-selector" required>
        <option *ngIf="!selectedType" [ngValue]="null" class="font-italic">Choose Vehicle Type</option>
        <option *ngFor="let vehType of vehicleTypes" [ngValue]="vehType">{{vehType.name}}</option>
      </select>
      <input type="button" title="Save" class="float-end btn-secondary csd-rounded csd-fash-btn" value="Save"
        (click)="saveList()" [disabled]="disableInput" />
    </div>
    <div title="{{vehicle.costTally}}">Total Cost : {{vehicle.cost | number}} eb. [{{vehicle.type.sdp.eb | number}} eb/SDP]</div>
    <div>
      <span>SDP : {{vehicle.sdp.curr | number}}  </span>
      <span>Mass : {{vehicle.mass | number}} {{vehicle.type.mass.unit}}  </span>
      <span>Spaces : {{vehicle.usedSpaces}}/{{vehicle.maxSpaces}}</span>
    </div>
  </div>
  <br>
  <div *ngIf="selectedType" class="csd-rounded">
    <div class="row">
      <div class="col-sm-12">
      Name: <input
                type="text"
                title="Name"
                class="md-textarea form-control csd-veh-name-input"
                [(ngModel)]="vehicle.name"
                placeholder="Enter a name for the vehicle"
                [disabled]="disableInput"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Base SDP" [min]="vehicle.sdp.min" [max]="vehicle.sdp.max" [inputValue]="vehicle.sdp.base"
          [increment]="1" (changeValue)="changeSDP($event)"
          [maxDisabled]="disableInput" [minDisabled]="disableInput">
        </cs-mminput>
      </div>
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Added/weaker structure" [min]="vehicle.sdp.adjusted.min" [max]="vehicle.sdp.adjusted.max"
          [inputValue]="vehicle.sdp.adjusted.curr" [increment]="1" (changeValue)="changeExtraSDP($event)"
          [maxDisabled]="disableInput || vehicle.sdp.base !== vehicle.sdp.max" [minDisabled]="disableInput || vehicle.sdp.base !== vehicle.sdp.min">
        </cs-mminput>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Armor/SP" [min]="0" [max]="vehicle.sp.max" [inputValue]="vehicle.sp.curr" [increment]="1"
          (changeValue)="changeArmor($event)"
          [maxDisabled]="disableInput || vehicle.availableSpaces &lt; 1" [minDisabled]="disableInput"></cs-mminput>
      </div>
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Top Speed ({{vehicle.speed.base}} mph)" [min]="vehicle.speed.min" [max]="vehicle.speed.max"
          [inputValue]="vehicle.speed.curr" [increment]="1" (changeValue)="changeSpeed($event)"
          [maxDisabled]="disableInput || vehicle.availableSpaces &lt; 1" [minDisabled]="disableInput">
        </cs-mminput>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Boost Acceleration ( accel: {{vehicle.speed.accelerate.base}} mph)"
          [min]="vehicle.speed.accelerate.min" [max]="vehicle.speed.accelerate.max"
          [inputValue]="vehicle.speed.accelerate.curr" [increment]="1" (changeValue)="changeAcceleration($event)"
          [maxDisabled]="disableInput" [minDisabled]="disableInput"></cs-mminput>
      </div>
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Heavy-Duty Brakes( decel: {{vehicle.speed.decelerate.curr}} mph)"
          [min]="vehicle.speed.decelerate.min" [max]="vehicle.speed.decelerate.max"
          [inputValue]="vehicle.speed.decelerate.curr" [increment]="1" (changeValue)="changeDeceleration($event)"
          [maxDisabled]="disableInput" [minDisabled]="disableInput"></cs-mminput>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Range ({{vehicle.range.curr}})" [min]="vehicle.range.min"
        [max]="vehicle.range.max"
          [inputValue]="vehicle.range.curr" [increment]="10" (changeValue)="changeRange($event)"
          [maxDisabled]="disableInput || vehicle.availableSpaces &lt; 1" [minDisabled]="disableInput"></cs-mminput>
      </div>
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Handling" [min]="0" [max]="3" [inputValue]="vehicle.manuever.curr" [increment]="1"
          (changeValue)="changeHandling($event)"
          [maxDisabled]="disableInput" [minDisabled]="disableInput"></cs-mminput>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Crew" [min]="1" [max]="vehicle.crew + vehicle.availableSpaces"
          [inputValue]="vehicle.crew" [increment]="1"
          (changeValue)="changeCrew($event)"
          [maxDisabled]="disableInput || vehicle.availableSpaces &lt; 1" [minDisabled]="disableInput"></cs-mminput>
      </div>
      <div class="col-sm-12 col-md-6">
        <cs-mminput label="Passengers" [min]="0" [max]="vehicle.passengers + vehicle.availableSpaces"
          [inputValue]="vehicle.passengers" [increment]="1"
          (changeValue)="changePassengers($event)"
          [maxDisabled]="disableInput || vehicle.availableSpaces &lt; 1" [minDisabled]="disableInput"></cs-mminput>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
      <span>Off-Road Capability:</span>
      <span>
        <input type="checkbox" [disabled]="disableInput" (change)="changeOffRoad()" [(ngModel)]="vehicle.offRoad" />
      </span>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
      Description:
      <textarea type="text" id="vehicleDesc" class="md-textarea form-control csd-veh-desc-input" [(ngModel)]="vehicle.description"
      [disabled]="disableInput"
      ></textarea>
      </div>
    </div>
  </div>

  <br>
  <div *ngIf="!disableInput" class="row">
    <div class="col-sm-12 col-md-6">
      <cs-mmweaponform (addVehicleWeapon)="addWeapon($event)"></cs-mmweaponform>
    </div>
    <div class="col-sm-12 col-md-6">
      <cs-mmoptionsform (addOption)="addOption($event)" [vehicle]="vehicle"></cs-mmoptionsform>
    </div>
  </div>
  <br>
  <div *ngIf="!disableInput" class="row">
    <div class="col-sm-12 col-md-6">
      <cs-mmweaponlist [weaponList]="vehicle.weapons"
      (removeWeapon)="removeWeapon($event)"></cs-mmweaponlist>
    </div>
    <div class="col-sm-12 col-md-6">
      <cs-mmoptionslist [optionList]="vehicle.options" (removeOption)="removeOption($event)" [vehicle]="vehicle"></cs-mmoptionslist>
    </div>
  </div>
  <br>
</div>

<ng-template #maxMetalMessageModal >
  <div class="modal-header">
    <h4 class="modal-title float-start">MAXIMUM METAL</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">

    </button>
  </div>
  <div class="modal-body">
    <div>{{message}}</div>
  </div>
</ng-template>
