<div class="container">
  <h2>Maximum Metal Calculator</h2>
  <p>This is a web app that can calculate the costs of a vehicle.</p>
  <p>This information all comes from the Maxium Metal source book and is required reading if you want to use this utiity.
    Not every little rule and details has been implemented (such as weight limits for weapons).
    You should review the output before the vehicle is done done.
  </p>
  <p>You can purchase the book directly from <a href="https://talsorianstore.com/collections/cyberpunk/products/maximum-metal" alt="R.Talsorian" target="_blank">R. Talsorian here</a>.
    You can also purchase the PDF from <a href="https://www.drivethrurpg.com/product/58781/Maximum-Metal" alt="R.Talsorian" target="_blank">Drive Thru RPG here</a>. </p>
  <cs-mmbuilder [vehicleTypes]="vehicleTypes"></cs-mmbuilder>
</div>
