<div class="row">
  <div class="col-6 col-md-3"><span style="color: red;">*</span>Clothing:</div>
  <div class="col-6 col-md-3">
    <select [(ngModel)]="currSelection" (change)="changeClothing($event)">
      <option *ngFor="let c of clothing" [ngValue]="c">{{c.name}}</option>
    </select>
  </div>
  <div class="col-0 col-md-3"></div>
  <div class="col-12 col-md-3"><span>{{currSelection.cost}}</span>eb</div>
</div>
<div *ngIf="availableAsLeather()" class="row">
  <div class="col-1"></div>
  <div class="col-3 col-md-3">Leather?</div>
  <div class="col-1 col-md-3"><input type="checkbox" id="chkIsLeather" [(ngModel)]="isLeather" (change)="checkedLeather($event)"/></div>
  <div class="col-0 col-md-2"></div>
  <div class="col-6 col-md-3">X<span>{{currSelection.leather}}</span></div>
</div>
