<cs-cr-cz-faction-selector [selectedFaction]="filterFaction" [hiddenFactions]="['universal']"
  (selected)="setFaction($event)"></cs-cr-cz-faction-selector>
<div *ngIf="dataList$ | async as objectiveList" class="row">
  <div class="col-12">
    <div *ngFor="let objective of objectiveList |contains:'faction':[filterFaction, 'universal']"
      class="d-inline-block me-1 crcz-objective-card">
      <div
        [ngClass]="{'rounded d-inline-block crcz-objective-header csd-btn': true, 'crcz-has-objective': hasObjective(objective)}"
        [ngStyle]="{ 'background-image': 'url(' +getObjectiveCardImage(objective)+')' }" (click)="toggleSelected(objectiveModal, objective)"></div>
      <div class="d-inline-block crcz-objective-button-group">
        <button title="Add {{objective.name}} objective to team."
          class="border border-secondary text-center rounded csd-btn p-1" (click)="addObjective(objective)">
          <fa-icon [icon]="faPlus" size="xl"></fa-icon>
        </button>
        <button *ngIf="hasObjective(objective)"
          title="Remove {{objective.name}} objective to team."
          class="border border-secondary text-center rounded csd-btn p-1 mt-1"
          (click)="removeObjective(objective)">
          <fa-icon [icon]="faTrash" size="xl"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #objectiveModal>
     <div class="modal-body" (click)="hideModal()">
      <img class="w-100" alt="Objective card" [src]="getObjectiveCardImage(selectedObjective)"/>
    </div>
</ng-template>
