<div
[ngClass]="{'article': true, 'chargen-skill-is-role': skill.isRoleSkill, 'chargen-role-choice': skill.roleChoice, 'chargen-skill': true}"
>
    <span [ngClass]="{'rounded': true, 'sa-name': isSpecialAbility, 'skill-name': true }">{{skill.name}}<fa-icon [icon]="faDice"
      title="Click to Roll" (click)="onClick(chargenSkillRoll)"></fa-icon></span>
    <input *ngIf="skill.option || skill.option === ''"
    [(ngModel)]="skill.option" type="text" class="chargen-skil-option"/>
    <span *ngIf="skill.ipMod > 1">({{skill.ipMod}}) </span>
    <span class="dots"></span>
    <span class="skill-inputs pull-right">
      <span [ngClass]="{'d-none':isSpecialAbility}" title="Skill + Stat">
        [{{ skill.value + ((stat)?stat.Adjusted:0 )}}]
      </span>
      &nbsp;
      <input [(ngModel)]="skill.value" (change)="onChangeSkill()"
        min="0" max="10" type="number"
        title="Skill Value"
        [ngClass]="{'chargen-skill-input': true, 'chargen-skill-has-value': (skill.value > 0)}" />
      &nbsp;
      <input [(ngModel)]="skill.ip" (change)="onChangeSkill()"
        min="0" max="1000" type="number"
        Title="SKill IP"
        [ngClass]="{'chargen-skill-input': true, 'chargen-skill-has-value': (skill.value > 0)}" />
      &nbsp;
      <input [(ngModel)]="skill.chipped" type="checkbox" title="Skill is chipped?" [ngClass]="{'d-none':isSpecialAbility}"></span>
</div>
<ng-template #chargenSkillRoll>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{skill.name}}{{(skill.option ? ': ' + skill.option : '')}} Dice Roll</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
    {{this.skill.value}}(skill) + <span *ngIf="stat">{{this.stat.Adjusted}}(stat) +</span> {{this.dieRoll}}(roll) = {{this.totalRoll}} total
  </div>
  <div>
    {{rollMessage}}
  </div>
  </div>
</ng-template>

