<div class="border border-dark">
  <div class="row g-0">
    <div class="col-12">
      <div class="cp2020-label d-inline-block mt-0">HOT STUFF</div>
      <button class="csd-btn csd-icon-lg csd-icon-btn ms-2 me-3 hidden-print"
        title="Reset Streetdeal and clear all contacts" (click)="reset()">
        <fa-icon [icon]="faRedo" size="xl"></fa-icon>
      </button>
      Contact Points Used: {{ spentPoints }}/{{ totalPoints }}
      <button class="csd-btn csd-icon-btn csd-icon-lg ms-2" title="Generate list of contacts" (click)="generate()" [disabled]="skillLevel() <= 0">
        <fa-icon [icon]="faDice" size="xl"></fa-icon>
      </button>
      @if(canPrint()) {
      <button class="csd-btn csd-icon-btn csd-icon-lg ms-2 float-end" title="Print list of contacts" (click)="print()">
        <fa-icon [icon]="faFile"></fa-icon>
      </button>
      }
    </div>
  </div>
  <div class="mx-2">
    <div class="row">
      <div class="col-12 col-lg-6">
        @if(currHotStuffContacts?.length > 0) {
        <div class="row">
          <div class="col-8">AREA</div>
          <div class="col-4 text-center"></div>
        </div>
        }
        @for (contact of firstColumn; track $index; let i = $index) {
        <cs-cp2020-hot-stuff-contact [area]="contact" [index]="i" (delete)="delete($event)"
          (edit)="edit($event)"></cs-cp2020-hot-stuff-contact>
        }
      </div>
      <div class="col-12 col-lg-6">
        @if(currHotStuffContacts?.length > 0) {
        <div class="row">
          <div class="col-8 d-none d-lg-inline-block">AREA</div>
          <div class="col-4 d-none d-lg-inline-block text-center"></div>
        </div>
        }
        @for(contact of secondColumn; track $index; let i = $index) {
        <cs-cp2020-hot-stuff-contact [area]="contact" [index]="i + columnTwoIndex" (delete)="delete($event)"
          (edit)="edit($event)"></cs-cp2020-hot-stuff-contact>
        }
      </div>
    </div>
    @if(spentPoints < totalPoints) { <cs-cp2020-hot-stuff-contact-new [maxPoints]="totalPoints - spentPoints"
      (add)="add($event)"></cs-cp2020-hot-stuff-contact-new>
      }
  </div>
</div>
