<div class="container">
  <div>
    <h2>Fashion Calculator Utility</h2>
    <P>
    The Fashion Calculator uses the system from Chromebook 3/4
    (Buy the book from <a href="https://talsorianstore.com/collections/cyberpunk/products/chromebook-3-4" alt="R. Talsorian Games" target="_blank">R. Talsorian here</a>
    or the PDF from <a href="https://www.drivethrurpg.com/product/114828/Chromebook-3-4" alt="Drive Thru RPG" target="_blank">DriveThru RPG here</a>).
    </P>
  </div>
  <div id="fcSelectorControls" class="row">
    <div class="col-12 col-lg-6 csd-rounded">
      <div class="row">
        <div class="col">
          <h4 class="d-inline-block">Design Clothing</h4>
          <fa-icon [icon]="faPlus"
            class="csd-btn csd-icon-btn csd-icon-xl ms-2 float-end"
            title="Add to the list..."
            (click)="addArmor()"></fa-icon>
          <fa-icon [icon]="faCog"
            class="csd-btn csd-icon-btn csd-icon-xl ms-2 float-end"
            title="Change random parameter settings for create a piece of armor"
            (click)="showModal(settingsModal)"></fa-icon>
        </div>
      </div>
      <cs-cp2020-armor-detail [armor]="currArmor" (updateArmor)="updateArmor($event)" >
      </cs-cp2020-armor-detail>
    </div>
    <div class="col csd-rounded">
      <cs-cp2020-clothing-list></cs-cp2020-clothing-list>
    </div>
  </div>
</div>
<ng-template #settingsModal>
  <div class="modal-header">
    <h4>RANDOM GENERATOR SETTINGS</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()">

    </button>
  </div>
  <div class="modal-body">
    <cs-armor-settings></cs-armor-settings>
  </div>
</ng-template>
