<div class="container">
  <div>
    <h2>Fashion Calculator Utility</h2>
    <P>
    The Fashion Calculator uses the system from Chromebook 3/4
    (Buy the book from <a href="https://talsorianstore.com/collections/cyberpunk/products/chromebook-3-4" alt="R. Talsorian Games" target="_blank">R. Talsorian here</a>
    or the PDF from <a href="https://www.drivethrurpg.com/product/114828/Chromebook-3-4" alt="Drive Thru RPG" target="_blank">DriveThru RPG here</a>).
    </P>
    <p>Choose the various options below (<span style="color: red">*</span> required). Once you have choose all the options you want, click on Buy button to add it to the list.</p>
    <p>Click on Save button to print a text file of the clothing list you have created.</p>
  </div>
  <div id="fcSelectorControls" class="row">
    <div class="col-12 col-md-7">
      <cs-fashion-input [clothes]="clothingData.Clothes" [styleList]="clothingData.Style" [qualityList]="clothingData.Quality"
        [armoringList]="clothingData.Armoring" [optionsList]="clothingData.Options" (purchaseClothing)="addToList($event)">
      </cs-fashion-input>
    </div>
    <div class="col-12 col-md-5">
      <cs-fashion-list [clothingList]="clothingList" [totalCost]="clothingTotal">
      </cs-fashion-list>
      <fa-icon [icon]="faFile" title="Save" [ngClass]="{'csd-btn csd-icon-btn': !isListEmpty, 'csd-disabled':isListEmpty , 'csd-icon-xl': true}" (click)="saveList()"></fa-icon>
    </div>
  </div>
</div>
