<div *ngIf="squad$ | async as squad" class="border-bottom border-secondary" class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-2 col-md-1 p-0">
          <img alt="icon of squad faction for {{squad.faction}}" *ngIf="squad.faction !== ''" class="w-100"
            style="max-width: 70px;" src="img/cz/icon_{{squad.faction?.replace(' ','_')}}.png">
        </div>
        <div class="col-10 col-md-11 text-capitalize">
          <div class="row">
            <div class="col-11">
              <h3 class="d-inline-block">{{squad.name}}</h3>
              <button class="csd-btn p-2 ms-3" (click)="removeSquad(squadIndex)" title="Delete Team">
                <fa-icon [icon]="faTrash" size="xl" class="csd-btn"></fa-icon>
              </button>
            </div>
            <div class="col-1 text-start px-0">
              <button class="csd-btn p-1" title="Print Team as PDF" (click)="createPDF()">
                <fa-icon [icon]="faFilePdf" size="xl"></fa-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 text-small">
              {{squad.totalCost || 0}}eb - {{squad.totalStreetcred || 0}}<fa-icon [icon]="faStar"></fa-icon> |
              {{squad.totalInfluence}} Influcence/
              <span [ngClass]="{'text-danger csd-highlight': (squad.totalGonks > squad.totalInfluence)}"
                [title]="(squad.totalGonks > squad.totalInfluence) && 'Total gonks exceeds the Team\'s total Influence'">{{squad.totalGonks}} Gonks</span>/
              <span [ngClass]="{'text-danger csd-highlight': (squad.totalMercs > 2)}"
                [title]="(squad.totalMercs > 2) && 'Total mercs of a different faction exceeds the limit of 2'">{{squad.totalMercs}}[2] Mercs</span></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 text-small">
              Pay for Veteran/Elites <input title="Check box if the squad will pay additional eb for veterans/elites."
                type="checkbox" [checked]="squad.payVeterans" (change)="togglePayVeteran()">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-md-2 col-lg-1 text-small p-0">
          <button class="csd-btn w-100 p-1 text-small border border-secondary rounded" (click)="inspireTeam()"
            title="Inspire your team">
            <fa-icon [icon]="faRedo"></fa-icon> Inspire
          </button>
        </div>
        <div class="col-9 col-md-10 col-lg-11">
          <button class="csd-btn p-1 me-1" *ngFor="let i of luck.constructor(squad.luck); let num = index"
            title="Use luck" (click)="updateLuck(-1)">
            <img alt="Luck icon" src="img/cz/luck_icon.png" class="csd-img-icon">
          </button>

          <button class="csd-btn p-1" title="Add luck" (click)="updateLuck(1)">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>

      </div>
      <div class="row mt-1">
        <div class="col-11 px-0 mx-0">
          <tabset type="pills" [justified]="true">
            <tab customClass="customClass" (selectTab)="setTab($event, 'team')">
              <ng-template tabHeading>
                <div class="text-small text-uppercase d-inline-block" title="Team Members">
                  <fa-icon [icon]="faUsersLine" size="xl"></fa-icon> {{squad?.units.length}}
                </div>
              </ng-template>
              <ng-container
                *ngFor="let unit of squad?.units  | orderby: [{prop: 'isLeader', desc: true},{prop: 'isGonk', desc: false},{prop: 'name',desc: false}]; index as unitIndex"
                [ngTemplateOutlet]="unitRow"
                [ngTemplateOutletContext]="{unit: unit, unitIndex: unitIndex, teamFaction: squad?.faction}"></ng-container>
            </tab>
            <tab customClass="customClass" (selectTab)="setTab($event, 'objectives')">
              <ng-template tabHeading>
                <div class="text-small text-uppercase" title="Objectives">
                  <fa-icon [icon]="faBullseye" size="xl" /> ({{squad?.objectives.length}})
                </div>
              </ng-template>
              <div *ngFor="let obj of squad?.objectives; index as index" class="text-capitalize text-small">
                {{obj.name}}
                <fa-icon *ngIf="obj.cred > 1" [icon]="faStar" size="xs" class="mb-0 pb-0 align-bottom"
                  style="margin-right:-3px;"></fa-icon>
                <fa-icon *ngIf="obj.cred > 0" [icon]="faStar" class="align-top mt-0 pt-0"></fa-icon>
              </div>
            </tab>
            <tab customClass="customClass" (selectTab)="setTab($event, 'notes')">
              <ng-template tabHeading>
                <div class="text-small text-uppercase" title="Notes">
                  <fa-icon [icon]="faFileLines" size="xl"></fa-icon>
                </div>
              </ng-template>
              <div class="row">
                <div class="col-12 text-center">
                  <textarea title="Notes" placeholder="Enter notes..." class="w-100" rows="15"
                    (keyup)="updateSquadNotes()" [(ngModel)]="squadNotes"></textarea>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="col-1 pt-1">
          <button *ngIf="selectedTab === 'team'" title="Add Team Member"
            class="float=end d-inline-block csd-btn p-2 border border-secondary rounded"
            (click)="showModal(unitListings, squad?.faction)">
            <fa-icon [icon]="faUserPlus"></fa-icon>
          </button>
          <button *ngIf="selectedTab === 'objectives'" title="Add Objective"
            class="float=end d-inline-block csd-btn p-2 border border-secondary rounded"
            (click)="showObjectiveModal(objectiveListings, squad?.objectives, squad?.faction)">
            <fa-icon [icon]="faBullseye"></fa-icon>
            <fa-icon [icon]="faPlus" size="xs"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #unitRow let-unit="unit" let-unitIndex="unitIndex" let-teamFaction="teamFaction">
    <div [ngClass]="{'row mt-1 py-1 csd-btn':true,'wrong-faction rounded': (!unit.keywords.includes(teamFaction) && !unit.keywords.includes('merc'))}">
      <div class="col-1 text-capitalize ps-0 text-end">
        <img alt="Death icon" *ngIf="unit.isDead; else unitLives" class="csd-img-icon me-1" src="img/cz/death_icon.png">
        <ng-template #unitLives>
          <img alt="Unit card for {{unit.name}}" class="csd-img-icon me-1"
            src="img/cz/units/{{unit.name?.replaceAll(' ', '_')}}_{{unit.cred}}.jpg">
        </ng-template>
      </div>
      <div class="col-8 col-md-9 text-capitalize" (click)="showUnitModal(unitForm, unit.name, unitIndex, teamFaction)">
        <div class="row">
          <div class="col-12 col-md-8 px-0">
            {{unit?.name}}
            <fa-icon *ngIf="unit.cred > 1" [icon]="faStar" class="text-small mt-3" style="margin-right:-3px;"></fa-icon>
            <fa-icon *ngIf="unit.cred > 0" [icon]="faStar" class="align-top"></fa-icon>
            <div class="ms-2 text-capitalize text-small fst-italic d-inline-block float-end">
              {{unit?.keywords?.join(", ")}}
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img alt="Death icon" *ngIf="unit.isDead; else unitAlive" class="csd-img-icon" src="img/cz/death_icon.png">
            <ng-template #unitAlive>
              <img alt="Action icon {{action.type}}" *ngFor="let action of unit?.actionTokens" class="csd-img-icon"
                src="img/cz/{{action.isRed ? 'r' : action.type}}_{{action?.isUsed ? 'deactive': 'active'}}.png">
              <img *ngFor="let token of [].constructor(unit.luck)" alt="Luck icon" src="img/cz/luck_icon.png" class="csd-img-icon">
              <img *ngIf="unit.isVulnerable" class="float-end csd-img-icon" src="img/cz/status_vulnerable.png"
                title="is Vulnerable!">
              <img *ngIf="unit.isHacked" class="float-end me-1 csd-img-icon" src="img/cz/status_hacked.png"
                title="Hacked!">
            </ng-template>
          </div>
        </div>
        <div class="row text-small" *ngIf="unit.gearCards.length > 0">
          <div class="col-12">Gear: {{unit.gearList}}</div>
        </div>
        <div class="row text-small" *ngIf="unit.programs?.length > 0">
          <div class="col-12">Programs: {{unit.programList}}</div>
        </div>
      </div>
      <div class="col-1 text-small px-0" (click)="showUnitModal(unitForm, unit.name, unitIndex)">
        {{unit.totalCost + ( squad.payVeterans ? (unit.cred * 5) : 0)}}eb
      </div>
      <div class="col-2 col-md-1">
        <button title="Click to remove unit." class="csd-btn p-1" (click)="removeUnit( unitIndex)">
          <fa-icon [icon]="faTrash" size="xl"></fa-icon>
        </button>
      </div>
    <div *ngIf="(!unit.keywords.includes(teamFaction) && !unit.keywords.includes('merc'))" class="col-12 text-small text-danger">
      !! This Character is not the same faction as the team nor a merc !!
    </div>
      <ng-template #FullImage>
        <img class="w-100" alt="Unit card for {{unit.name}}"
          src="img/cz/factions/{{unit.faction.replace(' ','_')}}/units/{{unit.name?.replaceAll(' ', '_')}}_{{unit.cred}}.jpg">
      </ng-template>
    </div>
  </ng-template>

  <ng-template #unitForm>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-capitalize">
        <button title="Navigate to the next character." type="button" class="csd-btn p-1"
          (click)="navigateMembers(-1, squad.units.length)">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        Character
        <button title="Navigate to the previous character." type="button" class="csd-btn p-1"
          (click)="navigateMembers(1, squad.units.length)">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </h4>
      <button title="Close" type="button" class="btn-close close float-end" aria-label="Close"
        (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body py-0">
      <div class="w-100 py-1 mb-1 border-bottom border-secondary">
        <button class="csd-btn p-2 text-small border border-secondary rounded ms-3" (click)="inspireTeam()"
          title="Inspire your team">
          <fa-icon [icon]="faRedo" size="xl"></fa-icon> Inspire
        </button>
        <button class="csd-btn p-1 me-1" *ngFor="let i of luck.constructor(squad.luck); let num = index"
          title="Use luck" (click)="updateLuck(-1)">
          <img alt="Luck icon" src="img/cz/luck_icon.png" class="csd-img-icon">
        </button>
        <button class="csd-btn p-1" title="Add luck" (click)="updateLuck(1)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
      <cs-cr-cz-unit-form [squadIndex]="squadIndex" [unitIndex]=" selectedUnitIndex$ | async"
        [totalStreetcred]="squad.totalStreetcred" [teamFaction]="faction"></cs-cr-cz-unit-form>
    </div>
  </ng-template>



  <ng-template #unitListings>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Unit Listing</h4>
      <button title="Close" type="button" class="btn-close close pull-right" aria-label="Close"
        (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <cs-cr-cz-unit-list [squadIndex]="squadIndex" [faction]="faction"></cs-cr-cz-unit-list>
    </div>
  </ng-template>


  <ng-template #objectiveListings>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Objective Listing</h4>
      <button title="Close" type="button" class="btn-close close pull-right" aria-label="Close"
        (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <cs-cr-cz-objective-list [squadIndex]="squadIndex" [filterFaction]="faction" [ownedObjectives]="selectedObjectives"></cs-cr-cz-objective-list>
    </div>
  </ng-template>

</div>
