<div class="row">
  <div class="col-2 col-md-1">
    <fa-icon [icon]="faDice" title="Generate vendits" class="csd-btn csd-icon-btn csd-icon-xl" (click)="generateVendits()"></fa-icon>
  </div>
  <div class="col">
    Number of Vendits:
    <input type="number" min="0" title="Number of Vendits to generate" [(ngModel)]="numOfVendits" class="csd-number">
  </div>
</div>
<div class="row" *ngFor="let item of vendits">
  <div class="col-1"></div>
  <div class="col">
    <span *ngIf="item.count > 1">{{item.count}} x </span>
    {{item.name}}
  </div>
</div>
<br>
<br>
