@import "bootstrap/dist/css/bootstrap.min.css";

Body {
  background-image: linear-gradient(#111, #EEE);
  background-attachment: fixed;
}


h1, h2 {
  letter-spacing: 3px;
}

h3,
h4 {
  letter-spacing: 2px;
}
h5,
h6 {
  letter-spacing: 1px;
}

.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-70 {
  width: 70%;
}

.w-45 {
  width: 45%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}


.text-small {
  font-size: small;
}
.text-smaller {
  font-size: smaller;
}

.text-xsmall {
  font-size: x-small;
}
.text-xxsmall {
  font-size: xx-small;
}
.text-3xsmall {
  font-size: 0.5em;
}
.text-tiny {
  font-size: 0.4em;
}

.text-large {
  font-size: large;
}

.text-larger {
  font-size: larger;
}

.text-xlarge {
  font-size: x-large;
}

.text-xxlarge {
  font-size: xx-large;
}

.no-left-border {
  border-left: transparent 0px solid !important;
}

.no-right-border {
  border-right: transparent 0px solid !important;
}

.no-top-border {
  border-top: transparent 0px solid !important;
}

.no-bottom-border {
  border-bottom: transparent 0px solid !important;
}

INPUT {
  border-width: 1px !important;
  margin-bottom: 3px !important;
  margin-bottom: 3px !important;
}

INPUT.csd-number {
  width: 50px;
  text-align: right;
}

INPUT[type="radio"] {
	accent-color: red !important;
}

INPUT[type="checkbox"]:checked:before {
  accent-color: red !important;
}

INPUT.csd-number-sm {
  width: 35px;
}

BUTTON {
	background: none;
	color: inherit;
	border: none !important;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.csd-box {
  background-color: #ddd;
  color: #333;
}

.csd-cell-disabled {
  background-color: #ddd;
  color: #999;
}

.csd-highlight {
  font-weight: bold;
  color: red;
}
.csd-highlight::before {
  content: '*';
}
.csd-highlight::after {
  content: '*';
}

.csd-icon-btn {
  color: red;
}

.csd-dice {
  color: red;
  cursor: pointer;
  display: inline-block;
}

.csd-icon-btn:disabled, .csd-dice:disabled, .csd-btn:disabled {
  color: #DDD;
}

.cs-color-swatch {
  display: inline-block;
  height: 16px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #333;
}

.csd-select-choose {
  font-style: italic;
  color: #999;
}

.csd-btn {
  cursor: pointer;
}


.csd-btn:focus, .csd-btn:hover, .csd-btn-pressed {
  background-color: #BBB;
  border: 1px #333 solid;
  -webkit-border-top-left-radius: 0.2em !important;
  -webkit-border-bottom-left-radius: 0.2em !important;
  -moz-border-radius-topleft: 0.2em !important;
  -moz-border-radius-bottomleft: 0.2em !important;
  border-top-left-radius: 0.2em !important;
  border-bottom-left-radius: 0.2em !important;
  -webkit-border-top-right-radius: 0.2em !important;
  -webkit-border-bottom-right-radius: 0.2em !important;
  -moz-border-radius-topright: 0.2em !important;
  -moz-border-radius-bottomright: 0.2em !important;
  border-top-right-radius: 0.2em !important;
  border-bottom-right-radius: 0.2em !important;
}

.csd-btn:disabled {
  cursor:not-allowed;
  border: none;
  background-color:inherit;
}

.csd-input-label {
  position: absolute;
  left: 0;
  right: 0;
  font-size: x-small;
  color: #777;
  font-style: italic;
}

.csd-input-label:parent {
  position: relative;
}

.csd-menu-btn {
  margin-left: 4px;
}

.csd-randomize {
  margin-left: 10px;
  font-size: small;
}

.no-spinners {
  -moz-appearance:textfield;
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

INPUT.no-style {
  border: 0px transparent solid;
  outline: none;
}

SELECT option.font-italic {
  font-style: italic !important;
}

::-webkit-input-placeholder {
  font-style: italic !important;
}

:-ms-input-placeholder {
  font-style: italic !important;
}

::placeholder {
  font-style: italic !important;
}

.csd-required:before {
  content: '*';
  color: red;
  padding-right: 5px;
}

.csd-important:before,.csd-important:after  {
  content: '*';
  color: red;
  padding-right: 2px;
  padding-left: 2px;
}

.csd-disabled {
  color: #BBB !important;
  cursor: no-drop !important;
}

.csd-icon-greyedout {
  color: #BBB !important;
}

.csd-clear-search {
  color: #BBB !important;
  cursor: pointer !important;
  position: absolute;
  margin-left: -15px;
}
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

.csd-sort-selector {
  color: #333;
  text-align: left;
  cursor: pointer;
  min-height: 1.0em;
}

.csd-sort-selector:hover {
  border-bottom: #333 1px solid;
}

.csd-desc-sect {
    border: solid 2px #a9f5bc;
    background-color: #ddd;
    margin-bottom: 5px;
    padding: 3px 3px 3px 3px;
    font-size: x-small;
}

.csd-disclaimer {
    margin-top: 3px;
    font-size: x-small !important;
    color: #AAA;
    letter-spacing: 1px;
}
.csd-disclaimer .container {
  background-image: none;
}
.csd-disclaimer h6 {
  letter-spacing: 3px;
}
.csd-disclaimer a {
  color: #FFF !important;
  font-weight: bolder;
}
.csd-disclaimer a:hover {
  color: #FFF !important;
  font-weight: bold !important;
}

.csd-rounded:disabled {
  color: #888;
  border: solid 2px #888;
}

.csd-popover {
  width: 250px;
  text-align: center;
  background-color: #DDD;
}

.csd-rounded {
  padding: 5px 8px;
  border: solid 2px #a9f5bc;
    -webkit-border-top-left-radius: .5em !important;
    -webkit-border-bottom-left-radius: .5em !important;
    -moz-border-radius-topleft: .5em !important;
    -moz-border-radius-bottomleft: .5em !important;
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
    -webkit-border-top-right-radius: .5em !important;
    -webkit-border-bottom-right-radius: .5em !important;
    -moz-border-radius-topright: .5em !important;
    -moz-border-radius-bottomright: .5em !important;
    border-top-right-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}

.csd-rounded-corners {
    -webkit-border-top-left-radius: .5em !important;
    -webkit-border-bottom-left-radius: .5em !important;
    -moz-border-radius-topleft: .5em !important;
    -moz-border-radius-bottomleft: .5em !important;
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
    -webkit-border-top-right-radius: .5em !important;
    -webkit-border-bottom-right-radius: .5em !important;
    -moz-border-radius-topright: .5em !important;
    -moz-border-radius-bottomright: .5em !important;
    border-top-right-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}

.game-term {
  font-style: italic;
  font-weight: bold;
}

.game-skill {
  font-family: "Verdana !important";
  font-style: italic !important;
}
.game-stat {
    font-family: "Agency FB";
    font-weight: bold;
    font-size: larger;
}

.dropdown-item.csd-dropdown-item {
  padding-left: 0px;
  padding-right:0px;
}

.csd-lifepath-sect {
  padding: 5px 5px;
}
.csdDatafortPopover {z-index: 2000;background-color:#333;color:#EEE;}
.csdDatafortPopover DIV.csdDatafortInfo {color:#EEE;}
.column-count {
  columns: 1;
  column-gap: 0%;
}

.column-count-2 {
  columns: 1;
  column-gap: 0%;
}

.csd-img-icon {
  width: 25px;
}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }

}

@media (min-width: 48em) {

  .csd-img-icon {
      width: 30px;
  }
  .column-count {
    columns: 2;
  }
  .column-count-2 {
    columns: 2;
  }
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}


@media (min-width: 75em) {
  .column-count {
    columns: 3;
  }
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

.csd-card-img {position:relative; float:right;}
.csd-card-img i {font-size:xx-small;display:block;max-width:95px;}
.csd-card-holder {display:block;min-height: 130px;}

.chargen-label, .cp2020-label {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
}

.chargen-full {
  width: 100%;
}

.chargen-input {
  margin-left: 5px;
}

.chargen-section, .cp2020-section { margin-top: 5px;}

.csd-linebreak {
  page-break-before: always !important;
  overflow:hidden !important;
}

.show-print {
  display: none;
}

.bg-black {
  background-color: black;
}


INPUT.csd-hide-spinner::-webkit-outer-spin-button,
INPUT.csd-hide-spinner::-webkit-inner-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
}

INPUT.csd-hide-spinner[type=number] {
  -moz-appearance:textfield;
}

INPUT, SELECT, TEXTAREA {
  cursor: pointer;
  background-color: #EEE;
  -webkit-border-top-left-radius: .3em;
  -webkit-border-bottom-left-radius: .3em;
  -moz-border-radius-topleft: .3em;
  -moz-border-radius-bottomleft: .3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  -webkit-border-top-right-radius: .3em;
  -webkit-border-bottom-right-radius: .3em;
  -moz-border-radius-topright: .3em;
  -moz-border-radius-bottomright: .3em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

INPUT.csd-plain-input, SELECT.csd-plain-input {
  border: 0px transparent solid;
  background-color: inherit;
  outline: none;

  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

TEXTAREA.csd-plain-input {
  background-color: inherit;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

INPUT.csd-plain-input.csd-input-underline,
SELECT.csd-plain-input.csd-input-underline,
.csd-sort-selector.csd-input-underline {
  border-bottom: 1px #AAA solid;
}

INPUT.csd-plain-input:hover,
SELECT.csd-plain-input:hover,
SELECT.csd-plain-input:focus,
INPUT.csd-plain-input:focus {
  outline: none;
  background-color: #CCC;
  border-bottom: 1px #666 solid;
}

INPUT.csd-plain-input::placeholder, TEXTAREA.csd-plain-input::placeholder {
  color: #AAA;
  font-size: x-small;
  position: absolute;
  margin: 0px !important;
  top: 0 !important;text-overflow: ellipsis;
}

INPUT.csd-plain-input:focus::placeholder,
TEXTAREA.csd-plain-input::placeholder {
  color: #DDD;
  font-size: x-small;text-overflow: ellipsis;
}

.dropdown-item.active, .drop-item:active {
  background-color: #555 !important;
  color: #CCC;
}

A {
  color: inherit;
  font-weight: bolder;
}
a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  color: inherit;
  text-decoration: underline;
}


a:active {
  text-decoration: none;
}


div svg circle.neticon:hover {
  fill: red !important;
  background-color: red;
}

.chosen-button {
  background-color: #BBB;
  border: 1px #333 solid;
}

.cz-gear-card {
  height: 100%;
  width: 100%;
}

.wpn-shot {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  height: 16px;
  width: 16px;
  padding: 0px 0px;
  line-height: 8px;
  text-align: center;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 3px;
}


.chargen-notes {
  width: 100%;
  min-height: 500px;
  height: 1200px;
}

.outline-white {
  text-shadow:  -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.outline-white-bold {
  text-shadow:  -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}


.outline-black {
  text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.outline-black-bold {
  text-shadow:  -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.outline-red {
  text-shadow:  -1px -1px 0 #f00, 1px -1px 0 #f00, -1px 1px 0 #f00, 1px 1px 0 #f00;
}
