@import "bootstrap/dist/css/bootstrap.min.css";

INPUT {
  border-width: 1px !important;
  margin-bottom: 3px !important;
  margin-bottom: 3px !important;
}

INPUT.csd-number {
  width: 50px;
  text-align: right;
}

INPUT[type="radio"] {
	accent-color: red !important;
}

INPUT[type="checkbox"]:checked:before {
  accent-color: red !important;
}

INPUT.csd-number-sm {
  width: 35px;
}

.csd-box {
  background-color: #ddd;
  color: #333;
}

.csd-cell-disabled {
  background-color: #ddd;
  color: #999;
}

.csd-highlight {
  font-weight: bold;
  color: red;
}
.csd-highlight::before {
  content: '*';
}
.csd-highlight::after {
  content: '*';
}

.csd-icon-btn {
  color: red;
}

.csd-dice {
  color: red;
  cursor: pointer;
  display: inline-block;
}

.csd-icon-xl {
  font-size: x-large !important;
}

.csd-icon-lg {
  font-size: large !important;
}

.csd-icon-xxl {
  font-size: xx-large !important;
}

.csd-icon-sm {
  font-size: small !important;
}

.cs-color-swatch {
  display: inline-block;
  height: 16px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #333;
}


.csd-icon-xxl {
  font-size: xx-large;
}

.csd-btn {
  cursor: pointer;
}
.csd-menu-btn {
  margin-left: 4px;
}

.csd-randomize {
  margin-left: 10px;
  font-size: small;
}

.no-spinners {
  -moz-appearance:textfield;
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

INPUT.no-style {
  border: 0px transparent solid;
  outline: none;
}

SELECT option.font-italic {
  font-style: italic !important;
}

::-webkit-input-placeholder {
  font-style: italic !important;
}

:-ms-input-placeholder {
  font-style: italic !important;
}

::placeholder {
  font-style: italic !important;
}

.csd-required:before {
  content: '*';
  color: red;
  padding-right: 5px;
}

.csd-disabled {
  color: #BBB !important;
  cursor: no-drop !important;
}

.csd-desc-sect {
    border: solid 2px #a9f5bc;
    background-color: #ddd;
    margin-bottom: 5px;
    padding: 3px 3px 3px 3px;
    font-size: x-small;
}

.csd-disclaimer {
    margin-top: 3px;
    font-size: xx-small !important;
    color: #333;
    display: none;
}

.csd-rounded:disabled {
  color: #888;
  border: solid 2px #888;
}

.csd-popover {
  width: 250px;
  text-align: center;
  background-color: #DDD;
}

.csd-rounded {
  padding: 5px 8px;
  border: solid 2px #a9f5bc;
    -webkit-border-top-left-radius: .5em !important;
    -webkit-border-bottom-left-radius: .5em !important;
    -moz-border-radius-topleft: .5em !important;
    -moz-border-radius-bottomleft: .5em !important;
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
    -webkit-border-top-right-radius: .5em !important;
    -webkit-border-bottom-right-radius: .5em !important;
    -moz-border-radius-topright: .5em !important;
    -moz-border-radius-bottomright: .5em !important;
    border-top-right-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}

.csd-rounded-corners {
    -webkit-border-top-left-radius: .5em !important;
    -webkit-border-bottom-left-radius: .5em !important;
    -moz-border-radius-topleft: .5em !important;
    -moz-border-radius-bottomleft: .5em !important;
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
    -webkit-border-top-right-radius: .5em !important;
    -webkit-border-bottom-right-radius: .5em !important;
    -moz-border-radius-topright: .5em !important;
    -moz-border-radius-bottomright: .5em !important;
    border-top-right-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}



.game-term {
  font-style: italic;
  font-weight: bold;
}

.game-skill {
  font-family: "Verdana !important";
  font-style: italic !important;
}
.game-stat {
    font-family: "Agency FB";
    font-weight: bold;
    font-size: larger;
}

.dropdown-item.csd-dropdown-item {
  padding-left: 0px;
  padding-right:0px;
}

.csd-lifepath-sect {
  padding: 5px 5px;
}
.csdDatafortPopover {z-index: 2000;background-color:#333;color:#EEE;}
.csdDatafortPopover DIV.csdDatafortInfo {color:#EEE;}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}


@media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

.csd-card-img {position:relative; float:right;}
.csd-card-img i {font-size:xx-small;display:block;max-width:95px;}
.csd-card-holder {display:block;min-height: 130px;}

.chargen-label, .cp2020-label {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
}

.chargen-full {
  width: 100%;
}

.chargen-input {
  margin-left: 5px;
}

.chargen-section, .cp2020-section { margin-top: 5px;}

.csd-linebreak {
  page-break-before: always !important;
  overflow:hidden !important;
}

.show-print {
  display: none;
}

.bg-black {
  background-color: black;
}

@-moz-document url-prefix() {
@media print {
  .print-fix {
    display: block !important;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }

  .col-md-3 {
    width: 25%;
    float: left;
  }
	.col-8 .page-break	{
    width: 100%;
    display: block !important;
    page-break-after: always !important;
    float: none;
  }
}
}

@media print {

  .csd-icon-btn {
    display: none !important;
  }


  .show-print {
    display: block;
  }

  .container {
    width: 100% !important;
    max-width: 90% !important;
    margin-left: 50px !important;
    margin-right: 100px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  input, textarea, select {
    border: none !important;
    background-color: white !important;
  }

  select {
    appearance: none;
  }

  .chargen-skills {
    font-size: 9pt !important;
  }

  .chargen-skill-input {
    height: 16px !important;
    font-size: 9pt !important;
  }

  .hidden-print {
   display: none !important;
  }


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .visible-xs {
    display: none !important;
  }
  .hidden-xs {
    display: block !important;
  }
  table.hidden-xs {
    display: table;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
  .hidden-xs.hidden-print {
    display: none !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  div.col-1.csd-print,
  div.col-2.csd-print,
  div.col-3.csd-print,
  div.col-4.csd-print,
  div.col-5.csd-print,
  div.col-6.csd-print,
  div.col-7.csd-print,
  div.col-8.csd-print,
  div.col-9.csd-print,
  div.col-10.csd-print,
  div.col-11.csd-print,
  div.col.csd-print  {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    float: none !important;
    right: 0 !important;
    left: 0 !important;
    flex: 0 0 100% !important;
  }
  div.csd-linebreak::parent {
    float: none !important;
   }
}

input.csd-hide-spinner::-webkit-outer-spin-button,
input.csd-hide-spinner::-webkit-inner-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
}

input.csd-hide-spinner[type=number] {
  -moz-appearance:textfield;
}

input, select, textarea {
  cursor: pointer;
  background-color: #EEE;
  -webkit-border-top-left-radius: .3em !important;
  -webkit-border-bottom-left-radius: .3em !important;
  -moz-border-radius-topleft: .3em !important;
  -moz-border-radius-bottomleft: .3em !important;
  border-top-left-radius: 0.3em !important;
  border-bottom-left-radius: 0.3em !important;
  -webkit-border-top-right-radius: .3em !important;
  -webkit-border-bottom-right-radius: .3em !important;
  -moz-border-radius-topright: .3em !important;
  -moz-border-radius-bottomright: .3em !important;
  border-top-right-radius: 0.3em !important;
  border-bottom-right-radius: 0.3em !important;
}


.navbar .mega-dropdown .dropdown-menu.mega-menu {
  width: 100%;
  border: 0;
  border-radius: 0;;
}

div svg circle.neticon:hover {
  fill: red !important;
  background-color: red;
}
