<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="row">
      <div class="col-2 px-0 text-center">
        <img alt="Action token {{action.type}}" *ngFor="let action of unit?.actionTokens;index as actionIndex"
          class="w-100 csd-btn"
          src="img/cz/{{action.isRed ? 'r' : action.type}}_{{action?.isUsed ? 'deactive': 'active'}}.png"
          (click)="toggleToken(actionIndex)">
        <br>
        <div dropdown class="btn-group">
          <button id="btn-action-token" dropdownToggle type="button"
            class="csd-btn float-end otherTokens px-3 text-xlarge w-90 dropdown-toggle" title="Add Action token."
            aria-controls="dropdown-action-tokens">
            <fa-icon [icon]="faPlus" />
          </button>
          <ul class="dropdown-menu ms-3" style="width:100px !important;left:20px;" id="dropdown-action-tokens"
            *dropdownMenu role="menu" aria-labelledby="btn-action-token">
            <li role="menuitem"><img alt="Action token Red" class="w-50 csd-btn" src="img/cz/r_active.png"
                (click)="addAction('r')"></li>
            <li role="menuitem"><img alt="Action token Red" class="w-50 csd-btn" src="img/cz/y_active.png"
                (click)="addAction('y')"></li>
            <li role="menuitem"><img alt="Action token Red" class="w-50 csd-btn" src="img/cz/g_active.png"
                (click)="addAction('g')"></li>
          </ul>
        </div>
        <br>
        <button *ngIf="hasExtraActions" type="button"
            class="csd-btn otherTokens px-3 text-xlarge w-90" title="Remove the lastAction token." (click)=" removeAction()">
            <fa-icon [icon]="faMinus" />
          </button>
      </div>

      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <img alt="Unit card for {{unit?.name}}" *ngIf="!unit.isDead; else unitDead" class="w-100 rounded"
              src="img/cz/units/{{unit?.name?.replaceAll(' ', '_')}}_{{unit.cred}}.jpg">
            <ng-template #unitDead>
              <img src="img/cz/death_icon.png" class="w-100" title="Dead">
            </ng-template>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-8 p-0 text-center border border-secondary rounded">
            <button class="csd-btn float-start otherTokens px-2 text-xlarge" (click)="toggleHacked(1)"
              title="Add Hack token.">
              <fa-icon [icon]="faPlus" />
            </button>
            <div class="d-inline-block position-relative text-center hackToken">
              <img class="otherTokens" src="img/cz/hacked_{{unit.isHacked ? 'dis' : 'en'}}able.png" title="hacked">
              <span class="hackValue">{{unit.hacks}}</span>
            </div>
            <button class="csd-btn float-end otherTokens px-2 text-xlarge" title="Remove Hack token."
              (click)="toggleHacked(-1)">
              <fa-icon [icon]="faMinus" />
            </button>
          </div>
          <div class="col-4 text-center p-0">
            <button type="button" [title]="unit.isVulnerable ? 'Remove vulnerable': 'Add vulnerable'" class="csd-btn w-100" (click)="toggleVulnerable()">
            <img [alt]="unit.isVulnerable ? 'Vulnerable': 'Active'" class="otherTokens" src="img/cz/status_{{unit.isVulnerable ? 'vulnerable': 'active'}}.png"
              [title]="unit.isVulnerable ? 'Remove vulnerable': 'Add vulnerable'">
            </button>
          </div>
        </div>
      </div>
      <div class="col-2 px-0 text-center">
        <ng-container *ngIf="!unit.isGonk">
          <img alt="Action token" *ngFor="let action of unit?.actionTokens;index as actionIndex" class="w-90 csd-btn"
            src="img/cz/{{action?.isRed ? 'heal_icon' : 'wound_icon'}}.png"
            [title]="action?.isRed ? 'Heal this action': 'Take a wound on this action'"
            (click)="toggleWound(actionIndex)">
        </ng-container>
        <img *ngIf="unit.isRedLined || unit.isGonk" src="img/cz/{{unit.isDead ? 'resurrect' : 'death'}}_icon.png"
          class="w-90 csd-btn" title="Kill this unit" (click)="toggleKill()">
      </div>

    </div>

  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <tabset *ngIf="!unit.isGonk" type="pills" [justified]="true">
      <tab class="text-center" customClass="customClass">
        <ng-template tabHeading class="text-center">
          <fa-icon [icon]="faToolbox" title="Gear Tab" size="xl"/>
          <span class="text-xsmall">{{unit.gearTotalCost}}eb</span>
        </ng-template>
        <button title="Show gear list" class="csd-btn text-center p-0 w-100 border border-secondary rounded"
          (click)="showModal(gearList)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <div *ngFor="let gear of unit?.gearCards;index as gearIndex"
          [ngClass]="{'float-start d-inline-block me-3 my-0 p-0 rounded position-relative align-top':true}">
          <cs-cr-cz-gear-card [gear]="gear" [unitKeywords]="unit?.keywords" [gearIndex]="gearIndex"
            [totalStreetcred]="totalStreetcred" [count]="getSquadGearCount(gear.name)"
            (remove)="removeGear($event)"></cs-cr-cz-gear-card>
        </div>
      </tab>
      <tab customClass="customClass" *ngIf="unit?.isNetrunner">
        <ng-template tabHeading>
          <fa-icon [icon]="faLaptopCode" title="Programs Tab" size="xl"/>
          <span class="text-xsmall">{{unit.programTotalCost}}eb</span>
        </ng-template>
        <button title="Show program list." class="csd-btn text-center p-0 w-100 border border-secondary rounded"
          (click)="showModal(programList)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <div class="row" *ngFor="let program of unit?.programs;index as programIndex">
          <div class="col-11 text-capitalize">
            <div class="row">
              <div class="col-6">
                <img alt="{{program.name}} load card" class="w-100 p-0"
                  src="img/cz/programs/{{program.name.replace(' ', '_')}}_l.jpg">
              </div>
              <div class="col-6">
                <img alt="{{program.name}} load card" class="w-100 p-0"
                  src="img/cz/programs/{{program.name.replace(' ', '_')}}_r.jpg">
              </div>
            </div>
          </div>
          <div class="col-1">
            <button title="Remove program." class="csd-btn border border-secondary p-1 align-top rounded"
              (click)="removeProgram(programIndex)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>
      </tab>
      <tab customClass="customClass">
        <ng-template tabHeading>
          <fa-icon [icon]="faFileLines" title="Notes Tab" size="xl"/>
        </ng-template>
        <div>
          <textarea title="Notes" [(ngModel)]="unit.notes" class="w-100" rows="25" (change)="updateNotes()" (keyup)="updateNotes()"></textarea>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<ng-template #gearList>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gear Listing</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <cs-cr-cz-gear-list [filterFaction]="unit.keywords[0]" [unitKeywords]="unit.keywords"
      [totalStreetcred]="totalStreetcred" [existingGear]="unitGearList" [characterGear]="characterGearList"
      (addGear)="addGeaItem($event)">
    </cs-cr-cz-gear-list>
  </div>
</ng-template>


<ng-template #programList>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Program Listing</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <cs-cr-cz-program-list [filterFaction]="unit.faction" (add)="addProgram($event)"></cs-cr-cz-program-list>
  </div>
</ng-template>
