::ng-deep .customClass {
  margin-top: 5px;
}

::ng-deep .customClass > a {
  background-color:#888 !important;
  border: black 1px solid !important;
  outline: 1 !important;
  color: black !important;
  margin-right: 5px !important;
}

::ng-deep .customClass > a:hover {
  background-color:silver !important;
  color: black !important;
  font-weight: bold !important;
  font-size: larger  !important;
}


::ng-deep .customClass > a.active {
  background-color:white !important;
  color: black !important;
  font-weight: bold !important;
  font-size: larger  !important;
}

::ng-deep .customClass > a > button{
  display: none;
}

.otherTokens {
  height: 80px;
}

.hackValue {
  position:absolute;
  left: 33%;
  margin-top: 14px;
  font-size: 30px;
  color:red;
  font-weight: bold;
  padding: 3px;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;

}


