<div class='row'>
  <div class='col-12'>
    <h5>
      COMBAT MODIFIERS
    </h5>
  </div>
</div>
<div class="row">
  <div class="col-12">Weapons</div>
</div>
<cs-cmbt-trck-mod-wpn *ngFor="let w of opponent.weapons"
  [weapon]="w"
  [rangeToTarget]="rangeToTarget"
  [REF]="opponent.stats.REF"
  [skills]="getSkill(w.type)"
  [modifiers]="opponent.modifiers"
   ></cs-cmbt-trck-mod-wpn>
<br>
<div class="row">
  <div class="col-12">
    TARGET MODIFIERS ({{opponent.modifiers.targetTotals}})&nbsp;&nbsp;
    Range to Target <input [(ngModel)]="rangeToTarget" type="number" min="0" class="opp-mod-range">m
  </div>
</div>
<div class='row'>
  <div *ngFor="let m of opponent.modifiers.target" class="col-12 col-lg-6 opp-mod-text"><input [(ngModel)]="m.selected"
      type="checkbox"> {{m.name}} ({{(m.mod > 0)?'+'+m.mod:m.mod}})</div>
</div>
<br>
<div class="row">
  <div class="col-12">
    ATTACKER MODIFIERS ({{opponent.modifiers.attackerTotals}})
  </div>
</div>
<div class='row'>
  <div *ngFor="let m of opponent.modifiers.attacker" class="col-12 col-lg-6 opp-mod-text"><input
      [(ngModel)]="m.selected" type="checkbox"> - {{m.name}} ({{(m.mod > 0)?'+'+m.mod:m.mod}})</div>
</div>
<br>
