<div>
  <accordion #accordion>
    <accordion-group heading="" *ngFor="let grp of weapons; let i = index">
        <div accordion-heading>
          <h3 style="display:inline-block">{{grp.name}}</h3>
          <fa-icon [icon]="accordion.groups[i].isOpen?faAngleDoubleDown:faAngleDoubleRight" size="2x"></fa-icon>
        </div>
        <div class="row">
          <cs-weaponcard [wpn]="weapon" *ngFor="let weapon of grp.guns" class="col-12 col-md-6 col-lg-4 col-xl-3"></cs-weaponcard>
        </div>
    </accordion-group>
  </accordion>
</div>
