.csdDatafort {
    position: relative;
    z-index: 310;
    font-size: 10px;
}

.csdDatafortText {
  z-index: 10;
}

.csdDatafortText.leftText {
  top: 0px; right: 23px;
}

.csdDatafortText.rightText {
  top: 0px; left: 23px;
}

.csdDatafortIcon { z-index: 110;}
.csdDatafortIcon.city {height: 20px}
.csdDatafortIcon.df_pvt { width: 41px; margin: 2px 2px; }
.csdDatafortIcon.df_bbs { width: 41px; margin: 2px 2px; }
.csdDatafortIcon.df_pbc { width: 41px; margin: 2px 2px; }
.csdDatafortIcon.df_ldl { height: 41px; margin: 2px 7px; }
.csdDatafortIcon.df_lv1 { width: 41px; margin: 2px 2px; }
.csdDatafortIcon.df_lv2 { width: 41px; margin: 2px 2px; }
.csdDatafortIcon.df_lv3 { height: 41px; margin: 2px 11px; }
.csdDatafortIcon.df_blk { width: 41px; margin: 2px 2px; }
.csdDatafortIcon.stat { height: 35px; margin: 2px 2px; }
.csdDatafortIcon.geo { height: 35px; margin: 2px 2px; }
.csdDatafortIcon.lunar { height: 35px; margin: 2px 2px; }
:host {position: absolute; z-index: 300;}
:host >>> .csdDatafortTooltip {width: 300px;}
:host >>> div.tooltip-inner { max-width: 300px;}
.csd-nrNavBtn { margin-top: 8px; margin-bottom: 8px;}


.csd-close {display:inline-block; float:right;
  background-color:#BBB;color:#333;
  height: 20px; width: 20px; border-radius: 15px;
  font-size:10px; cursor: pointer;
}
.csd-close.csd-rounded {padding: 0px 5px;
}
.csd-fort-name {display:inline-block;}
