@if(builder$ | async; as czArmy) {
<div class="crcz-main-form">
  <div class="row">
    <div class="col-9 p-1">
      <div class="btn-group w-90 d-inline-block" dropdown>
        <button id="button-basic" dropdownToggle type="button"
          class="w-100 csd-btn p-1 dropdown-toggle border border-secondary text-start rounded"
          aria-controls="dropdown-basic" (click)="showAdd = false">
          @if(selectedSquadFaction !== '') {
          <img class="csd-img-icon" src="img/cz/icon_{{ selectedSquadFaction?.replace(' ', '_') }}.png" />
          }
          {{ selectedSquadName }}
          <div class="caret float-end d-inline-block"></div>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu w-100" role="menu" aria-labelledby="button-basic">
          @for(squad of czArmy; track $index; let squadIndex = $index){
          <li role="menuitem" [ngClass]="{'csd-btn text-capitalize':true}"
            (click)="selectSquad(squad.faction, squad.name, squadIndex)">
            @if(squad.faction !== '') {
            <img class="csd-img-icon" src="img/cz/icon_{{ squad.faction.replace(' ', '_') }}.png" />
            }
            {{ squad.name }}
          </li>
          } @empty {
          <li role="menuitem" class="csd-btn text-capitalize" (click)="showAdd = true">
            + Create a new Team...
          </li>

          }
        </ul>
      </div>
    </div>
    <div class="col-1 pt-1 px-0">
      <button class="ftw-bold csd-btn p-1 text-center" (click)="showAdd = true">
        <fa-icon [icon]="faPlus" size="xl"></fa-icon>
      </button>
    </div>
    <div class="col-1 pt-1 px-0 text-center">
      <button class="ftw-bold csd-btn text-center p-1" [disabled]="!(czArmy.length > 0)" (click)="saveArmy()">
        <fa-icon [icon]="faSave" size="xl"></fa-icon>
      </button>
    </div>
    <div class="col-1 pt-1 px-0 text-center">
      <input type="file" id="loadFile" title="Load a CR: Combat Zone Teams json file" name="Load" class="me-2 d-none"
        (change)="loadArmy($event)" #inputFile (click)="inputFile.value = null" accept="text/plain;text/json" />
      <label for="loadFile" class="float-start btn-lg csd-btn me-3">
        <fa-icon [icon]="faUpload" title="Load a CR: Combat Zone Teams json file" size="xl"></fa-icon>
      </label>
    </div>
  </div>

  @if(showAdd) {
  <div class="border border-secondary p-1 rounded">
    <div class="row">
      <div class="col-11 ps-0">
        @if(newSquadName === '' || newSquadName == null) {
        <span class="csd-required w-10"> </span>
        }
        <input class="w-70 p-1 d-inline-block" [(ngModel)]="newSquadName" type="text" title="Enter team name to create"
          required placeholder="Enter new army name..." />
      </div>
      <div class="col-1 pe-4">
        <button class="float-end d-inline-block w-10" title="Close New Team form" (click)="showAdd = false">
          <fa-icon [icon]="faTimes" size="xl"></fa-icon>
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        Choose a Faction:
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <cs-cr-cz-faction-selector [selectedFaction]="newSquadFaction" [hiddenFactions]="['', 'universal']"
          (selected)="selectFaction($event)"></cs-cr-cz-faction-selector>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <button [ngClass]="{
            'csd-btn rounded border border-secondary p-2': true,
            'csd-disabled': newSquadFaction === '' || newSquadName == ''
          }"
          [title]="newSquadFaction === '' || newSquadName == '' ?  'Enter team name before adding team.' : 'Click to add team to army list.' "
          [disabled]="newSquadFaction === '' || newSquadName == ''" (click)="addSquad(czArmy.length)" tabindex="0">
          ADD TEAM
        </button>
      </div>
    </div>
  </div>
  }

  @if(!showAdd && selectedSquadIndex > -1) {
  <div class="row">
    <div class="col-12">
      <cs-cr-cz-squad-form [squadIndex]="selectedSquadIndex" (delete)="removeSquad($event)"></cs-cr-cz-squad-form>
    </div>
  </div>
  }
</div>
}
