<div class="chargen-section">
  <table>
    <tr>
      <td class="chargen-label chargen-armor-label">Location</td>
      <td class="chargen-armor-space"></td>
      <td class="chargen-armor-cell">Head<br>1</td>
      <td class="chargen-armor-cell">Torso<br>2-4</td>
      <td class="chargen-armor-cell">R.Arm<br>5</td>
      <td class="chargen-armor-cell">L.Arm<br>6</td>
      <td class="chargen-armor-cell">R.Leg<br>7-8</td>
      <td class="chargen-armor-cell">L.Leg<br>9-0</td>
      <td class="chargen-armor-cell">EV</td>
    </tr>
    <tr>
      <td class="chargen-label chargen-armor-label">Armor SP</td>
      <td class="chargen-armor-space"></td>
      <td class="chargen-armor-cell">{{armor.headSP}}</td>
      <td class="chargen-armor-cell">{{armor.torsoSP}}</td>
      <td class="chargen-armor-cell">{{armor.rArmSP}}</td>
      <td class="chargen-armor-cell">{{armor.lArmSP}}</td>
      <td class="chargen-armor-cell">{{armor.rLegSP}}</td>
      <td class="chargen-armor-cell">{{armor.lLegSP}}</td>
      <td class="chargen-armor-cell">+{{armor.ev}}</td>
    </tr>
  </table>
  <button class="btn btn-sm btn-secondary csd-rounded hidden-print" (click)="openModal(armorModal)">Manage Armor</button>
</div>
<ng-template #armorModal>
    <div class="modal-header">
      <h4 id="armor-modal-name" class="modal-title pull-left">Armor Manager</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">
      <div class="row">
        <div class="col-4">Name</div>
        <div class="col-1">Head</div>
        <div class="col-1">Torso</div>
        <div class="col-1">R Arm</div>
        <div class="col-1">L Arm</div>
        <div class="col-1">R Leg</div>
        <div class="col-1">L Leg</div>
        <div class="col-2">EV</div>
      </div>
      <div *ngFor="let a of armor.layers;let i = index" class="row">
        <div class="col-4">
          <input type="checkbox" [(ngModel)]="a.isActive"
            title="Activate the layer. May not activate if 3 layer rule or if doubling up on hard armor for the layer."
            (click)="changeActive(i)">
          {{a.name}} ({{a.isHard? 'Hard':'Soft'}})
        </div>
        <div class="col-1">{{a.head}}</div>
        <div class="col-1">{{a.torso}}</div>
        <div class="col-1">{{a.rarm}}</div>
        <div class="col-1">{{a.larm}}</div>
        <div class="col-1">{{a.rleg}}</div>
        <div class="col-1">{{a.lleg}}</div>
        <div class="col-2">{{a.ev}}&nbsp;&nbsp;&nbsp;&nbsp;
          <fa-icon [icon]="faTrash" class="csd-btn" title="Delete item" (click)="removeLayer(i)"></fa-icon>
        </div>
      </div>
      <br>
      <br>
      <div class="row csd-rounded">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <fa-icon [ngClass]="{'csd-btn':true,'csd-disabled':addDisable}" [icon]="faPlus" (click)="addLayer()" title="Add new layer"></fa-icon>&nbsp;
              Name<br><input [(ngModel)]="newLayer.name" type="text">
            </div>
            <div class="col-1">Head<br><input [(ngModel)]="newLayer.head" type="number" min="0"></div>
            <div class="col-1">Torso<br><input [(ngModel)]="newLayer.torso" type="number" min="0"></div>
            <div class="col-1">RArm<br><input [(ngModel)]="newLayer.rarm" type="number" min="0"></div>
            <div class="col-1">LArm<br><input [(ngModel)]="newLayer.larm" type="number" min="0"></div>
            <div class="col-1">RLeg<br><input [(ngModel)]="newLayer.rleg" type="number" min="0"></div>
            <div class="col-1">LLeg<br><input [(ngModel)]="newLayer.lleg" type="number" min="0"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-2">EV <input [(ngModel)]="newLayer.ev" type="number" min="0"></div>
            <div class="col-2">Is Hard Armor <input [(ngModel)]="newLayer.isHard" type="checkbox"></div>
            <div class="col-2">Is Skinweave <input [(ngModel)]="newLayer.isSkinWeave" type="checkbox"></div>
          </div>
        </div>
      </div>
  </div>
</ng-template>
