.chargen-armor-cell input {
  width: 55px;
  height:45px;
  text-align: center;
}


.chargen-armor-label {
  border-right: 2px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 100px;
  height: 45px;
  font-style: italic;
  margin-bottom: 2px;
  margin-right: 4px;
  vertical-align: middle;
}

.chargen-armor-cell {
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  height: 45px;
  width: 60px;
}
