<button #cp2020StatElem title="{{statName}}: {{stat.toString()}}"
  (click)="openModal(statModifiers)"
  tabindex="0"
  [ngClass]="{'d-inline-block me-2': true, 'text-danger': isWounded, 'csd-btn': true, 'stat-values':true, 'rounded':true}">
{{statName}} <span class="d-inline-block">[{{stat.Base}}/{{stat.Adjusted}}]</span>
</button>

<ng-template #statModifiers>
  <div class="modal-header">
    <h4 class="modal-title float-start">{{statName}} Modifiers</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">
    </button>
  </div>
  <div class="modal-body">
    <cs-cp2020-stat-editor [stat]="stat" [statName]="statName" (changeStat)="onStatChange($event)"></cs-cp2020-stat-editor>
  </div>
</ng-template>
