<div title="{{statName}}: {{stat.toString()}}"
  (click)="openModal(statModifiers)"
  [ngClass]="{'d-inline-block': true, 'text-danger': isWounded, 'csd-btn': true, 'stat-values':true, 'rounded':true}">
{{statName}} <span class="d-inline-block">[{{stat.Base}}/{{stat.Adjusted}}]</span>&nbsp;&nbsp;
</div>

<ng-template #statModifiers>
  <div class="modal-header">
    <h4 class="modal-title float-start">{{statName}} Modifiers</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()">
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col text-end">Base:</div>
      <div class="col"><input type="number" [(ngModel)]="stat.Base" class="stat-input" (change)="onStatChange()"></div>
    </div>
    <div class="row" *ngIf="stat.ev !== 0">
      <div class="col text-end">EV:</div>
      <div class="col">-{{stat.ev}}</div>
    </div>
    <div class="row" *ngFor="let mod of stat.modifiers; let i = index">
      <div class="col text-end">{{mod.name}}</div>
      <div class="col">{{mod.mod}}&nbsp;&nbsp;<fa-icon [icon]="faTrash" class="csd-btn" (click)="deleteModifier(i)"></fa-icon></div>
    </div>
    <div class="row" *ngIf="stat.WoundModifier !== 0">
      <div class="col text-end">Wound:</div>
      <div class="col">{{stat.WoundModifier}}</div>
    </div>
    <div class="row" *ngIf="stat.Multiplier !== 1">
      <div class="col text-end">Wound:</div>
      <div class="col">x {{stat.Multiplier}}</div>
    </div>

    <div class="row">
      <div class="col">
        <fa-icon [icon]="faPlus" class="csd-btn" (click)="addModifier()" ></fa-icon>&nbsp;
        <input type="text" [(ngModel)]="newStatModifier.name" placeholder="enter name">
      </div>
      <div class="col">
        <input type="number" [(ngModel)]="newStatModifier.mod" class="stat-input">
      </div>
    </div>
    <div class="row">
      <div class="col text-end">Total: </div>
      <div class="col">{{stat.Adjusted}}</div>
    </div>
  </div>
</ng-template>
