<div class="row">
  <div class="col-6 col-md-4 ">
    <div class="row">
      <div class="col-6">
        <div class="chargen-save">
          <div class="chargen-save-title">SAVE</div>
          <div [ngClass]="{'chargen-save-text':true, 'chargen-damaged': (stats.Damage > 4)}">
            STUN: {{stats.Save}}
            <fa-icon [icon]="faDice" (click)="rollStunSave(chargenStunSaveRoll)" title="Click to Roll"></fa-icon>
          </div>
          <div [ngClass]="{'chargen-save-text':true, 'chargen-damaged': (stats.Damage > 12)}">
            DEATH: {{stats.DeathSave}}
            <fa-icon [icon]="faDice" (click)="rollDeathSave(chargenDeathSaveRoll)" title="Click to Roll"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="chargen-save">
          <div class="chargen-save-title">BTM</div>
          <div>{{stats.BTM}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <table>
      <tr>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'LIGHT'" [stunSaveMod]="0" [damage]="stats.Damage"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'SERIOUS'" [stunSaveMod]="-1" [damage]="stats.Damage - 4"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'CRITICAL'" [stunSaveMod]="-2" [damage]="stats.Damage - 8"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 0'" [stunSaveMod]="-3" [damage]="stats.Damage - 12"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 1'" [stunSaveMod]="-4" [damage]="stats.Damage - 16"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
      </tr>
      <tr>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 2'" [stunSaveMod]="-5" [damage]="stats.Damage - 20"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 3'" [stunSaveMod]="-6" [damage]="stats.Damage - 24"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 4'" [stunSaveMod]="-7" [damage]="stats.Damage - 28"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 5'" [stunSaveMod]="-8" [damage]="stats.Damage - 32"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
        <td class="chargen-wound-cell">
          <cs-cp2020-wound-level [title]="'MORTAL 6'" [stunSaveMod]="-9" [damage]="stats.Damage - 36"
            (changeDamage)="onChangeDamage($event)"></cs-cp2020-wound-level>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <span *ngIf="stats.isStunned" class="chargen-damaged">*STUNNED*&nbsp;&nbsp;</span>
    <span *ngIf="stats.deathState > 0" class="small chargen-damaged">DEATH STATE: <input type="number" [(ngModel)]="stats.deathState"
        min="0" max="10" class="chargen-death-state"></span>
  </div>
</div>
<ng-template #chargenStunSaveRoll>
  <div class="modal-header">
    <h4 class="modal-title pull-left">STUN SAVE ROLL</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>Roll: {{stunSaveRoll}} - {{stunMessage}}</div>
  </div>
</ng-template>
<ng-template #chargenDeathSaveRoll>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DEATH SAVE ROLL</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>Roll: {{deathSaveRoll}} - {{deathMessage}}</div>
  </div>
</ng-template>
