.chargen-save {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  width: 70px;
  height: 90px;
}

.chargen-save input {
  width: 55px;
  height: 55px;
  text-align: center;
}

.chargen-save-title {
  font-weight: bold;
  font-style: italic;
}

.chargen-btm-bdm {
  font-size: smaller;
}

.chargen-wound-cell {
  border: none;
  padding: 0;
  width: 60px;
}

.chargen-wound-title {
  font-style: italic;
  display: block;
  font-size: 10px;
  height: 12px;
  padding: 0px 0px;
  margin: 0px 0px;
}

.chargen-wound-boxes {
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  height: 16px;
  line-height: 14px;
}

.chargen-wound-boxes input {
  display: inline;
  padding: 0px 0px;
  margin: 0px 0px;
}

.chargen-wound-stun {
  display: block;
  color: white;
  background-color: black;
  font-style: italic;
  font-size: 8px;
  text-align: center;
  margin: 0px 0px;
  padding: 2px 3px;
}


.chargen-save-text {
  font-size: 12px;
  cursor: default;
}

.chargen-save-text:hover {
  background-color: #bbb;
}

.chargen-save-text .ng-fa-icon {
  display: none;
  cursor: pointer;
  margin-left:3px;
  color: red;
  font-size: 20px;
}

.chargen-save-text:hover .ng-fa-icon {
  display: inline-block;
}

.chargen-damaged {
  color: red;
  font-weight: bold;
}

.chargen-death-state {
  width: 40px;
  text-align: center;
}
