<div class="container">
  <h2>IN THE MEDIA</h2>
<div>Listing/reviews/synopsis of all things to inspire your cyberpunk game.</div>
<ngx-masonry>
  <div ngxMasonryItem class="masonry-item">
    <div class="card-block m-1">
      <h4 class="card-title">BOOKS</h4>
      <div class="card-text csd-rounded csd-box">
        <div *ngFor="let n of books">
            <strong [innerHTML]="n.title"></strong> - <span [innerHTML]="n.description"></span>
        </div>
      </div>
    </div>
  </div>
  <div ngxMasonryItem class="masonry-item">
    <div class="card-block m-1">
      <h4 class="card-title">MOVIES</h4>
      <div class="card-text csd-rounded csd-box">
        <div *ngFor="let n of movies">
          <strong [innerHTML]="n.title"></strong> - <span [innerHTML]="n.description"></span>
          </div>
      </div>
    </div>
  </div>
  <div ngxMasonryItem class="masonry-item">
    <div class="card-block m-1">
      <h4 class="card-title">Anime/Manga</h4>
      <div class="card-text csd-rounded csd-box">
        <div *ngFor="let n of anime">
            <strong [innerHTML]="n.title"></strong> - <span [innerHTML]="n.description"></span>
          </div>
      </div>
    </div>
  </div>
  <div ngxMasonryItem class="masonry-item">
    <div class="card-block m-1">
      <h4 class="card-title">TV/Web Series</h4>
      <div class="card-text csd-rounded csd-box">
        <div *ngFor="let n of series">
            <strong [innerHTML]="n.title"></strong> - <span [innerHTML]="n.description"></span>
          </div>
      </div>
    </div>
  </div>
</ngx-masonry>
<div>
Here's <a href="http://en.wikipedia.org/wiki/List_of_cyberpunk_works#Print_media">Wikipedia's list</a>. I would disagree on some of their selection (Caprica isn't cyberpunk, it is space opera with cp elements).
</div>
</div>
