.cmbt-modifiers {
  font-size: 14px;
}

.cmbt-section {
  font-size: 13px;
}

.cmbt-other input {
  width: 50px;
  text-align: right;
}

.cmbt-calculator .row {
  padding-bottom: 3px;
}

.wpn-shot {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  height: 12px;
  width: 12px;
  padding: 0px 0px;
  line-height: 8px;
  text-align: center;
  vertical-align: top;
  margin-top: 3px;
}
