<div class="opp-sp">
<div class="row">
  <div class="col-2 opp-sp-hdr">Location</div>
  <div class="col-1 opp-sp-input">Head<br>1</div>
  <div class="col-1 opp-sp-input">Torso<br>2-4</div>
  <div class="col-1 opp-sp-input">R Arm<br>5</div>
  <div class="col-1 opp-sp-input">L Arm<br>6</div>
  <div class="col-1 opp-sp-input">R Leg<br>7-8</div>
  <div class="col-1 opp-sp-input">L Leg<br>9-10</div>
  <div class="col-1 opp-sp-input">EV</div>
</div>
<div class="row">
  <div class="col-2 opp-sp-hdr">SP</div>
  <div class="col-1 opp-sp-input">{{armor.headSP}}</div>
  <div class="col-1 opp-sp-input">{{armor.torsoSP}}</div>
  <div class="col-1 opp-sp-input">{{armor.rArmSP}}</div>
  <div class="col-1 opp-sp-input">{{armor.lArmSP}}</div>
  <div class="col-1 opp-sp-input">{{armor.rLegSP}}</div>
  <div class="col-1 opp-sp-input">{{armor.lLegSP}}</div>
  <div class="col-1 opp-sp-input">+{{armor.ev}}</div>
  <div class="col-3"></div>
</div>
</div>
