<div class="opp-sp">
<div class="row">
  <div class="col-2 opp-sp-hdr">Location</div>
  <div class="col-1 opp-sp-input">Head<br>1</div>
  <div class="col-1 opp-sp-input">Torso<br>2-4</div>
  <div class="col-1 opp-sp-input">R Arm<br>5</div>
  <div class="col-1 opp-sp-input">L Arm<br>6</div>
  <div class="col-1 opp-sp-input">R Leg<br>7-8</div>
  <div class="col-1 opp-sp-input">L Leg<br>9-10</div>
  <div class="col-1 opp-sp-input">EV</div>
</div>
<div class="row">
  <div class="col-2 opp-sp-hdr">SP</div>
  <div class="col-1 opp-sp-input" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'head'">{{armor.headSP}}</div>
  <div class="col-1 opp-sp-input" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'torso'">{{armor.torsoSP}}</div>
  <div class="col-1 opp-sp-input" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'rarm'">{{armor.rArmSP}}</div>
  <div class="col-1 opp-sp-input" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'larm'">{{armor.lArmSP}}</div>
  <div class="col-1 opp-sp-input" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'rleg'">{{armor.rLegSP}}</div>
  <div class="col-1 opp-sp-input" [popover]="armorDamage" [outsideClick]="true" (click)="selectedLocation = 'lleg'">{{armor.lLegSP}}</div>
  <div class="col-1 opp-sp-input">+{{armor.ev}}</div>
  <div class="col-3"></div>
</div>
</div>

<ng-template #armorDamage>
  <div class="row armor-dmg">
    <div class="col-1"></div>
    <div class="col">SP Damage: <input [(ngModel)]="spDamage" type="number" value="1">
      &nbsp;&nbsp;
      <button class="btn btn-sm btn-secondary csd-rounded" (click)="damage()">Apply</button></div>
    <div class="col-1"></div>
  </div>
</ng-template>
