<div class="container">
  <div class="row">
    <div class="col">{{weapon.name}}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <span *ngIf="skills.length > 1; else elseSkill">
        <select [(ngModel)]="selectedSkill">
          <option *ngFor="let sk of skills" [ngValue]="sk">{{sk.name}}{{sk.option ? ': ' + sk.option : ''}}</option>
        </select>
      </span>
      <ng-template #elseSkill>
        {{selectedSkill.name}}
      </ng-template>:&nbsp;
      <span>{{selectedSkill.value}}</span>&nbsp;
      + REF: {{ref}}&nbsp;
      + WA: {{weapon.wa}}&nbsp;
      = {{selectedSkill.value + ref + weapon.wa}} + <fa-icon [icon]="faDice" class="csd-btn csd-dice"></fa-icon>&nbsp;
      VS. {{weapon.type.toLowerCase() !== 'mel' || weapon.thrown ? totalDiff : 'Opposed Roll'}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2"></div>
        <div class="col">
          Range: <input [(ngModel)]="rangeToTarget" type="range" min="0" max="{{weaponRange > 1 ? weaponRange * 2 : 1}}"
            value="1">&nbsp;
          {{rangeToTarget}}m&nbsp;<br>
          Range DIFF: {{weapon.getRangeBracket(rangeToTarget).diff}}
        </div>
      </div>
      <div class="row" *ngIf="weapon.rof && weapon.rof > 1">
        <div class="col-2"></div>
        <div class="col">Fire:
          <select [(ngModel)]="fireMode">
            <option [ngValue]="2">Single Shot</option>
            <option [ngValue]="1" *ngIf="weapon.rof > 2">3 Round Burst</option>
            <option [ngValue]="3" *ngIf="weapon.rof > 2">Full Auto</option>
            <option [ngValue]="4" *ngIf="weapon.rof > 2">Suppressive Fire</option>
          </select>&nbsp;
          <select *ngIf="fireMode > 1" [(ngModel)]="shotsFired">
            <option [ngValue]="0">0</option>
            <option *ngFor="let shot of [].constructor(fireShots); let i = index" [ngValue]="i + 1">{{i + 1}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">Aimed (turns):&nbsp;
          <select [(ngModel)]="aimedTurns">
            <option [ngValue]="0">0</option>
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
