  <div class="card-block csd-box csd-rounded m-0">
    <h6 class="card-title">{{wpn.name}}</h6>
    <div class="card-text csd-wpn-stats fs-6">
      <span>{{wpn.type}}</span>
      <span>{{wpn.wa}}</span>
      <span>{{wpn.conc}}</span>
      <span>{{wpn.avail}}</span>
      <span>{{wpn.ammo}}({{wpn.damage}})</span>
      <span>{{wpn.shots}}</span>
      <span>{{wpn.rof}}</span>
      <span>{{wpn.rel}}</span>
      <span>{{wpn.cost | number}}</span>
    </div>
    <div>{{wpn.notes}}</div>
  </div>
