<div>
  <h4>Cyberdeck</h4>
  <div class="row">
    <div class="col">
      <input #cyberdeckNameElem type="text" [(ngModel)]="deck.name" placeholder="Enter name of the deck..." title="Name of the cyberdeck"
        class="csd-deck-name">
      <button class="csd-btn csd-icon-btn ms-2" title="Lookup source decks..."
      (click)="showModal(deckListModal, 'search')">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      Type: <select [(ngModel)]="selectedChassis" (change)="changeType()" [compareWith]="compare">
        <option [ngValue]="undefined"></option>
        <option *ngFor="let chassis of deckData.chassis" [ngValue]="chassis"
          [selected]="selectedChassis && selectedChassis.name === chassis.name">{{chassis.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col" title="Calculated cost/source book listed cost">
      Cost(calculated/listed): {{deck.cost|number}}eb/{{deck.bookPrice|number}}eb
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      Speed: <input type="number" [(ngModel)]="deck.speed" min="-5" max="5" class="csd-deck-input"
        (change)="updateDeck()">
    </div>
    <div class="col-4">
      Data Wall: <input type="number" [(ngModel)]="deck.dataWall" min="2" max="10" class="csd-deck-input"
        (change)="updateDeck()">
    </div>
    <div class="col-3">
      MU: {{deck.totalMU}} <input type="checkbox" [(ngModel)]="deck.doubleMu" (change)="updateDeck()"
        title="Double stock size (+10).">
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      Options:
      <button #addOptionElem class="csd-btn csd-icon-btn" title="Add/remove options"
        (click)="showModal(deckOptions, 'option')">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <div *ngFor="let opt of deck.options" tooltip="{{opt.description}}" class="float-start d-inline">
        <span *ngIf="opt.count > 1">{{opt.count}}&nbsp;</span>
        {{opt.name}};&nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <div>Description:</div>
      <textarea [(ngModel)]="deck.description" (change)="updateDeck()" rows="5"></textarea>
    </div>
  </div>
</div>
<ng-template #deckOptions>
  <div class="modal-header">
    <h4 class="modal-title float-start">Deck Options</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="opt-columns">
      <div *ngFor="let opt of deckData.options; let i = index"
        title="{{opt.description}} ~ {{opt.source.book | sourcebook}} pg. {{opt.source.page}}">
        <input #optionCountElem type="number" [(ngModel)]="opt.count" min="0" (change)="checkOption(opt)" class="opt-count">
        {{opt.name}} ({{ opt.cost.toString().includes('*') ? opt.cost : opt.cost | number}} eb)
      </div>
    </div>
  </div>
</ng-template>


<ng-template #deckListModal>
  <div class="modal-header">
    <h4 class="modal-title float-start">Cyberdecks from Cyberpunk 2020 Sources</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <cs-cp2020-cyberdeck-selector (selectCyberdeck)="selectCyberdeck($event)"></cs-cp2020-cyberdeck-selector>
  </div>
</ng-template>
