<div>
  <h4>Cyberdeck</h4>
  <div *ngIf="deckListData$ | async as deckListData" class="row">
    <div class="col">
      <input
        #cyberdeckNameElem
        type="text"
        [(ngModel)]="currDeck.name"
        placeholder="Enter name of the deck..."
        title="Name of the cyberdeck"
        class="csd-deck-name"
        [typeahead]="deckListData"
        typeaheadOptionField="name"
        (typeaheadOnSelect)="selectDeck($event)"
      />
      <button
        class="csd-btn csd-icon-btn ms-2"
        title="Lookup source decks..."
        (click)="showModal(deckListModal, 'search')"
      >
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      Type:
      <select
        [(ngModel)]="selectedChassis"
        (change)="changeType()"
        [compareWith]="compare"
      >
        <option [ngValue]="undefined"></option>
        <option
          *ngFor="let chassis of deckData.chassis"
          [ngValue]="chassis"
          [selected]="selectedChassis && selectedChassis.name === chassis.name"
        >
          {{ chassis.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col" title="Calculated cost/source book listed cost">
      Cost(calculated/listed): {{ currDeck.cost | number }}eb/{{
        currDeck.bookPrice | number
      }}eb
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      Speed:
      <input
        type="number"
        [(ngModel)]="currDeck.speed"
        min="-5"
        max="5"
        class="csd-deck-input"
        (change)="updateDeck()"
      />
    </div>
    <div class="col-4">
      Data Wall:
      <input
        type="number"
        [(ngModel)]="currDeck.dataWall"
        min="2"
        max="10"
        class="csd-deck-input"
        (change)="updateDeck()"
      />
    </div>
    <div class="col-3">
      MU: {{ currDeck.totalMU }}
      <input
        type="checkbox"
        [(ngModel)]="currDeck.doubleMu"
        (change)="updateDeck()"
        title="Double stock size (+10)."
      />
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      Options:
      <button
        #addOptionElem
        class="csd-btn csd-icon-btn"
        title="Add/remove options"
        (click)="showModal(deckOptions, 'option')"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="col-4">Ports: {{ currDeck.currInputs }}/{{ currDeck.maxInputs }}</div>
    <div class="col-4">Output Ports: {{ currDeck.maxOutputs }}</div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <div
        *ngFor="let opt of currDeck.options"
        tooltip="{{ opt.description }}"
        class="float-start d-inline"
      >
        <span *ngIf="opt.count > 1">{{ opt.count }}&nbsp;</span>
        {{ opt.name }};&nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">Programs:</div>
    <div class="col-8 border border-dark rounded"
          dndDropzone (dndDrop)="onDrop($event)">

      <div class="row">
        <div class="col-6 text-small">Name</div>
        <div class="col-2 text-center text-small py-0">STR</div>
        <div [ngClass]="{'col-2 text-center text-small py-0': true, 'text-danger fw-bold csd-important': overDeckMU}">MU ({{currDeck.usedMu}}/{{currDeck.totalMU}})</div>
        <div class="col-2 text-center text-small py-0">Active</div>
      </div>
          <div *ngIf="currDeck.programs?.length &lt; 1" class="fst-italic">
            Drag and drop programs from the program list here...
          </div>
      <div class="fst-italic" dndPlaceholderRef>
        Drop programs here...
      </div>
      <div class="row" *ngFor="let prog of currDeck.programs; let i = index" [title]="prog.type + ' - ' + prog.description">
        <div class="col-6">{{prog.name}}
          <button class="csd-btn csd-icon-btn csd-icon-sm float-end" (click)="removeProgram(i)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
        <div class="col-2 text-center">{{prog.strength > 0 ? '+': ''}}{{prog.strength}}</div>
        <div [ngClass]="{'col-2 text-center': true, 'text-danger fw-bold csd-important': overDeckMU}">{{prog.mu}}</div>
        <div class="col-2 text-center">
          <input type="checkbox" [(ngModel)]="prog.loaded">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <div>Description:</div>
      <textarea
        [(ngModel)]="currDeck.description"
        (change)="updateDeck()"
        rows="5"
      ></textarea>
    </div>
  </div>
</div>


<ng-template #deckOptions>
  <div class="modal-header">
    <h4 class="modal-title float-start">Deck Options</h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="column-count">
      <div
        *ngFor="let opt of deckData.options; let i = index"
        title="{{ opt.description }} ~ {{ opt.source.book | sourcebook }} pg. {{
          opt.source.page
        }}"
      >
        <input
          #optionCountElem
          type="number"
          [(ngModel)]="opt.count"
          min="0"
          (change)="checkOption(opt)"
          class="opt-count"
        />
        {{ opt.name }} ({{
          opt.cost.toString().includes("*") ? opt.cost : (opt.cost | number)
        }}eb{{opt?.slot ? " " + opt.slot + " slot" : ""}})
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deckListModal>
  <div class="modal-header">
    <h4 class="modal-title float-start">
      Cyberdecks from Cyberpunk 2020 Sources
    </h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <cs-cp2020-cyberdeck-selector
      (selectCyberdeck)="selectCyberdeck($event)"
    ></cs-cp2020-cyberdeck-selector>
  </div>
</ng-template>
