<div class="container">
  <h2>Master Cyberware List</h2>
  <div>
    This is the master list of all cyberware with their sources. Sources were
    pulled from R. Talsorian Games and the Interface magazines. You should
    consult the source material.
  </div>
  <div>
    NOTE: Costs I either show the average if it has a range or empty if the
    prices is based on another factor. Same with HC.
  </div>
  <div class="row">
    <div class="col-12">
      <cs-data-list
        [dataList]="cyberwareList$ | async"
        [columnsParameters]="columns"
      ></cs-data-list>
    </div>
  </div>
</div>
