<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>LifePath Generator for Cyberpunk Red Jumpkit</h2>
      <p>
        This is an unofficial version of the CP red jumpkit lifepath generator.
        You can purchase Cyberpunk Red Jumpstart Kit from <a
          href="https://talsorianstore.com/collections/cyberpunk/products/cyberpunk-red-jumpstart-kit"
          alt="R. Talsorian" target="_blank">R. Talsorian Games here</a>
        or the PDF from <a href="https://www.drivethrurpg.com/product/279014/Cyberpunk-Red-Jumpstart-Kit"
          target="_blank" alt="Drive Thru RPG">Drive Thru RPG here</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <fa-icon class="csd-dice csd-icon-btn csd-icon-xl" [icon]="faDice" (click)="generate()" title="Generate Cyberpunk Red Lifepath">
      </fa-icon> - Click to generate lifepath
    </div>
    <div class="col-6">
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl float-right" [icon]="faFilePdf" (click)="saveAsPDF()"
        title="Save Cyberpunk Red Lifepath as PDF"></fa-icon>
      <fa-icon class="csd-btn csd-icon-btn csd-icon-xl float-right mr-4" [icon]="faSave" (click)="saveFile()"
        title="Save Cyberpunk Red Lifepath as Text"></fa-icon>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="cpred-top-bar"></div>
      <div class="cpred-background-red">
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Background:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value cpred-lp-double" [(ngModel)]="LifePath.background"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Motivations:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="LifePath.motivation"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Goals:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="LifePath.goals"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Friends ({{LifePath.friends.length}}):
          </div>
          <div class="col-9">
            <textarea *ngFor="let friend of LifePath.friends" class="cpred-lp-value">{{friend}}</textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Enemies ({{LifePath.enemies.length}}):
          </div>
          <div class="col-9">
            <textarea *ngFor="let enemy of LifePath.enemies" class="cpred-lp-value">{{enemy}}</textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Romance:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="LifePath.romance"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-lg-2 cpred-lp-title">
            Personality:
          </div>
          <div class="col-9">
            <textarea class=" cpred-lp-value" [(ngModel)]="LifePath.personality"></textarea>
          </div>
        </div>
        <br>
      </div>

      <div class="cpred-bottom-bar"></div>
    </div>
  </div>
</div>
