.header-row {
  font-weight: 600;
}

.hot-stuff-new {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hot-stuff-details {
  margin-top: 10px;
}
.hot-stuff-details textarea {
  width: 100%;
}

.hot-stuff-new-area input{
  width: 90%;
}

.hot-stuff-over {
  color: red;
}
.hot-stuff-over::before {
  content: '!!'
}
.hot-stuff-over::after {
  content: ' *OVER*'
}
