<div class="row">
  <div class="col-12">
    <button
      class="csd-btn csd-icon-xl csd-icon-btn float-end hidden-print"
      title="Save the list as a text file."
      (click)="save()"
    >
      <fa-icon [icon]="faFile"></fa-icon>
    </button>
    <h4 class="d-inline">Hot Stuff</h4>
    <button
      class="csd-btn csd-icon-xl csd-icon-btn ms-2 hidden-print"
      title="Reset Streetdeal and clear all areas/fields."
      (click)="reset()"
    >
      <fa-icon [icon]="faRedo"></fa-icon>
    </button>
    <div class="hidden-print">
      This system has a set amount of points that can be distributed amongst
      contacts.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    Streetdeal:
    <input
      [(ngModel)]="streetdeal"
      type="number"
      min="0"
      max="10"
      (change)="changeStreetdeal()"
      class="text-center"
      title="Streetdeal skill level"
    />
  </div>
  <div class="col-6">
    Network Points Used: {{ spentPoints }}/{{ totalPoints }}
  </div>
  <div class="col-3 text-end">
    <button
      *ngIf="canRoll"
      class="csd-btn csd-icon-btn csd-icon-xl"
      title="Generate randomly"
      (click)="generate()"
    >
      <fa-icon [icon]="faDice"></fa-icon>
    </button>
  </div>
</div>
<br />
<div class="csd-rounded">
  <div class="row header-row">
    <div class="col-5">Area/Field</div>
    <div class="col-3 text-center">Extra Rolls</div>
    <div class="col-3 text-center">Network Points</div>
    <div class="col-1"></div>
  </div>
  <cs-fixer-calc-hot-stuff-area
    *ngFor="let a of areas; let i = index"
    [area]="a"
    [index]="i"
    (delete)="deleteArea($event)"
    (edit)="editArea($event)"
  ></cs-fixer-calc-hot-stuff-area>
</div>
<br />
<div
  *ngIf="!reachedPoints as value; else elseNotReached"
  class="csd-rounded hidden-print hot-stuff-new"
>
  <div class="row">
    <div class="col-auto">
      <button
        (click)="addArea()"
        [ngClass]="{
          'csd-btn csd-icon-xl': true,
          'csd-icon-btn': canAdd,
          'csd-disabled': !canAdd
        }"
        title="Add{{
          canAdd ? '' : ' - must enter an area/field and roll 1 or above'
        }}"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-5">
          <span class="csd-required hot-stuff-new-area">
            <input
              [(ngModel)]="newArea.area"
              type="text"
              placeholder="Enter area/field..."
              title="Required. Cannot be an area/field that already exists."
            />
          </span>
          <button
            class="csd-btn csd-icon-btn ms-2"
            title="Randomly generate area of expertise"
            (click)="generateArea()"
          >
            <fa-icon [icon]="faDice"></fa-icon>
          </button>
        </div>
        <div class="col">
          <span class="csd-required">
            <input
              [(ngModel)]="newArea.rolls"
              type="number"
              min="0"
              max="6"
              (change)="changeNewRolls()"
              title="Must be a value between 1 and 6."
            />
            rolls
          </span>
        </div>
        <div [ngClass]="{ col: true, 'hot-stuff-over': !isUnderPoints }">
          {{ newArea.points }}pts
        </div>
      </div>
      <div *ngIf="exists" class="row">
        <div class="col text-danger">
          !!The area already exists. Either delete the old one or rename this
          one.
        </div>
      </div>
      <div class="row">
        <div class="col-10 hot-stuff-details">
          <textarea
            [(ngModel)]="newArea.details"
            title="Details about the area to gain extra rolls"
            placeholder="Enter details about the area/field..."
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseNotReached>
  <div class="row hidden-print">
    <div class="col-1"></div>
    <div class="col-11">
      No availble Network points to purchase rolls. Either raise Streetdeal or
      delete one above.
    </div>
  </div>
</ng-template>
<br />
