

@if(dataList$ | async; as gearList) {
  <div class="row">
  <div class="col-3 col-md-1">
    <cs-cr-cz-faction-selector [selectedFaction]="currentFilterFaction"
  (selected)="setFaction($event)"></cs-cr-cz-faction-selector>
  </div>
  <div class="col-9 col-md-5">
    <input type="search" class="w-100" placeholder="Search by name/title of gear" [(ngModel)]="filterName">
    <input type="search" class="w-100" placeholder="Search by keyword of gear" [(ngModel)]="fitlerKeyword">
    <cs-cr-cz-source-selector [filter]="gearList | uniqueValues:'release'" (selectedSource)="filterOnRelease($event)"></cs-cr-cz-source-selector>
  </div>
  <div class="col-12 col-md-4">
    Cred:
    <div class="btn-group">
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(0)}" [class.active]="filterCred?.includes(0)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(0)" role="button">0</label>
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(1)}" [class.active]="filterCred?.includes(1)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(1)" role="button">1</label>
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(2)}" [class.active]="filterCred?.includes(2)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(2)" role="button">2</label>
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(3)}" [class.active]="filterCred?.includes(3)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(3)" role="button">3</label>
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(4)}" [class.active]="filterCred?.includes(4)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(4)" role="button">4</label>
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(5)}" [class.active]="filterCred?.includes(5)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(5)" role="button">5</label>
      <label [ngClass]="{'btn rounded':true,'fw-bold text-large': filterCred?.includes(6)}" [class.active]="filterCred?.includes(6)" btnCheckbox tabindex="0"
        (click)="toggleCredFilter(6)" role="button">6</label>
    </div>
  </div>
  <div class="col-12 col-md-2">EB: <input [(ngModel)]="filterEB" title="Filter on EB cost value." type="number" class="w-30" min="0" max="100"></div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-center px-0">
        @for(gear of gearList |contains:'faction':[currentFilterFaction, 'universal']
          | contains:'name':filterName
          | contains:'keywords':fitlerKeyword
          | filter:'eb':filterEB
          | filterWithArray:'cred':filterCred
          | contains: 'release':filterReleases
          ;track $index) {
        <cs-cr-cz-gear-card [gear]="gear" [teamFaction]="teamFaction()" [unitKeywords]="unitKeywords()"
        [totalStreetcred]="totalStreetcred()" [count]="getCount(gear.name)"
          [hasGear]="characterHasGear(gear.name)" (add)="buyGear($event)">
        </cs-cr-cz-gear-card>
        }
      </div>
    </div>
  </div>
</div>
} @else {
  <div>Gear list is missing.</div>
}
