.opp-wpn-note {
  width: 100%;
}

div.opp-wpn-new {
  padding-left: 3px;
  padding-right: 3px;
}

.opp-wpn-dmg {
  width: 60px;
}
.opp-wpn-wa {
  width: 30px;
}
.opp-wpn-shots {
  width: 40px;
}
.opp-wpn-rof {
  width: 40px;
}
.opp-wpn-range {
  width: 80px;
}
.opp-wpn-txt {
  font-size: 1.0em;
}

.opp-wpn-hdr {
  font-size: 0.7em;
}

#oppWeaponSection {
  font-size: 0.7em;
}
