<configuration>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="X-Cybersmily-Test" value="TestingGoDaddyIfIIS" />
         </customHeaders>
      </httpProtocol>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
           <match url=".*" />
             <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
             <action type="Rewrite" url="/" />
      </rule>
    </rules>
  </rewrite>
   </system.webServer>
</configuration>
