<div>
  <h4>Program List
    <span class="float-end">{{programList.totalCost|number}}eb</span>
  </h4>
  <div class="row">
    <div class="col-3">CLASS</div>
    <div class="col-4">NAME</div>
    <div class="col-1 text-center">STR</div>
    <div class="col-1 text-center">MU</div>
    <div class="col-1"></div>
  </div>
  <hr style="margin: 0 auto;padding: 0 0;">
  <div *ngFor="let p of programList.programs; let i = index"
  >
    <div class="row mx-0"
    [dndDraggable]="{program: p, type: dndType}"
    [dndEffectAllowed]="'move'"
    dndType="dndType"
    title="{{p.class.name + ': ' + p.class.description}}"
    >
      <div class="col-3 mt-2 csd-prog-class-name text-capitalize">{{p.class.name}}
      </div>
      <button #programNameElem class="col-4 csd-btn csd-prog-select"
        (click)="showSelect(i, selectedProgram)">{{p.name}}</button>
      <div class="col-1 text-center">+{{p.strength}}</div>
      <div class="col-1 text-center">{{p.mu}}</div>
      <div class="col-1">
        <button class="csd-btn csd-icon-btn" (click)="delete(i)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col csd-prog-lst-new">
      <button #newProgramElem class="csd-btn csd-icon-btn csd-icon-xl w-100" (click)="showNew(selectedProgram)">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #selectedProgram>
  <div class="modal-header">
    <h4 class="modal-title float-start">{{modalTitle}} Program</h4>
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <cs-program-new [program]="program" (updateProgram)="update($event)"></cs-program-new>
  </div>
</ng-template>
