<div class="container">
  <div class="row pt-0 mt-0">
    <div class="col-12 pt-0 mt-0">
      <h3 class="d-none d-md-block">Unofficial Cyberpunk RED: Combat Zone<sup>TM</sup> Army Builder</h3>
    </div>
  </div>
  <div class="row py-0 my-0 d-none d-md-block">
    <div class="col-12">
      This utility is an unofficial army builder for the skirmish wargame from <a rel="noopener" href="https://monsterfightclub.com/">Monster Fight Club, LLC</a> - <a href="https://monsterfightclub.com/collections/cyberpunk-red-combat-zone" rel="noopener">Cyberpunk RED: Combat Zone<sup>TM</sup></a>.
    </div>
  </div>
  <div class="row px-0 mx-0">
    <div class="col-12 pt-0 mt-0">
      <cs-cr-cz-army-list></cs-cr-cz-army-list>
    </div>
  </div>
  <div class="text-small text-center">©Cyberpunk RED: CombatZone<sup>TM</sup> by Monster Fight Club 2018-2024. All Rights Reserved. All images used in the Cyberpunk RED: CombatZone Army Builder are ©Monster Fight Club 2018-2024. This is not a challenge to their copyright nor should be consider and infringement. Please support Moster Fight Club as well as the Cyberpunk RED: Combat Zone<sup>TM</sup>  </div>
</div>
