<div class="csd-rounded">
<h4>Program List
  <span class="float-right"><fa-icon [icon]="faFilePdf" class="csd-btn" (click)="pdf()" title="Save list as PDF"></fa-icon></span>
  <span class="float-right"><fa-icon [icon]="faSave" class="csd-btn" (click)="save()" title="Save list as json file to upload later."></fa-icon></span>
  <span class="float-right">
    <input type="file" id="loadFile" title="load a program list .json file" name="Load" Style="display: none"
      (change)="upload($event)" #input accept="text/json" />
      <label for="loadFile"><fa-icon [icon]="faUpload" class="csd-btn" title="Upload program json file to edit."></fa-icon></label>
  </span>
  <span class="float-right"><fa-icon [icon]="faUndo" class="csd-btn" (click)="reset()" title="Reset the list and clear all items"></fa-icon></span>
</h4>
<div class="row">
  <div class="col-6">NAME</div>
  <div class="col-1 text-center">STR</div>
  <div class="col-1 text-center">MU</div>
  <div class="col text-center">COST</div>
  <div class="col-1"></div>
</div>
<hr style="margin: 0 auto;padding: 0 0;">
<div *ngFor="let p of programList; let i = index" class="row" (click)="select(i)">
  <div class="col-6 csd-btn" title="{{p.description}}">{{p.name}}</div>
  <div class="col-1 text-center">+{{p.strength}}</div>
  <div class="col-1 text-center">{{p.mu}}</div>
  <div class="col text-center">{{p.cost}}eb</div>
  <div class="col-1"><fa-icon [icon]="faTrash" (click)="delete(i)"></fa-icon></div>
</div>
</div>
