<div class="row">
  <div class="col-12">
    <h6>HIT POINTS</h6>
  </div>
</div>
<div class="row">
  <div class="col-6 position-relative text-center">
    <div class="csd-input-label ps-3">total</div>
    <div class="mt-3">0</div>
  </div>
  <div class="col-6 position-relative text-center">
    <div class="csd-input-label ps-3">current</div>
    <input
      type="number"
      class="mt-3 w-80 text-center csd-plain-input csd-input-underline no-spinners"
    />
  </div>
</div>
<div class="row">
  <div class="col-3 col-lg-4 col-xl-3 text-xsmall">Seriously<br />Wounded</div>
  <div class="col-2 text-center">0</div>
  <div class="col-2 col-lg-3 col-xl-2 text-xsmall">Death<br />Save</div>
  <div class="col-2 text-center">0</div>
</div>
<div class="row">
  <div class="col-12 text-xsmall">-2 all actions when seriosly wounded</div>
</div>
<cs-cp-red-injuries-display></cs-cp-red-injuries-display>
<cs-cp-red-addictions-display></cs-cp-red-addictions-display>
