<div class="row">
  <div class="col-12">
    <h6>HIT POINTS</h6>
  </div>
</div>
<div class="row">
  <div class="col-6 position-relative">
    <div class="csd-input-label ps-2">total</div>
  </div>
  <div class="col-6 position-relative">
    <div class="csd-input-label ps-2">current</div>
    <input type="number" class="w-80 csd-plain-input csd-input-underline" />
  </div>
</div>
<div class="row">
  <div class="col-5 text-xsmall">Seriously<br />Wounded</div>
  <div class="col-2"></div>
  <div class="col-3 text-xsmall">Death<br />Save</div>
  <div class="Col-2"></div>
</div>
<div class="row">
  <div class="col-12 text-xsmall">-2 all actions when seriosly wounded</div>
</div>
<div class="row">
  <div class="col-12">Critical Injuries</div>
</div>
<div class="row">
  <div class="col-12">Addictions</div>
</div>
