<div class="row small text-bold">
  <div class="col-2">CATEGORY</div>
  <div class="col-3">NAME</div>
  <div class="col-1">COST</div>
  <div class="col-1">WT</div>
  <div class="col-2">NOTES</div>
  <div class="col-2">SOURCE</div>
  <div class="col-1">
    <button
      *ngIf="isEditable"
      class="csd-btn csd-icon-btn csd-icon-xl"
      (click)="save()"
    >
      <fa-icon [icon]="faSave"></fa-icon>
    </button>
  </div>
</div>
<div class="row text-xsmall">
  <div class="col-2">
    <select [(ngModel)]="filters.category" class="w-100">
      <option value="">All</option>
      <option *ngFor="let category of categoryList$ | async" [value]="category">
        {{ category }}
      </option>
    </select>
  </div>
  <div class="col-3">
    <input [(ngModel)]="filters.name" type="text" class="w-100" />
  </div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-2"></div>
  <div class="col-2">
    <input [(ngModel)]="filters.source" type="text" class="w-100" />
  </div>
  <div class="col-1"></div>
</div>
<cs-cp2020-equipment-item
  *ngFor="
    let gear of gearList$
      | async
      | filter: 'category':filters.category
      | contains: 'name':filters.name
      | sourcebookFilter: filters.source
  "
  [item]="gear"
  [isEditable]="isEditable"
  (update)="update($event)"
  (delete)="delete($event)"
></cs-cp2020-equipment-item>
