<div class="row">
  <div class="col">
    <fa-icon [icon]="faDice" title="Generate bodegas" class="csd-btn csd-icon-btn csd-icon-xl" (click)="generate()"></fa-icon>
    &nbsp;- roll to generate
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Owner</h4>
  </div>
  <div class="col">
  <h4>Customer 1</h4>
  </div>
  <div class="col">
  <h4>Customer 2</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    {{owner}}
  </div>
  <div class="col">
    {{customer1}}
  </div>
  <div class="col">
    {{customer2}}
  </div>
</div>
