<div class="row">
  <div class="col">
    Use Interlock Unlimited: <input #iuSetting type="checkbox" [(ngModel)]="currSettings.isIU" (change)="saveSettings()" tabindex="0">
  </div>
</div>
<div class="row">
  <div class="col">
    Collapse sections On Start: <input type="checkbox" [(ngModel)]="currSettings.isCollapsed"
      (change)="saveSettings()" tabindex="0">
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h6>SKILLS</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        Role Points:
        <input type="number" class="ms-1 csd-number" [(ngModel)]="currSettings.skillSettings.roleSkillPoints"
          (change)="saveSettings()" tabindex="0">
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        Secondary Skills Points use REF + INT <input type="checkbox"
          [(ngModel)]="currSettings.skillSettings.useStatsForSecondary" (change)="saveSettings()" tabindex="0">
        <div *ngIf="!currSettings.skillSettings.useStatsForSecondary">
          Available Secondary SKills Points: <input type="number" class="ms-1 csd-number" (change)="saveSettings()"
            [(ngModel)]="currSettings.skillSettings.availableSecondarySkillPoints" tabindex="0">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h6>LIFEPATH</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        System to Use:
        <select [(ngModel)]="currSettings.lifePathSource" class=" hidden-print" tabindex="0">
          <option value="?" selected="selected"></option>
          <option *ngFor="let opt of sources" value="{{opt.value}}">{{opt.title}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        Always have an event: <input type="checkbox" [(ngModel)]="currSettings.lifePathEvents"
          (change)="saveSettings()" tabindex="0">
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        Roll for years (leave 0 for random): <input type="number" min="0" class="csd-number"
          [(ngModel)]="currSettings.lifePathYears" (change)="saveSettings()" tabindex="0">
      </div>
    </div>
  </div>
</div>
