<div>
  This is an unofficial utility to create a Cyberpunk 2020 character.
  Here you will be able to create, save, load, and print character sheets.
  There is still a bit of work to be done, but this should help with starting out with the basics.
</div>
<div>
  This also allows the ability to create Interlock Unlimited characters as well. Go into the settings to change it.
</div>
<br>
<div>
  <h5>MENU</h5>
  <ul class="list-unstyled">
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faSave"></fa-icon> SAVE - this will save a text file with the character in
      JSON format. JSON is used to hold the data of the character to be uploaded later to this utility. The JSON is not
      quite legilble by normal people, so don't assume you can pass this file off to others. Save this a a PDF and share
      that with others.
    </li>
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faUpload"></fa-icon> UPLOAD - click here and upload the file from the SAVE
      step. This will take the JSON data and use it to fill in the sheet.
    </li>
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faUndo"></fa-icon> RESET - This will reset the sheet to all blank values.
      Make to save before doing this to the txt(JSON) file first if you want to keep the character.
    </li>
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faFilePdf"></fa-icon> SAVE AS PDF - This will save the character sheet as a
      PDF. This cannot be uploaded back to the sheet, so if you don't click SAVE button, then the data will need to be
      re-entered again.
    </li>
  </ul>
</div>
<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>CHARACTER STATS</h5>
  <p>This section contains the Handle, Role, Character Points, Stats, Armor, Saves and Wounds.</p>
  <h6>HANDLE</h6>
  <p>Enter a name or have one randomly generated.</p>
  <h6>ROLE</h6>
  <p>This contains all of the published roles within Cyberpunk 2020. You can select one or randomly roll one. Once chosen,
  the speical ability for that role will appear in the skill section as well as all role skills being highlighted and
  have * prepended. Those role skills in which you need to choose between a few options will have @ infront of them.</p>
  <p>The primary role can be randomly rolled by clicking <fa-icon class="csd-icon-btn" [icon]="faDice"></fa-icon>.
    This will randomly generate and set the primary role</p>
  <p>Setting the Primary and Secondary roles can be added through the editor by clicking on the <fa-icon class="csd-icon-btn" [icon]="faPen"></fa-icon>.
    This will open a popup to change the skills associated with the role. You will also need to set the skills with options as well.
  </p>
  <h6>CHARACTER POINTS</h6>
  <p>This box has the total number of character points for stats. If the stat total is different, a number will appear next
  to this box showing the different (black under, red over). You can also generate the Character Points by clicking
  <fa-icon class="csd-icon-btn" [icon]="faDice"></fa-icon> icon which will also display the dice numbers to the right.
    </p>
  <h6>STATS</h6>
  <p>This is all the various stats and secondary stats. Rolling here will take the value from the CHARACTER POINTS and
  distribute them points randomly to each of the stats. Clicking on the stat will allow you to modify the base value and
  add modifiers (say from cyberware) to the stat. The stat have a format of #/#. The number on the left is for the base
  stat. Number on the right is the modified. Wounds will also apply modifiers as well. This will mark the stat in red.
</p>
  <h6>INITIATIVE</h6>
  <p>This box is for rolling initiative. Again you can add modifiers to the value to roll it.</p>
  <h6>ARMOR</h6>
  This section displays the SP values of armor for the character. Click on <fa-icon class="csd-icon-btn"
    [icon]="faShieldAlt"></fa-icon> icon to add/edit/remove armor layers.
  <h6>MANAGE ARMOR</h6>
  This will open a dialog box to manager the character's armor. Simply add a name for it, the SP values in each
  location, the EV, and if it is hard armor or skinweave. Once added, check it off to say that it is being used. The 3
  layer rule is implemented as well as the EV calculation as per rulebook.
  <br>"There's a character profile box but I can't add an image. Why?" Well here's the rub. My site doesn't have a data
  store in the back end (I'm cheap). Which means if you have an image it would be a link to an image out on the
  interwebs. Now the issue is if you reference an image you don't own, my site will get dinged for it and lawsuits can
  come my way. That is why it's uneditable.
</div>
<br>
<div>NOTE: each of the below sections are collapsible/expandible on the page by clicking on the title of the section.</div>
<div style="text-indent: -10px;margin: 10px;">
  <h5>SKILLS</h5>
  This section lists all of the characters skills. As mentioned in ROLE above, special ability and the role's skills
  will be displayed.
  <br>Skill have 2 number boxes. The first is to enter the skill level. The second is for IP points. The last box is to
  check off if the skill is chipped. Once a value is enter, the [#] will display the skill level plus the stat.
  <br>Hovering on a skill name will display the <fa-icon class="csd-icon-btn" [icon]="faDice"></fa-icon> icon so you can
  make a roll on the skill.
  <br>REP is to track a character's reputation while IP is to track general IP for the character.
</div>
<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>CYBERNETICS</h5>
  This section is to list the cyberware a character has installed. This will calculate the total Humanity Cost and EB
  cost of all of the cyberware in the list. Humaity Cost will be subtracted from EMP stat as a modifier.
  <br>To add new cyberware, click on an empty row or click on the + at the bottom of the list. This will open a dialog
  box to enter a piece of Cyberware. Enter all the data as you want. Make sure to choose the appropriate Type as this
  will display that Type's options.
  <br>If #options is above 0 and the type of Cyberware supports options, then the options section will appear at the
  bottom. This lists all thhe options available from the book or you can add your own. Simply drag and drop the options
  you want, up to the #options limit.
  <br>Once done entering, make sure to click the <fa-icon [icon]="faSave" class="csd-icon-btn"></fa-icon> icon to save
  the cyberware to the list.
  <br>You can also randomly generate a piece of cyberware by click on the <fa-icon class="csd-icon-btn" [icon]="faDice">
  </fa-icon> icon. This will randomly select a piece of Cyberware for you. This is great for creating NPCs or quick
  characters.
</div>
<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>LIFESTYLE & EXPENSES</h5>
  This section is track the characters money, expenses, and identites.
  <br>
  MONEY - In this section you can enter how much cash and credchips the character has.
  It also can keep track of any debt. You can also track your salary and add it to your current holdings.
  The Calculator button is to calculate and pay any immediate services, like cab fare.
  <br>
  HOUSING - Place to keep tracking of the character's living arrangements.
  This section will calculate the monthly cost of each of them.
  It will also have a section to leave items there and list the contents.
  <br>
  SERVICES - This is where you can track your other monthly services, like cell phone.
  <br>
  GROCERIES - Here is your available food stuff where you can track how much you have left and if you need to buy more.
  <br>
  IDENTITIES - This section is to track the character's identities, whether real or fake ones.
</div>

<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>LIFEPATH</h5>
  This section is the LIFEPATH for the character. To randomly generate a life path, choose the source book you want,
  check if you want to have an event for every year and/or enter the number of years. If number of years is less than 1,
  it will randomly generate the years (2-12).
  <br>Each section in the Life Path is editable with your own values, allowing you to enter existing characters.
</div>
<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>WEAPONS</h5>
  This section stores all the weapons for a character.
  There are 3 icon buttons in the header:
  <ul class="list-unstyled">
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faDice"></fa-icon> - Roll a random weapon.
    </li>
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faCog"></fa-icon> - Settings for rolling a random weapon. Here you can narrow it to
        certain weapon types and availability.
    </li>
    <li>
      <fa-icon class="csd-icon-btn" [icon]="faCrosshairs"></fa-icon> - Opens the combat calculator.
    </li>
  </ul>
  <p>COMBAT CALCULATOR - This allows you to select a wapon and do all the modifier calculation to determien the success
    as well as roll to hit to see if you succeed. The roll to hit will also generate the damage and location.
    For automatic weapons, it will also determine the shots that hit.</p>
  <p>The weapon table will hold all the weapon important stats as well as an ammo tracker. You can either edit (<fa-icon class="csd-icon-btn" [icon]="faPen"></fa-icon>)
    or remove (<fa-icon class="csd-icon-btn" [icon]="faTrash"></fa-icon>) the weapon by hovering over the name.</p>
  <p>
    Editing a weapon will open the editor. There you can make any necessary changes. Once done, be sure to click save (<fa-icon class="csd-icon-btn" [icon]="faSave"></fa-icon>).
    Edit weapon includes an option section in which you can choose some of the source materials to the weapon, tweaking out just right.
    NOTE: choosing options won't modify the other stats of the weapon, you'll need to do that manually for now.
  </p>
  <p>Adding a weapon click on the plus (<fa-icon class="csd-icon-btn" [icon]="faPlus"></fa-icon>) at the bottome of the table.
    This will open a dialog to enter the weapons stats or click on the SEARCH tab in that window to look for a weapon to add. To choose a weapon from the list, simply choose the amount you want.
  Once choose each amount, then make sure to click on save (<fa-icon class="csd-icon-btn" [icon]="faSave"></fa-icon>).
</p>
<p>MAGAZINES - you will notice a dropdown box under the name of the weapon for magazines.
  This section is a way to track your magazine load out and what you have availble to slap into your firearm before you need to start loading 1 bullet at a time.
To add more magazines and choose the ammo type and size in each, click to edit the weapon.
There you can add more magazines to check track. </p>
<p>AMMO Section - this is to keep track of all the ammo you have on hand or stashed away.
   The choices you get are varied, whether you want to buy ammo on a generic Light Pistol or choose something more details like buying some 9mm Long ammo.
   Up to you and your game style.</p>
</div>
<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>GEAR</h5>
  This section is to catpure all the gear a character has. There is no automation here other than totaling the cost and
  weight of the items.
</div>
<br>
<div style="text-indent: -10px;margin: 10px;">
  <h5>NOTES</h5>
  This section is a place to add any notes about the character.
</div>
<br>
<p>
  If you see <fa-icon class="csd-icon-btn" [icon]="faDice"></fa-icon> icon, click it to get dice roll for a skill or
  save, or generate
  random lifepath.
</p>
