<div class="container">
  <h2>Master Weapons List</h2>
  <div>This is the master list of all weapons with their sources.
    Search is based on what the field starts with.
    Sources were pulled from R. Talsorian and the Interface magazines.</div>
  <table class="mstr-skill-table csd-rounded">
    <tr class="csd-rounded bg-secondary text-light">
      <th class="text-center">Category</th>
      <th class="text-center">Subcategory</th>
      <th class="text-center">Name</th>
      <th class="text-center">Type</th>
      <th class="text-center">WA</th>
      <th class="text-center">Conc.</th>
      <th class="text-center">Avail.</th>
      <th class="text-center">Damage/Ammo</th>
      <th class="text-center">#Shots</th>
      <th class="text-center">ROF</th>
      <th class="text-center">Rel</th>
      <th class="text-center">Range</th>
      <th class="text-center">Cost</th>
      <th class="text-center">Source</th>
    </tr>
    <tr>
      <td>
        <select [(ngModel)]="filters.category" class="skill-search">
          <option [ngValue]="''">All</option>
          <option *ngFor="let category of categories" [ngValue]="category">{{
            category
          }}</option>
        </select>
      </td>
      <td><input [(ngModel)]="filters.subcategory" type="search" placeholder="search on name" class="skill-search"/></td>
      <td><input [(ngModel)]="filters.name" type="search" placeholder="search on name" class="skill-search"/></td>
      <td>
        <select [(ngModel)]="filters.type">
          <option [ngValue]="''">All</option>
            <option *ngFor="let type of weaponTypes" [ngValue]="type.code">{{
              type.code
            }}</option>
        </select>
      </td>
        <td></td>
      <td>
        <select [(ngModel)]="filters.conc">
          <option [ngValue]="''">All</option>
            <option *ngFor="let conc of concealments" [ngValue]="conc.code">{{ conc.name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="filters.avail">
          <option [ngValue]="''">All</option>
            <option *ngFor="let avail of availabilities" [ngValue]="avail.code">{{ avail.name }}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="filters.damage" type="search" placeholder="Search damage" class="skill-search"/><br>
        <input [(ngModel)]="filters.ammo" type="search" placeholder="Search ammo" class="skill-search"/>
      </td>
      <td></td>
      <td></td>
      <td>
        <select [(ngModel)]="filters.rel">
          <option [ngValue]="''" selected>All</option>
            <option *ngFor="let rel of reliabilites" [ngValue]="rel.code">{{
              rel.name
            }}</option>
        </select></td>
      <td></td>
      <td></td>
      <td><input [(ngModel)]="filters.source" type="search" placeholder="search on source" class="skill-search"/></td>
    </tr>
    <tr *ngFor="let wpn of wpnList
    |contains:'name': filters.name
    |contains:'damage': filters.damage
    |contains:'ammo': filters.ammo
    |filter:'category': filters.category
    |filter:'subcategory': filters.subcategory
    |sourcebookFilter:filters.source
    |filter:'type': filters.type
    |filter:'avail': filters.avail
    |filter:'conc': filters.conc
    |filter:'rel': filters.rel"
        style="vertical-align: top;">
        <td>{{wpn.category}}</td>
        <td>{{wpn.subcategory}}</td>
        <td>{{wpn.name | parse}}</td>
        <td>{{wpn.type}}</td>
        <td class="text-center">{{wpn.wa}}</td>
        <td class="text-center">{{wpn.conc}}</td>
        <td class="text-center">{{wpn.avail}}</td>
        <td class="text-center">{{wpn.damage}}{{wpn.ammo? '(' + wpn.ammo + ')':''}}</td>
        <td class="text-center">{{wpn.shots}}</td>
        <td class="text-center">{{wpn.rof}}</td>
        <td class="text-center">{{wpn.rel ? wpn.rel : ''}}</td>
        <td class="text-center">{{ wpn.thrown ? 'thrown' : ( wpn.range ? ((wpn.range | number) + 'm'): '')}}</td>
        <td class="text-center">{{wpn.cost|number}}eb</td>
        <td class="text-center">{{wpn.source.book |sourcebook}} pg. {{wpn.source.page}}</td>
    </tr>
  </table>
  </div>
