<div class="px-2">
  <div class="row">
    <div class="col-12">
      <div
        *ngIf="!isEditMode; else elseEditName"
        (click)="isCollapse = !isCollapse"
        [ngClass]="{
          'w-80 text-truncate d-inline-block': true,
          'cursor-pointer': currContact.notes
        }"
        title="Expand to show notes"
      >
        <fa-icon
          class="csd-icon-btn"
          *ngIf="currContact.notes"
          [icon]="isCollapse ? faChevronRight : faChevronDown"
        ></fa-icon>
        {{ currContact.name }}
        <span *ngIf="currContact.description && isCollapse"
          >- {{ currContact.description }}</span
        >
      </div>
      <ng-template #elseEditName>
        <input
          [(ngModel)]="currContact.name"
          type="text"
          class="w-80"
          title="Contact name"
          placeholder="* Name..."
        />
      </ng-template>
      <button
        title="Delete contact"
        class="csd-btn csd-icon-btn hidden-print float-end"
        (click)="deleteContact()"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <button
        *ngIf="!isEditMode"
        class="csd-btn csd-icon-btn hidden-print me-2 float-end"
        title="Edit contact"
        (click)="isEditMode = true; isCollapse = false"
      >
        <fa-icon [icon]="faPen"></fa-icon>
      </button>
      <button
        *ngIf="isEditMode"
        class="float-end"
        title="Save changes to contact"
        (click)="saveContact()"
        class="csd-btn csd-icon-btn csd-icon-sm hidden-print float-end me-2"
      >
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row" [collapse]="isCollapse">
    <div class="col-10 offset-1">
      <span *ngIf="!isEditMode; else elseEditDescription">
        Description: {{ currContact.description }}
      </span>
      <ng-template #elseEditDescription>
        <input
          [(ngModel)]="currContact.description"
          type="text"
          class="w-80"
          title="Contact description"
          placeholder="Description..."
        />
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1" [collapse]="isCollapse">
      <span *ngIf="!isEditMode; else elseEditNotes">
        Notes: {{ currContact.notes }}
      </span>
      <ng-template #elseEditNotes>
        <textarea
          [(ngModel)]="currContact.notes"
          type="text"
          class="w-80"
          title="Contact notes"
          placeholder="Notes..."
        ></textarea>
      </ng-template>
    </div>
  </div>
</div>
