<div class="container">
  <div class="row hidden-print">
    <div class="col-12">
      <h2>Fixer Calculator</h2>
      <div>
        The Fixer Calculator is for Cyberpunk 2020 using the rules from <a href="https://talsorianstore.com/collections/cyberpunk/products/wildside" target="_blank">Wildside Sourcebook</a>.
        Below are the two system from that book, Hot Stuff and Big League.
        Both systems are used to create contacts for your Cyberpunk 2020 fixer.
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="csd-rounded">
  <cs-fixer-calc-hot-stuff></cs-fixer-calc-hot-stuff>
</div>
  <br>
  <div class="csd-rounded">
  <cs-fixer-calc-big-league></cs-fixer-calc-big-league>
</div>
  <br>
</div>
