<div class='container'>
  <div class='row'>
    <div class='col-12 opp-handle'>
      <input [(ngModel)]="opponent.name" type="text"
      title="Enter the name of the opponent." placeholder="Enter the opponent's handle..."
      (change)="changeOpponent()"
      />
    </div>
  </div>
  <div class='row'>
    <div class='col-1'>
      ROLE:
    </div>
    <div class='col-11 col-lg-6'>
      <select *ngIf="opponent.role === ''; else hasRole" [(ngModel)]="selectedRole"
      (change)="changeRole()" title="Choose a role of the opponent. The role skills will be added to the oppoent."
      class="btn-sm">
        <option *ngIf="!selectedTemplate" [ngValue]="null" selected>Choose a role</option>
        <option *ngFor="let role of roles" [ngValue]="role" selected>
          {{((role.base && role.base !== '')? role.base + ' - ': '') +role.name}}
        </option>
      </select>
      <ng-template #hasRole>
        <span class="opp-role">
          <fa-icon [icon]="faTrash" (click)="deleteRole()" title="Delete this role and choose another." class="opp-role-delete"></fa-icon>
          {{opponent.role}}
        </span>
      </ng-template>
    </div>
    <div class='col-12 col-lg-5'>
      <select *ngIf="opponent.role === ''" [(ngModel)]="selectedTemplate" (change)="changeTemplate()"
      class="btn-sm" title="Template will pre-generate the opponent based on source books.">
        <option *ngIf="!selectedTemplate" [ngValue]="null" selected>Or choose a template...</option>
        <option *ngFor="let temp of templates" [ngValue]="temp.json" title="{{temp.source | sourcebook}} pg. {{temp.page}}" >{{temp.type}} - {{temp.name}}</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <cs-cmbt-trck-wound-sect [stats]="opponent.stats" (updateStats)="onStatBlockChange($event)"></cs-cmbt-trck-wound-sect>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <cs-cmbt-trk-sp [armor]="opponent.armor" (updateArmor)="changeArmor($event)"></cs-cmbt-trk-sp>
    </div>
  </div>
  <tabset>
    <tab heading="MODIFIERS" [customClass]="customClass">
      <div class="csd-rounded">
        <cs-cmbt-trck-mod-selector [opponent]="opponent"></cs-cmbt-trck-mod-selector>
        <br>
      </div>
    </tab>
    <tab heading="STATS" [customClass]="customClass">
      <div class="csd-rounded">
        <cs-cmbt-trck-stats [statBlock]="opponent.stats" (changeStatBlock)="onStatBlockChange($event)"></cs-cmbt-trck-stats>
        <br>
      </div>
    </tab>
    <tab heading="SKILLS" [customClass]="customClass">
      <div class="csd-rounded">
      <cs-cmbt-trk-skills [opponent]="opponent" (updateOpponent)="changeOpponent($event)"></cs-cmbt-trk-skills>
      <br>
      </div>
    </tab>
    <tab heading="CYBER" [customClass]="customClass">
      <div class="csd-rounded">
        <cs-cmbt-trk-cyber [cyberware]="opponent.cyberware" (newCyberware)="changeCyber($event)"></cs-cmbt-trk-cyber>
        <br>
       </div>
    </tab>
    <tab heading="WEAPONS" [customClass]="customClass">
      <div class="csd-rounded">
        <cs-cmbt-trk-wpns [weapons]="opponent.weapons" (newWeapon)="changeWeapons($event)"></cs-cmbt-trk-wpns>
        <br>
      </div>
    </tab>
    <tab heading="GEAR" [customClass]="customClass">
      <div class="csd-rounded">
        <cs-cmbt-trck-gear [gear]="opponent.gear" (newGear)="changeGear($event)"></cs-cmbt-trck-gear>
        <br>
      </div>
    </tab>
  </tabset>
  <br>
  <br>
</div>
