<div class="container">
  <div class="row">
    <div class="col">
      <button (click)="isOpen = !isOpen" class="btn btn-dark csd-rounded me-4">{{isOpen? 'Collapse': 'Expand'}}</button>
      Filter on Reporter:
      <select [(ngModel)]="selectedReporter">
        <option value=""></option>
        <option *ngFor="let rptr of reporters" [value]="rptr">{{rptr}}</option>
      </select>
      <input type="text"[(ngModel)]="searchText" placeholder="search for term...">

    </div>

  </div>
  <accordion #accordion>
    <accordion-group [isOpen]="isOpen" *ngFor="let report of newsItems$ | async; let i = index">
      <div accordion-heading>
        <h3 style="display:inline-block">{{report.title}}</h3>
        <fa-icon [icon]="accordion.groups[i].isOpen?faAngleDoubleDown:faAngleDoubleRight" size="2x"></fa-icon>
      </div>
      <div class="csd-box csd-rounded mb-1" *ngFor="let comment of getFilteredReports(report.reports);let in = index" style="position:relative">
        <div [ngClass]="{'float-start': in%2 === 0, 'float-end': in%2 === 1,'pe-4': in%2 === 0, 'ps-4': in%2 === 1, 'text-center': true}">
          <img src="/img/peeps/th/th_{{comment.img}}.png" alt="{{comment.reporter}}" class="rounded-circle" />
          <h5>{{comment.reporter}}</h5>
        </div>
        <div style="display:block;min-height:150px;" [innerHTML]="comment.commentary"></div>
      </div>
    </accordion-group>
    <br />
    <br />
  </accordion>
</div>
