.skill-name {
  font-size: 0.9em;
}

.chargen-skill-input {
  width: 28px;
  font-size: 0.9em;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.chargen-skil-option {
  width: 110px;
  height: 1.1em;
  font-size: 0.9em;
  margin-left: 4px;
}

.chargen-skil-option::before {
  content: ": ";
  display: block;
}

.chargen-skill-is-role span.skill-name:first-child::before {
  content: '*';
}

.chargen-skill-is-role.chargen-skill-is-secodary span.skill-name:first-child::before {
  content: '!';
}

.chargen-skill-is-role.chargen-role-choice span.skill-name:first-child::before {
  content: '@';
}

.chargen-skill-is-role span {
  background-color: #ffff99;
  font-weight: bold;
}

.chargen-skill-is-role input {
  background-color: #ffff22;
}

.chargen-skill-has-value {
  background-color: #ffff22;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input.chargen-skill-input::-webkit-outer-spin-button,
input.chargen-skill-input::-webkit-inner-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.chargen-skill-input[type=number] {
  -moz-appearance:textfield;
}

.article {
  display: flex;
}

.article .skill-name,
.article .skill-inputs {
  flex: 1 0 auto;
}
.article .dots {
  flex: 0 1 auto;
  /*Allows too long content to be hidden.*/
  overflow: hidden;
}
.dots::before {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

.chargen-skill:hover {
  background-color: #BBB;
  padding-right: 3px;
  padding-left: 3px;
  cursor: default;
}
.chargen-skill:hover .skill-name {
  font-size: 18px;
}
.chargen-skill:hover input {
  height: 22px;
}

.chargen-skill:hover input.chargen-skil-option {
  margin-top: 4px;
}


.chargen-skill .ng-fa-icon {
  display: none;
  cursor: pointer;
  margin-right:3px;
  color: red;
  font-size: 20px;
}

.chargen-skill:hover .ng-fa-icon {
  display: inline-block;
}

span.sa-name {
  font-size: 14px;
  margin: 5px 0px;
}
